/*
Errno::ENOENT: No such file or directory - a4.1.scss

Backtrace:
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:360:in `read'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:360:in `update_stylesheet'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:283:in `watch'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:117:in `initialize_adapter'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/darwin.rb:38:in `start'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/darwin.rb:38:in `initialize'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/darwin.rb:38:in `new'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/darwin.rb:38:in `start'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:291:in `watch'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:455:in `watch_or_update'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:318:in `process_result'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/sass:9
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - a4.1.scss"; }
