/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 test
 */
/* ==========================================================================
   SASS variables and mix-ins
   ========================================================================== */
/* ========== Basic CUMC Colors ============= */
/* ========== highlighted ============= */
/* ========== Darkened ============= */
/* ========== New Colors ============= */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4;
  font-feature-settings: "liga" "dlig";
  text-rendering: optimizeLegibility; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #830051;
  text-shadow: none;
  color: white; }

::selection {
  background: #830051;
  text-shadow: none;
  color: white; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
  Core Typography
   ========================================================================== */
body {
  font-family: "Avenir", "Helvetica", "Arial", "sans-serif"; }

/* ----------- Default Heading Styles -----------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  line-height: 1.25em;
  font-size: 1em;
  font-weight: bold; }

h1 {
  font-size: 2em;
  color: #333; }

h2 {
  font-size: 2em;
  color: #666;
  font-weight: normal; }

h3 {
  font-size: 1.5em;
  color: #333;
  font-weight: bold; }

h4 {
  font-size: 1.5em;
  color: #666;
  font-weight: normal; }

h5 {
  font-size: 1.25em;
  color: #666; }

h6 {
  font-size: 1em;
  color: #666;
  font-weight: bold; }

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: -.5em; }

/* ----------- Default Typographic Styles -----------*/
p + p {
  margin-top: -1em;
  text-indent: 1.5em; }

p {
  margin: 0 0 1em 0;
  line-height: 1.5em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  max-width: 52em; }

.maincontent p {
  font-family: "Minion Pro", "Georgia", "serif"; }

.lt-ie9 p {
  max-width: 100%; }

strong, b {
  font-weight: 600; }

em, i {
  font-style: italic; }

a {
  text-decoration: none;
  border: 0;
  color: #e98300; }

abbr, acronym {
  border-bottom: .1em dotted;
  cursor: help;
  font-size: .85em;
  font-weight: 500; }

time {
  font-weight: 300; }

del {
  text-decoration: strikethrough; }

ins {
  text-decoration: none;
  border-bottom: dotted 1px #cccccc; }

ins:after {
  content: "(updated)";
  font-size: .5em;
  vertical-align: top;
  weight: 900; }

blockquote {
  margin: 1.5rem 3rem;
  display: inline-block;
  text-align: center; }

blockquote:before {
  content: "“";
  font-size: 6em;
  float: left;
  margin: -0.25em 0 0 -0.5em; }

blockquote:after {
  content: "”";
  font-size: 6em;
  line-height: 0;
  float: right;
  position: relative;
  top: .36em;
  right: -.5em; }

blockquote p:before {
  content: "â€œ"; }

blockquote p:first-child:before {
  content: ""; }

blockquote p + p:last-child:after {
  content: "â€"; }

blockquote p:last-child {
  margin-bottom: 1em; }

blockquote cite {
  font-style: italic;
  font-weight: 800; }

cite {
  font-style: italic; }

sub {
  font-size: .75em;
  vertical-align: bottom; }

sup {
  font-size: .75em;
  vertical-align: top; }

big {
  font-size: 1.5em; }

small {
  font-size: .75em;
  font-weight: 60; }

strike, s {
  text-decoration: strikethrough; }

pre {
  padding: 1em;
  margin: 1em;
  background: #ccc; }

/* ----------- some common classes -----------*/
.phone, .fax, .e-mail, .url {
  white-space: nowrap; }

.vcard {
  margin-bottom: 1em; }

/* ----------- Default list Styles -----------*/
ul,
ol,
dl {
  padding: 0 0 1em 2em;
  margin: 0 0 1em 0; }

ol ol {
  list-style-type: lower-latin; }

ol ol ol {
  list-style-type: lower-roman; }

ol ol ol ol {
  list-style-type: numeral; }

dt {
  font-weight: 800; }

dd {
  margin: 0 0 1em 0; }

dd + dd {
  margin: -.5em 0 1em 0; }

/* ----------- Default Form Styles -----------*/
/* 
form { width: 75%;}
input {width: 40%; min-width: 308px; margin: 0 1% .25em 1%; height: 1.5em; padding: 0 .25em; float: left; border: solid 1px #ccc;}
input.half {width: 18.33%; min-width: 160px; margin: 0 1%;}
optgroup {}
label {width: 42%; margin: 0 1% .25em 0; min-height: 2em; float: left; clear: left; text-align: right; padding: .25em 0 0 0;}
textarea { margin: 0 1% .25em 1%; padding: .25em; float: left; border: solid 1px #ccc; width: 40%; min-width: 308px;}
select {width: 41%; min-width: 317px; padding: .25em; float: left; margin: 0 1% .25em 1%; background: none; border: solid 1px #ccc;}
input[type="checkbox"], input[type="radio"] {width: 1em; min-width: 1em; height: 1em; margin-top: .5em;}
input[type="button"], input[type="submit"] {width: auto; min-width: 0;}
input[type="button"]:hover, input[type="submit"]:hover {background: #333; color: white;}
option {}
legend { padding: 1em;}
fieldset {padding: 1em; border: solid #ccc; border-width: 1px 0 0 0;}
 */
table {
  margin: 0;
  padding: 0; }

tr {
  margin: 0;
  padding: 0; }

td {
  margin: 0;
  padding: .5em 1em;
  text-align: left;
  border-bottom: solid 1px #ccc; }

th {
  margin: 0;
  padding: .5em 1em;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  border: solid #333;
  border-width: 0 0 2px 0; }

caption {
  text-align: left;
  font-style: italic; }

thead {
  margin: 0;
  padding: 0;
  border: solid #333;
  border-width: 0 0 2px 0; }

tbody {
  margin: 0;
  padding: 0;
  background: none; }

tfoot {
  margin: 0;
  padding: 0;
  border: solid #333;
  border-width: 2px 0 0 0;
  background: #ccc; }

tfoot tr {
  border-width: 1px 0 0 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table {
  border-collapse: collapse !important; }

table {
  max-width: 100%;
  background-color: transparent; }

th {
  text-align: left; }

table {
  width: 100%;
  margin-bottom: 20px; }

table thead > tr > th,
table tbody > tr > th,
table tfoot > tr > th,
table thead > tr > td,
table tbody > tr > td,
table tfoot > tr > td {
  padding: 1em;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd; }

table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd; }

table caption + thead tr:first-child th,
table colgroup + thead tr:first-child th,
table thead:first-child tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child td {
  border-top: 0; }

table tbody + tbody {
  border-top: 2px solid #dddddd; }

table table {
  background-color: #ffffff; }

@media (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd; }

  .table-responsive > table {
    margin-bottom: 0;
    background-color: #fff; }

  .table-responsive > table > thead > tr > th,
  .table-responsive > table > tbody > tr > th,
  .table-responsive > table > tfoot > tr > th,
  .table-responsive > table > thead > tr > td,
  .table-responsive > table > tbody > tr > td,
  .table-responsive > table > tfoot > tr > td {
    white-space: nowrap; }

  .table-responsive > .table-bordered {
    border: 0; }

  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0; }

  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0; }

  .table-responsive > .table-bordered > thead > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > thead > tr:last-child > td,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0; } }
fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="file"] {
  display: block; }

select[multiple],
select[size] {
  height: auto; }

select optgroup {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto; }

textarea.form-control {
  height: auto; }

radio,
checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle; }

radio label,
checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer; }

radio input[type="radio"],
radio-inline input[type="radio"],
checkbox input[type="checkbox"],
checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px; }

radio + radio,
checkbox + checkbox {
  margin-top: -5px; }

input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed; }

/* ----------- Default Block/Layout Element Styles -----------*/
/* ----------- Unstyled (i.e. left to the browser) Elements. To Be Completed as needed -----------*/
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* ==========================================================================
   Global Header
   ========================================================================== */
.globalheader {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  float: left; }

/* ==========================================================================
   Site Header
   ========================================================================== */
.siteheader {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0; }

/* ==========================================================================
   Main Body
   ========================================================================== */
.maincontent {
  padding: 0 2.5%;
  width: 95%;
  float: left;
  margin-bottom: 2em; }

article {
  width: 100%;
  overflow: hidden; }

/* ==========================================================================
   Sidebar
   ========================================================================== */
sidebar, .sidebar {
  float: left;
  width: 100%; }

/* ==========================================================================
   Site Footer
   ========================================================================== */
.sitefooter {
  width: 95%;
  padding: 0 2.5%;
  clear: both; }

/* ==========================================================================
   Global Footer
   ========================================================================== */
.globalfooter {
  width: 95%;
  padding: 0 2.5%;
  clear: both; }

/* ==========================================================================
   Clown Colors for testing layout
   ========================================================================== 

.globalheader {background: red;}
.siteheader {background: orange;}
.maincontent {background: yellow;}
  article {background: green;}
  sidebar {background: blue;}
.sitefooter {background: indigo;}
.globalfooter {background: violet;}
 
*/
/* ==========================================================================
   Logo imagereplace
   ========================================================================== */
.logotype {
  background: url("../img/logos/CUMCLogo2c.svg") no-repeat;
  background-size: 90%;
  width: 100%;
  height: 2em;
  margin: 0;
  padding: 0;
  clear: both; }

/* ==========================================================================
   Buttons and Starter Navigation
   ========================================================================== */
nav.basic ul {
  margin: 0 0 2em 0;
  padding: 0;
  float: left; }
  nav.basic ul li {
    cursor: pointer;
    margin: 0;
    padding: .25em 2.5%;
    float: left;
    border: solid 1px #73757a;
    margin: -1px 0 0 -1px;
    width: 95%;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }
  nav.basic ul li.active, nav.basic ul li:hover {
    background: #73757a;
    color: white; }

.button {
  display: inline-block;
  padding: .25em 1em;
  border: solid 3px;
  margin: 1%;
  cursor: pointer;
  font-weight: 800;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  .button.solid {
    border: 0;
    color: white !important;
    background-color: #73757a; }
  .button.solid.blue {
    background-color: #1b4585;
    color: white; }
  .button.solid.orange {
    background-color: #e98300; }
  .button.solid.green {
    background-color: #b6bf00; }
  .button.solid.pink {
    background-color: #830051; }
  .button.solid.gray {
    background-color: #73757a; }
  .button:hover {
    background-color: #73757a;
    border-color: #73757a;
    color: white; }
  .button.active {
    background-color: #2d2e31;
    border-color: #2d2e31;
    color: white; }
  .button.blue {
    background-color: white;
    color: #1b4585; }
  .button:hover.blue {
    background-color: #1b4585;
    border-color: #1b4585;
    color: white; }
  .button.active.blue {
    background-color: #0d275f;
    border-color: #0d275f;
    color: white; }
  .button.pink {
    background-color: white;
    color: #830051; }
  .button:hover.pink {
    background-color: #830051;
    border-color: #830051;
    color: white; }
  .button.active.pink {
    background-color: #5d0030;
    border-color: #5d0030;
    color: white; }
  .button.green {
    background-color: white;
    color: #97a200; }
  .button:hover.green {
    background-color: #b6bf00;
    border-color: #b6bf00;
    color: white; }
  .button.active.green {
    background-color: #97a200;
    border-color: #97a200;
    color: white; }
  .button.orange {
    background-color: white;
    color: #e98300; }
  .button:hover.orange {
    background-color: #e98300;
    border-color: #e98300;
    color: white; }
  .button.active.orange {
    background-color: #dd5d00;
    border-color: #dd5d00;
    color: white; }

/* ==========================================================================
   Global Header
   ========================================================================== */
.globalheader {
  width: 100%;
  margin: 0;
  font-size: .85rem; }
  .globalheader nav {
    margin: 0;
    width: 100%;
    background: #1b4585;
    float: left;
    overflow: visible;
    border-bottom: solid 1px white;
    -moz-box-shadow: 0px 1px 14px #999;
    -webkit-box-shadow: 0px 1px 14px #999;
    box-shadow: 0px 1px 14px #999;
    min-height: 1.5rem; }
    .globalheader nav .globalNavToggle {
      display: block;
      float: left;
      position: absolute;
      top: 0;
      margin: .25rem 1rem 0 1em;
      padding: 0;
      overflow: hidden;
      color: white;
      width: 90%;
      white-space: nowrap;
      cursor: pointer;
      z-index: 1;
      font-family: "Minion Pro", "Georgia", "serif"; }
    .globalheader nav ul {
      float: left;
      width: 100%;
      margin: 1.5rem 0 0 0;
      border: 0;
      padding: 0 0 0;
      background: #1b4585;
      color: white;
      z-index: 100; }
      .globalheader nav ul li {
        float: left;
        clear: left;
        color: white;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        font-family: "Avenir", "Helvetica", "Arial", "sans-serif";
        font-weight: 200;
        font-size: .85rem;
        width: 100%; }
        .globalheader nav ul li a {
          color: white;
          display: block;
          padding: 0;
          margin: 0;
          text-decoration: none;
          height: 1.25rem;
          overflow: hidden;
          padding: .25rem 1rem; }
          .globalheader nav ul li a:hover {
            background: #2c68b2; }

/* ==========================================================================
   Site Header
   ========================================================================== */
.siteheader {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0; }
  .siteheader nav {
    display: block;
    float: left;
    font-size: .85rem; }
    .siteheader nav ul {
      float: left;
      margin: 0;
      padding: 0;
      list-style: none; }
      .siteheader nav ul li {
        display: block;
        float: left;
        width: 100%; }
        .siteheader nav ul li a {
          border: dotted 1px #bec1c7;
          border-width: 0 0 1px 0;
          display: block;
          width: 90%;
          padding: 2% 5%;
          text-decoration: none; }
          .siteheader nav ul li a.active {
            color: #0090df; }
          .siteheader nav ul li a:hover {
            background: #f7b000;
            color: white;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out; }
        .siteheader nav ul li #navsearch {
          padding: 5%; }
          .siteheader nav ul li #navsearch input[type="text"] {
            border: solid 1px #73757a;
            margin: .5em 0;
            padding: .25em;
            width: 95%; }

/* ==========================================================================
   Navigation Items
   ========================================================================== */
.utilitynav {
  font-size: .75rem;
  float: right;
  width: 100%; }
  .utilitynav ul {
    float: right;
    width: 100%;
    clear: none; }
    .utilitynav ul li {
      width: 33.3%; }
      .utilitynav ul li a {
        border: 0;
        padding: .25em 5%; }
        .utilitynav ul li a:hover {
          background: white;
          color: #f7b000; }
        .utilitynav ul li a.active {
          color: #e98300; }

.persistentnav {
  background: #1b4585;
  clear: both;
  width: 100%; }
  .persistentnav ul {
    width: 100%; }
    .persistentnav ul li {
      clear: left; }
      .persistentnav ul li a {
        color: white; }

.localnav ul li a {
  padding: .25em 1em; }
  .localnav ul li a:hover {
    background: #f7b000;
    color: white; }
  .localnav ul li a.active {
    background: #bec1c7; }

.breadcrumb {
  float: left;
  display: inline;
  margin: 0 0 1.5% 0;
  clear: none; }
  .breadcrumb ul {
    width: auto; }
    .breadcrumb ul li {
      display: none; }
      .breadcrumb ul li.active, .breadcrumb ul li.active-trail {
        display: block;
        float: left;
        clear: none;
        width: auto;
        position: relative; }
        .breadcrumb ul li.active:after, .breadcrumb ul li.active-trail:after {
          content: ">";
          float: left;
          padding: .25rem; }
        .breadcrumb ul li.active:hover > a, .breadcrumb ul li.active-trail:hover > a {
          background: #e98300;
          color: white; }
        .breadcrumb ul li.active a, .breadcrumb ul li.active-trail a {
          float: left;
          clear: none;
          border: 0;
          margin: 0;
          padding: .25rem .5rem;
          width: auto; }
        .breadcrumb ul li.active ul, .breadcrumb ul li.active-trail ul {
          float: left; }
          .breadcrumb ul li.active ul li, .breadcrumb ul li.active-trail ul li {
            float: left;
            clear: left;
            width: 100%;
            margin: 0;
            padding: 0; }
            .breadcrumb ul li.active ul li:after, .breadcrumb ul li.active-trail ul li:after {
              content: none; }
          .breadcrumb ul li.active ul:hover, .breadcrumb ul li.active-trail ul:hover {
            -moz-box-shadow: 0px 1px 14px #999;
            -webkit-box-shadow: 0px 1px 14px #999;
            box-shadow: 0px 1px 14px #999;
            display: block;
            position: absolute;
            z-index: 100;
            background: white;
            width: 200%;
            max-width: 200px; }
            .breadcrumb ul li.active ul:hover li, .breadcrumb ul li.active-trail ul:hover li {
              float: left;
              clear: left;
              width: 100%;
              margin: 0;
              padding: 0; }
              .breadcrumb ul li.active ul:hover li a, .breadcrumb ul li.active-trail ul:hover li a {
                color: #73757a;
                width: 92%;
                padding: 2.5% 4%;
                margin: 0;
                line-height: 1.15em;
                border: dotted 1px #73757a;
                border-width: 0 0 1px 0; }
                .breadcrumb ul li.active ul:hover li a:hover, .breadcrumb ul li.active-trail ul:hover li a:hover {
                  color: white; }
              .breadcrumb ul li.active ul:hover li.active a, .breadcrumb ul li.active-trail ul:hover li.active a {
                background: #e98300;
                color: white; }
              .breadcrumb ul li.active ul:hover li.active-trail a, .breadcrumb ul li.active-trail ul:hover li.active-trail a {
                background: #e98300;
                color: white; }
      .breadcrumb ul li.active-trail:hover li {
        display: block;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }

div.drawertoggle {
  text-transform: uppercase; }

div.drawertoggle:first-child:before {
  content: "=";
  font-family: CUMCLogos;
  margin-right: .5em; }

div.drawershow {
  display: none; }

div.drawershow {
  background: #1b4585;
  display: block;
  cursor: pointer;
  float: left;
  padding: .5em 1em;
  margin: 0;
  color: white;
  z-index: 900; }

.slideout-subnav nav.localnav ul {
  display: none;
  width: 20%;
  min-width: 12rem;
  max-width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 500;
  -moz-box-shadow: 0px 1px 14px #999;
  -webkit-box-shadow: 0px 1px 14px #999;
  box-shadow: 0px 1px 14px #999;
  padding: 0 0 0 2.5%;
  float: left; }
  .slideout-subnav nav.localnav ul li {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    float: left; }
    .slideout-subnav nav.localnav ul li a {
      padding: .5em 5%;
      width: 90%;
      display: block; }

a.active {
  background: #0090df; }

/* ==========================================================================
   Main Body Styles
   ========================================================================== */
.maincontent {
  padding: 0 2.5%;
  width: 95%;
  float: left;
  margin-bottom: 2em; }
  .maincontent p {
    font-family: "Minion Pro", "Georgia", "serif"; }

.article-mini-module {
  float: right;
  clear: right;
  width: 45%;
  margin: 0 0 5% 5%;
  min-width: 200px; }

/* ==========================================================================
   Body Image Module and Captions
   ========================================================================== */
.image-wrapper {
  float: right;
  position: relative;
  width: 45%;
  max-height: 50%;
  margin: 0 0 5% 5%; }
  .image-wrapper img {
    width: 100%;
    float: right; }
  .image-wrapper .image-caption {
    float: left;
    clear: both;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    width: auto;
    padding: .5em;
    font-family: "Minion Pro", "Georgia", "serif";
    font-size: .85rem; }
    .image-wrapper .image-caption.bottom-right {
      bottom: 1em;
      right: 1em;
      width: 50%;
      position: absolute; }
    .image-wrapper .image-caption.bottom-left {
      bottom: 1em;
      left: 1em;
      width: 50%;
      position: absolute; }
    .image-wrapper .image-caption.top-right {
      top: 1em;
      right: 1em;
      width: 50%;
      position: absolute; }
    .image-wrapper .image-caption.top-left {
      top: 1em;
      left: 1em;
      width: 50%;
      position: absolute; }
    .image-wrapper .image-caption.top-center {
      top: 1em;
      left: 1em;
      right: 1em;
      width: auto;
      position: absolute; }
    .image-wrapper .image-caption.bottom-center {
      bottom: 1em;
      left: 1em;
      right: 1em;
      width: auto;
      position: absolute; }
  .image-wrapper .photo-credit {
    font-size: .75rem;
    color: #73757a;
    margin-left: .5em; }
  .image-wrapper a.photo-credit:hover {
    color: #f7b000; }

.feature-image {
  width: 100%; }

/* ==========================================================================
   Related links
   ========================================================================== */
.related-links h3 {
  font-size: .85em;
  text-transform: uppercase;
  letter-spacing: .2em; }
.related-links ul {
  margin: 0;
  padding: 0; }
  .related-links ul li {
    border-bottom: dotted 1px #0065bd;
    padding: .25em 0;
    font-size: .85rem; }
  .related-links ul li.external a:after {
    font-family: CUMCLogos;
    font-size: 1.25em;
    font-weight: normal;
    color: #73757a;
    content: " »"; }

/* ==========================================================================
   Blockquote
   ========================================================================== */
blockquote {
  margin: 5% 10%;
  text-align: center;
  float: left;
  width: 35%;
  font-style: italic; }

blockquote:before {
  content: "“";
  font-size: 6em;
  float: left;
  margin: -0.25em 0 0 -0.5em; }

blockquote:after {
  content: "”";
  font-size: 6em;
  line-height: 0;
  float: right;
  position: relative;
  top: .36em;
  right: -.5em; }

blockquote p:before {
  content: "â€œ"; }

blockquote p:first-child:before {
  content: ""; }

blockquote p + p:last-child:after {
  content: "â€"; }

blockquote p:last-child {
  margin-bottom: 1em; }

blockquote cite {
  font-style: italic;
  font-weight: 800; }

blockquote.article-mini-module {
  width: 35%;
  margin: 2.5% 7.5%; }

/* ==========================================================================
   Asides
   ========================================================================== */
aside p {
  max-width: 26rem;
  font-size: .85rem;
  margin: 1em 0; }
aside h1 {
  font-size: 1.5rem; }
aside h2 {
  font-size: 1.25rem; }
aside h3 {
  font-size: 1rem; }

/* ==========================================================================
   Sidebars
   ========================================================================== */
sidebar, .sidebar {
  font-size: .85rem;
  margin: 0;
  float: left;
  width: 100%;
  padding: 0; }
  sidebar h1, .sidebar h1 {
    font-size: 1.5rem; }
  sidebar h2, .sidebar h2 {
    font-size: 1.25rem; }
  sidebar h3, .sidebar h3 {
    font-size: 1rem; }
  sidebar > *, .sidebar > * {
    border-top: solid 0.25rem #73757a;
    padding: .5rem 5% 1.5rem 5%;
    clear: both; }

/* ==========================================================================
   News Module
   ========================================================================== */
.news .news-index {
  margin: 0; }
  .news .news-index ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    .news .news-index ul li {
      margin: 0;
      padding: .5em 0;
      border-bottom: solid 1px #bec1c7; }
      .news .news-index ul li img {
        max-width: 120px;
        float: left;
        margin-right: 2.5%; }
      .news .news-index ul li h1 {
        font-size: 1.15rem;
        font-weight: 800;
        margin: 0; }
      .news .news-index ul li h2 {
        font-size: 1rem;
        margin: 0; }
      .news .news-index ul li h3 {
        font-size: 1rem;
        font-weight: 800;
        margin: 0; }
      .news .news-index ul li .primary-category {
        font-size: .75em;
        text-transform: uppercase;
        margin: 0;
        font-weight: 800;
        color: #73757a; }
      .news .news-index ul li .datetime {
        font-size: .75em; }
      .news .news-index ul li .byline {
        font-size: .55em;
        text-transform: uppercase;
        font-weight: 800;
        color: #73757a; }
      .news .news-index ul li p {
        font-size: .85rem;
        line-height: 1.25em;
        letter-spacing: -.03em; }

/* ==========================================================================
   event Module
   ========================================================================== */
.button.addtocalendar {
  padding: .5em;
  line-height: 1em;
  font-size: .5rem;
  text-transform: uppercase;
  border: 0;
  background: #dfe8f4;
  margin: 0; }
  .button.addtocalendar:hover {
    background: #1b4585;
    color: white; }

.events .events-index {
  margin: 0; }
  .events .events-index dl {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    .events .events-index dl dt {
      float: left;
      width: 95%;
      min-width: 13em;
      padding: .5em;
      color: #1b4585;
      background: #dfe8f4;
      clear: both; }
    .events .events-index dl dd {
      margin: 0;
      padding: .5em 0;
      border-bottom: solid 1px #bec1c7;
      float: left; }
      .events .events-index dl dd ul {
        float: left;
        width: auto;
        list-style: none;
        margin: 0;
        padding: 0; }
        .events .events-index dl dd ul li {
          float: left;
          clear: left;
          margin: 0 0 1em 0;
          padding: 0; }
          .events .events-index dl dd ul li img {
            max-width: 120px;
            float: left;
            margin: 0 2.5% 2.5% 0; }
          .events .events-index dl dd ul li h1 {
            font-size: 1.15rem;
            font-weight: 800;
            margin: 0;
            min-width: 50%; }
          .events .events-index dl dd ul li h2 {
            font-size: 1rem;
            font-weight: 800;
            margin: 0;
            min-width: 50%; }
          .events .events-index dl dd ul li h3 {
            font-size: 1rem;
            margin: 0;
            min-width: 50%; }
          .events .events-index dl dd ul li .primary-category {
            font-size: .75em;
            text-transform: uppercase;
            margin: 0;
            font-weight: 800;
            color: #73757a; }
          .events .events-index dl dd ul li .datetime {
            font-size: .75em; }
          .events .events-index dl dd ul li .byline {
            font-size: .55em;
            text-transform: uppercase;
            font-weight: 800;
            color: #73757a; }
          .events .events-index dl dd ul li p {
            font-size: .85rem;
            line-height: 1.25em;
            letter-spacing: -.03em; }
.events .abbreviated p {
  display: none; }

/* ==========================================================================
   Calendar Module
   ========================================================================== */
.calendar hgroup {
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 1em; }
  .calendar hgroup * {
    text-align: center;
    line-height: 2rem;
    margin: 0 2rem; }
  .calendar hgroup a.prev:before {
    content: "<";
    font-family: CUMCLogos;
    margin: 0 .5em; }
  .calendar hgroup a.next:after {
    content: ">";
    font-family: CUMCLogos;
    margin: 0 .5em; }
  .calendar hgroup a:hover {
    color: #e98300; }
.calendar table tr th {
  display: none; }
.calendar table tr td {
  float: left;
  clear: left;
  padding: 0;
  margin: 0;
  width: 100%; }
  .calendar table tr td.today {
    background: #f7b000; }
    .calendar table tr td.today span.calendardate {
      color: white;
      background: none;
      opacity: .25; }
    .calendar table tr td.today ul:before {
      content: "TODAY";
      display: block;
      color: #1b4585;
      margin: 0;
      padding: .5em;
      font-weight: bold; }
    .calendar table tr td.today li, .calendar table tr td.today dd {
      padding: 2.5%; }
      .calendar table tr td.today li a:hover, .calendar table tr td.today dd a:hover {
        color: white; }
      .calendar table tr td.today li .eventtime, .calendar table tr td.today dd .eventtime {
        color: white; }
  .calendar table tr td span.calendardate {
    float: left;
    display: block;
    color: #1b4585;
    background: #dfe8f4;
    width: 95%;
    margin: 0;
    padding: .5em;
    font-weight: bold; }
  .calendar table tr td ul, .calendar table tr td dl {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 70%; }
    .calendar table tr td ul li, .calendar table tr td ul dd, .calendar table tr td dl li, .calendar table tr td dl dd {
      margin: 0;
      padding: .25em 0;
      font-size: .85rem; }
      .calendar table tr td ul li img, .calendar table tr td ul dd img, .calendar table tr td dl li img, .calendar table tr td dl dd img {
        display: none; }
      .calendar table tr td ul li a:hover, .calendar table tr td ul dd a:hover, .calendar table tr td dl li a:hover, .calendar table tr td dl dd a:hover {
        color: orange; }
      .calendar table tr td ul li h1, .calendar table tr td ul dd h1, .calendar table tr td dl li h1, .calendar table tr td dl dd h1 {
        font-size: 1rem;
        font-weight: 800;
        margin: 0;
        line-height: 1.15em; }
      .calendar table tr td ul li h2, .calendar table tr td ul dd h2, .calendar table tr td dl li h2, .calendar table tr td dl dd h2 {
        font-size: .85rem;
        margin: 0;
        line-height: 1.15em; }
      .calendar table tr td ul li h3, .calendar table tr td ul dd h3, .calendar table tr td dl li h3, .calendar table tr td dl dd h3 {
        font-size: .85rem;
        font-weight: 800;
        margin: 0;
        line-height: 1.15em; }
      .calendar table tr td ul li .primary-category, .calendar table tr td ul dd .primary-category, .calendar table tr td dl li .primary-category, .calendar table tr td dl dd .primary-category {
        display: none; }
      .calendar table tr td ul li .eventtime, .calendar table tr td ul dd .eventtime, .calendar table tr td dl li .eventtime, .calendar table tr td dl dd .eventtime {
        color: #e98300; }
      .calendar table tr td ul li .byline, .calendar table tr td ul dd .byline, .calendar table tr td dl li .byline, .calendar table tr td dl dd .byline {
        font-size: .55em;
        text-transform: uppercase;
        font-weight: 800;
        color: #73757a; }
      .calendar table tr td ul li p, .calendar table tr td ul dd p, .calendar table tr td dl li p, .calendar table tr td dl dd p {
        display: none; }

/* ==========================================================================
   Doctor Index Card
   ========================================================================== */
.faculty {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%; }

.resultscard {
  float: left;
  clear: left;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: solid 1px #bec1c7;
  padding: 1% 0%; }
  .resultscard .profilelink {
    padding: 2px;
    float: right;
    max-width: 25%;
    margin: 0; }
    .resultscard .profilelink .headshot {
      width: 100%;
      float: left;
      max-width: 118px;
      border: solid 1px #bec1c7;
      padding: 2.5%; }
    .resultscard .profilelink span {
      display: block;
      padding: .5em 0;
      text-align: center;
      clear: left; }
  .resultscard h1 {
    font-size: 1.25rem;
    margin-bottom: 0; }
    .resultscard h1 span {
      font-size: .85em; }
  .resultscard h2 {
    font-size: 1rem;
    margin: .75em 0 .5em 0;
    clear: left; }
    .resultscard h2 span {
      font-weight: normal; }
  .resultscard section {
    float: left;
    margin-bottom: .75em;
    min-width: 180px;
    width: 70%; }
    .resultscard section dl {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1rem;
      line-height: 1.25em; }
      .resultscard section dl dt {
        padding: 0;
        margin: .75em 0 .5em 0; }
      .resultscard section dl dd {
        padding: 0;
        margin: 0; }
  .resultscard ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    .resultscard ul li {
      float: left;
      clear: left; }
      .resultscard ul li h3 {
        font-size: 1rem; }
  .resultscard .locations span {
    display: block; }

.abbreviated .resultscard {
  padding: 0;
  width: 20%;
  min-width: 300px;
  height: 200px;
  font-size: .85em;
  float: left;
  clear: none; }
  .abbreviated .resultscard .profilelink {
    margin-right: 5%;
    width: 25%; }
  .abbreviated .resultscard h1 {
    font-size: 1.25em; }
  .abbreviated .resultscard h2 {
    display: block;
    font-size: 1em; }
  .abbreviated .resultscard dl {
    font-size: 1em; }
  .abbreviated .resultscard dt {
    margin: 0; }
  .abbreviated .resultscard dd {
    margin: 0 0 .5em 0; }
  .abbreviated .resultscard .headshot {
    display: block;
    border: 0;
    padding: 0; }
  .abbreviated .resultscard section {
    display: none;
    float: right;
    width: 68.5%;
    margin: 0;
    padding: 0;
    font-size: .85rem; }
  .abbreviated .resultscard .department-division {
    display: block; }
  .abbreviated .resultscard .availability {
    display: block; }

sidebar .abbreviated .resultscard {
  width: auto;
  height: auto; }

/* ==========================================================================
   Global Footer
   ========================================================================== */
section.globalfooter {
  font-family: "Avenir", "Helvetica", "Arial", "sans-serif";
  background: #73757a;
  color: white; }
  section.globalfooter h3 {
    cursor: pointer;
    color: white; }
  section.globalfooter h3.active {
    color: #e98300; }
  section.globalfooter a {
    font-size: .85rem;
    text-decoration: none;
    color: #2d2e31;
    display: block;
    padding: .25rem;
    clear: both;
    color: white; }
    section.globalfooter a:hover, section.globalfooter a .ui-state-active a {
      background: #0090df;
      color: white;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
  section.globalfooter div {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 2rem; }
    section.globalfooter div ul {
      margin: 1rem 0;
      padding: 0;
      float: left;
      width: 100%; }
      section.globalfooter div ul li {
        list-style: none;
        margin: 0;
        padding: 0; }
    section.globalfooter div h3 {
      font-size: 1rem; }
  section.globalfooter ul.general_info {
    float: left;
    clear: both;
    width: 100%;
    padding-bottom: 2em; }
    section.globalfooter ul.general_info li {
      float: left; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.nobullet * {
  list-style: none; }

.listreset, .listreset * {
  margin: 0;
  padding: 0;
  list-style: none; }

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearboth {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/*
 *  Adjective class to hide all but the essential elements
 */
.abbreviated .datetime, .abbreviated .byline, .abbreviated .primary-category, .abbreviated img, .abbreviated h2, .abbreviated h3 {
  display: none; }

/*
 *  makes stuff stick to the top
 */
.stickdiv {
  position: fixed;
  top: 0px;
  opacity: .7; }
  .stickdiv:hover {
    opacity: 1; }

/*
 *  float left or right
 */
.left {
  float: left;
  margin: 0 1em 1em 0; }

.right {
  float: right;
  margin: 0 0 1em 1em; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  /* ==========================================================================
     Buttons and Starter Navigation
     ========================================================================== */
  nav ul li {
    cursor: pointer; }

  nav.basic ul li {
    width: auto;
    padding: .25em 1em; }

  /* ==========================================================================
     Global Header
     ========================================================================== */
  .globalheader nav .globalNavToggle {
    float: left;
    position: relative;
    overflow: hidden;
    width: auto;
    text-align: right;
    cursor: pointer;
    padding: 0; }
  .globalheader nav ul {
    float: left;
    width: auto;
    padding: 0;
    margin: 0;
    height: 1.5em;
    overflow: hidden; }
    .globalheader nav ul li {
      clear: none;
      width: auto;
      padding: 0;
      margin: 0; }
      .globalheader nav ul li a {
        margin: 0; }

  /* ==========================================================================
     Site Header
     ========================================================================== */
  .logotype {
    width: 33%; }

  .siteheader nav.utilitynav ul li {
    width: auto;
    padding: .5em 5%; }
    .siteheader nav.utilitynav ul li a {
      white-space: nowrap; }
      .siteheader nav.utilitynav ul li a:hover {
        background: #e98300; }
  .siteheader nav.persistentnav {
    width: 50%;
    max-width: 600px;
    padding: 0;
    margin: 0;
    float: left;
    clear: none;
    border: 0; }
    .siteheader nav.persistentnav ul {
      display: table;
      padding: 0;
      margin: 0; }
      .siteheader nav.persistentnav ul li {
        width: auto;
        float: none;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        clear: none;
        padding: 0;
        margin: 0; }
        .siteheader nav.persistentnav ul li a {
          border-width: 0;
          display: block;
          padding: .5em 0;
          margin: 0;
          width: 100%;
          float: left; }
    .siteheader nav.persistentnav.orgnav {
      background: #1b4585;
      float: left; }
    .siteheader nav.persistentnav.missionnav {
      background: #0065bd;
      float: left;
      background: #1b4585;
      /* Old browsers */
      background: -moz-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1b4585), color-stop(100%, #0065bd));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #1b4585 50%, #0065bd 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$cumcblue', endColorstr='$cumcblue2',GradientType=0 );
      /* IE6-9 */ }
  .siteheader nav.localnav {
    float: left;
    margin-bottom: 1em;
    float: left;
    padding: 0 0 0 10%; }
    .siteheader nav.localnav ul {
      width: 100%; }
      .siteheader nav.localnav ul li a {
        border-width: 0 0 1px 0; }

  .vertical-subnav .siteheader .navwrapper {
    margin-bottom: 2rem; }
  .vertical-subnav .siteheader nav.localnav {
    width: auto;
    padding: 0 2.5% 0 0;
    max-width: 200px; }
    .vertical-subnav .siteheader nav.localnav ul {
      /*  @include columns(1,auto,0,0); */
      float: left;
      width: 100%; }
      .vertical-subnav .siteheader nav.localnav ul li {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        float: left; }
        .vertical-subnav .siteheader nav.localnav ul li a {
          padding: .5em 5%;
          width: 90%;
          display: block; }
  .vertical-subnav .siteheader + * {
    width: 70%;
    float: left;
    clear: none;
    margin-top: 0; }

  aside, .aside {
    float: left;
    width: 20%;
    min-width: 320px; }

  /* ==========================================================================
      News
     ========================================================================== */
  .news-index.lateral ul {
    border: 0;
    margin: 1rem 0 2rem 0;
    max-width: 100%;
    overflow: hidden; }
    .news-index.lateral ul li {
      float: left;
      width: 30%;
      margin-right: 3.33%;
      border: 0;
      overlow: hidden; }

  /* ==========================================================================
      event
     ========================================================================== */
  .events .events-index dl dt {
    width: 10%;
    min-width: 3em;
    padding: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase; }
    .events .events-index dl dt span.date {
      display: block;
      font-size: 1.25rem;
      font-weight: bold; }
  .events .events-index dl dd {
    float: left;
    width: 80%; }
    .events .events-index dl dd ul {
      width: 100%; }
      .events .events-index dl dd ul li .eventtime {
        display: block; }
      .events .events-index dl dd ul li img {
        float: left; }
  .events .events-index.lateral dl dt {
    max-width: 2em;
    padding: .75em; }
  .events .events-index.lateral dl dd ul li {
    width: 30%;
    float: left;
    clear: none;
    margin-left: 3%; }
  .events .events-index.abbreviated dl {
    display: block;
    width: 100%; }
    .events .events-index.abbreviated dl dt {
      font-size: 1rem; }
      .events .events-index.abbreviated dl dt span.date {
        font-size: inherit; }
    .events .events-index.abbreviated dl dd {
      width: 70%; }
  .events .events-index.abbreviated.lateral dl dt {
    width: 5%;
    min-widht: 3em;
    font-size: 1em; }
  .events .events-index.aside dl {
    width: auto; }
  .events .events-index.aside dt {
    width: 95%;
    float: none;
    display: block;
    padding: .25rem;
    font-size: 1rem; }
    .events .events-index.aside dt span.date {
      font-size: inherit;
      display: inline;
      margin-left: .5em; }
  .events .events-index.aside dd {
    width: 100%; }

  .calendar table tr {
    display: table-row; }
    .calendar table tr th {
      display: table-cell;
      background: #73757a;
      color: white;
      text-align: center;
      text-align: left;
      line-height: 1em;
      padding: .5em; }
    .calendar table tr td {
      float: none;
      clear: none;
      width: 13.25%;
      height: 6rem;
      display: table-cell;
      border: solid 1px #bec1c7;
      padding: 0;
      position: relative;
      overflow: hidden; }
      .calendar table tr td span.calendardate {
        text-align: right;
        width: 100%;
        background: none;
        display: block;
        font-size: 6rem;
        line-height: 1em;
        letter-spacing: -.15em;
        color: #dfe8f4;
        font-weight: bold;
        background: none;
        padding: 0;
        margin: 0;
        position: relative;
        right: .05em;
        top: -.05em; }
        .calendar table tr td span.calendardate .full-day-month {
          display: none; }
      .calendar table tr td ul {
        position: relative;
        width: 100%;
        z-index: 100;
        top: -6rem;
        margin-bottom: -5rem; }
        .calendar table tr td ul li {
          margin: 5%;
          width: 90%; }
        .calendar table tr td ul:first-child img {
          display: block;
          position: absolute;
          height: 100%;
          width: auto;
          z-index: 0;
          opacity: .2; }

  /* ==========================================================================
     Doctor Index Card
     ========================================================================== */
  .resultscard {
    min-width: 0; }
    .resultscard h1 {
      font-size: 2rem; }
    .resultscard .profilelink {
      width: 18%;
      max-width: 120px;
      margin-right: 2%;
      float: left; }
      .resultscard .profilelink .headshot {
        max-width: 100%; }
    .resultscard section {
      float: left;
      width: 19%;
      margin-right: 2%; }

  /* ==========================================================================
     Global Footer
     ========================================================================== */
  .globalfooter.great-js-is-on {
    position: relative;
    background: #73757a;
    float: left;
    width: 95%;
    min-height: 15em; }
    .globalfooter.great-js-is-on h3 {
      float: left;
      margin: 1em .5em;
      font-size: 1rem;
      text-align: center; }
      .globalfooter.great-js-is-on h3:hover {
        color: #e98300; }
    .globalfooter.great-js-is-on .globalfooterbasics {
      clear: both;
      list-style: none;
      width: 70%;
      float: left; }
      .globalfooter.great-js-is-on .globalfooterbasics.affiliations {
        width: 20%;
        list-style: none;
        float: right;
        clear: none; }
    .globalfooter.great-js-is-on > div {
      position: absolute;
      background: #73757a;
      top: 3rem;
      left: 0;
      padding: 0 2.5%;
      width: 95%;
      border-top: solid 1px white; }
      .globalfooter.great-js-is-on > div ul {
        /* @include columns(5,auto,1em,0); */
        /*@include no-col-break()*/ } }
/*
 * THESE STYLES ARE JUST FORMATTING FOR THE MOODBOARDS AND SHOULD BE REMOVED FOR ANY REAL WORLD APPLICATION
 */
body {
  margin: 0;
  padding: 0; }

body > section {
  margin: 0;
  float: left;
  clear: left;
  width: 100%; }

nav.basic + * {
  clear: both;
  float: left;
  margin-top: 1em; }

nav.basic .sidebar {
  width: auto;
  min-width: 0; }

@media only screen and (min-width: 65em) {
  /* Style adjustments for viewports that meet the condition */
  /*
  * Version 5
  */
  .a1 {
    background: #F2F2F0;
    font-size: 18px;
    color: #2d2e31; }
    .a1 .logotype {
      position: absolute;
      top: 140px;
      left: 11%;
      float: none;
      background: none; }
      .a1 .logotype a {
        background: url(../img/logos/CUMClogo2c.svg) no-repeat;
        background-size: 100% auto;
        width: 218px;
        height: 38px;
        display: block;
        float: left;
        text-indent: -9999px;
        color: #1b4585; }
        .a1 .logotype a:hover {
          color: #2c68b2; }
    .a1 .ir:before {
      height: auto;
      color: white; }
    .a1 .globalheader {
      margin: 0;
      width: 100%;
      background: #1b4585;
      float: left;
      overflow: visible;
      border-bottom: solid 1px white;
      -moz-box-shadow: 0px 1px 14px #999;
      -webkit-box-shadow: 0px 1px 14px #999;
      box-shadow: 0px 1px 14px #999;
      min-height: 1.5rem; }
      .a1 .globalheader nav {
        margin-bottom: -1px;
        float: none;
        margin: 0 auto;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .a1 .siteheader {
      background: rgba(232, 233, 228, 0.9);
      background: #E8E8E6;
      background-position: 0 0;
      background-size: 100% auto;
      margin: 0 auto;
      float: none;
      height: 195px;
      padding: 2em 0 0 0; }
      .a1 .siteheader .navwrapper {
        float: none;
        width: 80%;
        background: rgba(0, 0, 0, 0.7);
        margin: 0 auto; }
      .a1 .siteheader nav.missionnav {
        background: none;
        width: auto;
        float: right;
        margin-right: 2%; }
      .a1 .siteheader nav.orgnav {
        background: none;
        width: auto;
        float: right;
        margin-left: 160px; }
      .a1 .siteheader nav.persistentnav {
        max-width: 100%;
        font-size: 1rem;
        background: transparent;
        padding-top: 1.5em; }
        .a1 .siteheader nav.persistentnav a:hover {
          background: rgba(0, 0, 0, 0.05);
          color: #1b4585; }
        .a1 .siteheader nav.persistentnav ul {
          display: block; }
          .a1 .siteheader nav.persistentnav ul li a {
            padding: 0;
            margin: 0.2em 1em;
            color: #1b4585;
            background: transparent;
            font-weight: 800; }
            .a1 .siteheader nav.persistentnav ul li a.active {
              background: rgba(0, 0, 0, 0.05);
              color: #1b4585; }
      .a1 .siteheader .utilitynav {
        width: 85%;
        float: none;
        margin: 0 auto; }
        .a1 .siteheader .utilitynav ul {
          float: right;
          margin: 1em 4% 0 0;
          display: block;
          width: 28%;
          clear: both; }
          .a1 .siteheader .utilitynav ul li {
            margin: 0 2.2% 0 0;
            padding: 0;
            width: 31%;
            float: left; }
            .a1 .siteheader .utilitynav ul li a {
              background: none;
              color: #2d2e31;
              padding: .5em;
              width: auto;
              display: block;
              font-weight: 100;
              font-size: 0.938em;
              border-bottom: 1px dotted #830051; }
              .a1 .siteheader .utilitynav ul li a:hover {
                background: rgba(255, 255, 255, 0.3); }
      .a1 .siteheader nav.localnav {
        clear: both;
        margin: 0;
        padding: 0 2%;
        margin: 0 auto;
        float: none;
        width: 80%; }
      .a1 .siteheader .breadcrumb {
        background: none;
        width: 78%;
        float: none;
        margin: 0 auto;
        padding: 0;
        display: block;
        font-style: italic;
        color: white; }
        .a1 .siteheader .breadcrumb ul {
          padding: 0;
          background: none; }
          .a1 .siteheader .breadcrumb ul li a {
            padding: .5em 1em;
            color: #1b4585; }
            .a1 .siteheader .breadcrumb ul li a:hover, .a1 .siteheader .breadcrumb ul li a:active {
              background: rgba(255, 255, 255, 0.2);
              color: #2c68b2; }
    .a1 .breadcrumb ul li.active:after, .a1 .breadcrumb ul li.active-trail:after {
      padding: 0.6rem .01rem;
      font-size: 0.7em; }
    .a1 .maincontent {
      margin: 0 auto;
      padding: 0 2%;
      float: none;
      width: 80%;
      background: #fff; }
      .a1 .maincontent article {
        width: 62%;
        margin: 1% 1.25% 1.25% 1.25%;
        padding: 1.25%;
        float: left;
        background: transparent;
        clear: left; }
      .a1 .maincontent sidebar {
        float: right;
        width: 30%;
        padding: 0 1.5%;
        color: #2d2e31;
        min-width: 0px;
        background: transparent;
        clear: right; }
        .a1 .maincontent sidebar a:hover {
          color: #2c68b2; }
        .a1 .maincontent sidebar * {
          min-width: 0; }
        .a1 .maincontent sidebar a, .a1 .maincontent sidebar h1, .a1 .maincontent sidebar h2, .a1 .maincontent sidebar h3, .a1 .maincontent sidebar h4, .a1 .maincontent sidebar h5, .a1 .maincontent sidebar h6 p {
          color: #1b4585; }
        .a1 .maincontent sidebar .related-links {
          background: #830051;
          color: white; }
          .a1 .maincontent sidebar .related-links h1, .a1 .maincontent sidebar .related-links h2, .a1 .maincontent sidebar .related-links h3, .a1 .maincontent sidebar .related-links h4, .a1 .maincontent sidebar .related-links h5, .a1 .maincontent sidebar .related-links h6, .a1 .maincontent sidebar .related-links a, .a1 .maincontent sidebar .related-links a:hover, .a1 .maincontent sidebar .related-links a:active {
            color: white; }
      .a1 .maincontent sidebar > *, .a1 .maincontent .sidebar > * {
        border-top: 0;
        border-bottom: solid 0.5rem #f0f0f0;
        padding: 2em 5% 1.5em 5%;
        float: left;
        width: 90%;
        display: block;
        clear: none; }
    .a1 .globalfooter {
      clear: both;
      margin-top: 2em; }

  .news .news-index ul li .primary-category {
    color: black; }

  a {
    color: #2c68b2; }
    a.hover {
      color: white;
      background: #0090df !important; }

  h1, h2, h3, h4, h5, h6 {
    color: black;
    text-transform: uppercase; }

  p {
    max-width: 42em; }

  blockquote {
    font-size: 1.6em;
    color: #2c68b2;
    font-weight: 100;
    text-align: left;
    margin: 5% 6%; }

  blockquote:before, blockquote:after {
    font-size: 3em;
    margin: -0.25em 0 0 -0.7em; }

  blockquote:after {
    right: -0.3em; }

  aside p {
    font-size: 1.2em;
    opacity: 0.9; }

  .image-wrapper .image-caption.bottom-right, .image-wrapper .image-caption.top-right, .image-wrapper .image-caption.top-left, .image-wrapper .image-caption.bottom-left {
    background: white;
    color: black;
    opacity: 0.9;
    padding: 1em; }
    .image-wrapper .image-caption.bottom-right a, .image-wrapper .image-caption.top-right a, .image-wrapper .image-caption.top-left a, .image-wrapper .image-caption.bottom-left a {
      color: black; }

  .image-wrapper .image-caption {
    padding: 1.4em;
    background: white;
    font-size: 0.9em;
    color: black; }
    .image-wrapper .image-caption a {
      color: black; }

  .related-links h3 {
    font-size: 1.3em; }
  .related-links ul li {
    border-bottom: none; }

  .news .news-index ul li {
    border-bottom: none; }
    .news .news-index ul li byline {
      font-size: 0.8em; }

  .news .news-index ul li img
  .events .events-index dl dt {
    background: #1b4585;
    padding: 1em;
    color: white;
    text-align: left; }
    .news .news-index ul li img
    .events .events-index dl dt .day {
      font-weight: 100;
      margin-bottom: -2px;
      display: block; }

  .abbreviated .resultscard .department-division {
    float: left;
    width: 60%; }

  sidebar .abbreviated .resultscard {
    width: 90%; }

  .clear {
    display: block;
    width: 100%;
    clear: both; }

  div.drawershow {
    background: #2c68b2;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Opera, Chrome, and Safari */
    padding: 0.5em .5%;
    margin: 0 0 0 -5%;
    position: absolute;
    top: 275px; }

  .slideout-subnav nav.localnav ul {
    background: white;
    padding: 9em 0 0 0;
    margin: 0;
    width: 300px;
    max-width: 300px;
    box-shadow: 0 0 56px rgba(0, 0, 0, 0.3); }
    .slideout-subnav nav.localnav ul li {
      width: 100%; }
      .slideout-subnav nav.localnav ul li a {
        padding: 1em 10%;
        width: 80%;
        border-bottom: 1px dotted; }
        .slideout-subnav nav.localnav ul li a:hover {
          background: #2c68b2; }
    .slideout-subnav nav.localnav ul form {
      position: absolute;
      top: 0;
      display: block;
      margin: 0.8em auto;
      padding: 1em 10% 1.2em 10%;
      width: 80%;
      border-bottom: 8px solid #2c68b2; }
      .slideout-subnav nav.localnav ul form input {
        margin: 1em 0 0 0;
        width: 92%;
        padding: 4%;
        border: 1px dotted #2c68b2; }
      .slideout-subnav nav.localnav ul form .searchline2 input {
        width: auto; }

  .stickdiv {
    top: 20px !important;
    position: fixed !important; } }
