@charset "UTF-8";
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   SASS variables and mix-ins
   ========================================================================== */
/* ========== Basic CUMC Colors ============= */
/* ========== highlighted ============= */
/* ========== Darkened ============= */
/* ========== New Colors ============= */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 106, main.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 111, main.scss */
html {
  font-size: 1em;
  line-height: 1.4;
  font-feature-settings: "liga" "dlig";
  text-rendering: optimizeLegibility; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 124, main.scss */
::-moz-selection {
  background: #830051;
  text-shadow: none;
  color: white; }

/* line 130, main.scss */
::selection {
  background: #830051;
  text-shadow: none;
  color: white; }

/*
 * A better looking default horizontal rule
 */
/* line 140, main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 157, main.scss */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 165, main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 175, main.scss */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 183, main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Noah's custom styles
   ========================================================================== */
/* ==========================================================================
   typography
   ========================================================================== */
/* line 204, main.scss */
body {
  font-family: "Avenir", "Helvetica", "Arial", "sans-serif"; }

/* line 206, main.scss */
a {
  color: #e98300; }

/* line 208, main.scss */
p {
  max-width: 52em; }

/* line 210, main.scss */
.phone, .fax, .e-mail, .url {
  white-space: nowrap; }

/* ==========================================================================
   CUMC FONT (experimental - January 2014)
   ========================================================================== 
.logotype {font-family: CUMCLogos; 
    font-weight: normal; 
    color: $cumcgray; 
    max-width: 100%; 
    font-size: 2.25rem; 
    margin: 2rem 2.5% 0 2.5%; 
    overflow: hidden;}
.logotype:before {content:"0"; color: $cumcblue;}
.logotype.monochrome:before {color: inherit;}
.logotype.blue {color: $cumcblue;}
.logotype.gray {color: $cumcgray;}
.logotype.white {color: white;}
.logotype.blue:before, .logotype.gray:before, .logotype.white:before {color: inherit;}

*/
/* ==========================================================================
   Logo imagereplace
   ========================================================================== */
/* line 237, main.scss */
.logotype {
  background: url("../img/logos/CUMCLogo2c.svg") no-repeat;
  background-size: 100%;
  width: 20%;
  height: 2em; }

/* ==========================================================================
   Swatches
   ========================================================================== */
/* line 251, main.scss */
section.colors {
  width: 100%; }
  /* line 252, main.scss */
  section.colors ul {
    float: left;
    clear: left;
    width: 100%; }
    /* line 255, main.scss */
    section.colors ul .colorsample {
      float: left;
      height: 2em;
      width: 16.3%;
      margin: 1px 1px 0 0;
      overflow: hidden;
      text-indent: 2000px; }
    /* line 256, main.scss */
    section.colors ul .cumcblue {
      background-color: #1b4585; }
    /* line 257, main.scss */
    section.colors ul .cumcgray {
      background-color: #73757a; }
    /* line 258, main.scss */
    section.colors ul .cumcgreen {
      background-color: #b6bf00; }
    /* line 259, main.scss */
    section.colors ul .cumcpink {
      background-color: #830051; }
    /* line 260, main.scss */
    section.colors ul .cumcorange {
      background-color: #e98300; }
    /* line 261, main.scss */
    section.colors ul .cumcblue2 {
      background-color: #0065bd; }
    /* line 262, main.scss */
    section.colors ul .cumcblue_highlight {
      background-color: #2c68b2; }
    /* line 263, main.scss */
    section.colors ul .cumcgray_highlight {
      background-color: #bec1c7; }
    /* line 264, main.scss */
    section.colors ul .cumcgreen_highlight {
      background-color: #dae100; }
    /* line 265, main.scss */
    section.colors ul .cumcpink_highlight {
      background-color: #b00077; }
    /* line 266, main.scss */
    section.colors ul .cumcorange_highlight {
      background-color: #f7b000; }
    /* line 267, main.scss */
    section.colors ul .cumcblue2_highlight {
      background-color: #0090df; }
    /* line 268, main.scss */
    section.colors ul .cumcblue_darken {
      background-color: #0d275f; }
    /* line 269, main.scss */
    section.colors ul .cumcgray_darken {
      background-color: #2d2e31; }
    /* line 270, main.scss */
    section.colors ul .cumcgreen_darken {
      background-color: #97a200; }
    /* line 271, main.scss */
    section.colors ul .cumcpink_darken {
      background-color: #5d0030; }
    /* line 272, main.scss */
    section.colors ul .cumcorange_darken {
      background-color: #dd5d00; }
    /* line 273, main.scss */
    section.colors ul .cumcblue2_darken {
      background-color: #0040a0; }
  /* line 275, main.scss */
  section.colors .primary-colors li {
    height: 4em; }

/* ==========================================================================
   Global Header
   ========================================================================== */
/* line 285, main.scss */
section.globalheader {
  width: 100%;
  margin: 0;
  font-size: .85rem; }
  /* line 289, main.scss */
  section.globalheader nav {
    margin: 0;
    width: 100%;
    background: #1b4585;
    float: left;
    overflow: visible;
    border-bottom: solid 1px white;
    -moz-box-shadow: 0px 1px 14px #999;
    -webkit-box-shadow: 0px 1px 14px #999;
    box-shadow: 0px 1px 14px #999;
    min-height: 1.5rem; }
    /* line 298, main.scss */
    section.globalheader nav .globalNavToggle {
      display: block;
      float: left;
      position: absolute;
      top: 0;
      margin: .25rem 1rem 0 1em;
      padding: 0;
      overflow: hidden;
      color: white;
      width: 90%;
      white-space: nowrap;
      cursor: pointer;
      z-index: 1;
      font-family: "Minion Pro", "Georgia", "serif"; }
    /* line 313, main.scss */
    section.globalheader nav ul {
      float: left;
      width: 100%;
      margin: 1.5rem 0 0 0;
      border: 0;
      padding: 0 0 0;
      background: #1b4585;
      color: white;
      z-index: 100; }
      /* line 326, main.scss */
      section.globalheader nav ul li {
        float: left;
        clear: left;
        color: white;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        font-family: "Avenir", "Helvetica", "Arial", "sans-serif";
        font-weight: 200;
        font-size: .85rem;
        width: 100%; }
        /* line 338, main.scss */
        section.globalheader nav ul li a {
          color: white;
          display: block;
          padding: 0;
          margin: 0;
          text-decoration: none;
          height: 1.25rem;
          overflow: hidden;
          padding: .25rem 1rem; }
          /* line 348, main.scss */
          section.globalheader nav ul li a:hover {
            background: #2c68b2; }

/* ==========================================================================
   Site Header
   ========================================================================== */
/* line 361, main.scss */
.standard-subnav #navsearch {
  display: none; }

/* line 363, main.scss */
section.siteheader {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0; }
  /* line 369, main.scss */
  section.siteheader h1 {
    clear: both;
    margin: 0 1em 1em 1em; }
  /* line 370, main.scss */
  section.siteheader nav {
    display: block;
    float: left;
    font-size: .85rem; }
    /* line 374, main.scss */
    section.siteheader nav ul {
      float: left;
      margin: 0;
      padding: 0;
      list-style: none; }
      /* line 379, main.scss */
      section.siteheader nav ul li {
        display: block;
        float: left;
        width: 100%; }
        /* line 383, main.scss */
        section.siteheader nav ul li a {
          border: dotted 1px #bec1c7;
          border-width: 0 0 1px 0;
          display: block;
          width: 90%;
          padding: 2% 5%;
          text-decoration: none; }
          /* line 391, main.scss */
          section.siteheader nav ul li a.active {
            color: #0090df; }
          /* line 394, main.scss */
          section.siteheader nav ul li a:hover {
            background: #f7b000;
            color: white;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out; }
        /* line 399, main.scss */
        section.siteheader nav ul li #navsearch {
          padding: 5%; }
          /* line 400, main.scss */
          section.siteheader nav ul li #navsearch input[type="text"] {
            border: solid 1px #73757a;
            margin: .5em 0;
            padding: .25em;
            width: 95%; }
    /* line 404, main.scss */
    section.siteheader nav.utilitynav {
      font-size: .75rem;
      float: right;
      width: 100%; }
      /* line 409, main.scss */
      section.siteheader nav.utilitynav ul {
        float: right;
        width: 100%;
        clear: none; }
        /* line 414, main.scss */
        section.siteheader nav.utilitynav ul li {
          width: 29%; }
          /* line 417, main.scss */
          section.siteheader nav.utilitynav ul li a {
            border: 0;
            padding: .25em 5%; }
            /* line 420, main.scss */
            section.siteheader nav.utilitynav ul li a:hover {
              background: white;
              color: #f7b000; }
            /* line 421, main.scss */
            section.siteheader nav.utilitynav ul li a.active {
              color: #e98300; }
    /* line 428, main.scss */
    section.siteheader nav.persistentnav {
      background: #1b4585;
      clear: both;
      width: 100%; }
      /* line 432, main.scss */
      section.siteheader nav.persistentnav ul {
        width: 100%; }
        /* line 434, main.scss */
        section.siteheader nav.persistentnav ul li {
          clear: left; }
          /* line 435, main.scss */
          section.siteheader nav.persistentnav ul li a {
            color: white; }

/* line 447, main.scss */
.localnav ul li a {
  padding: .25em 1em; }
  /* line 448, main.scss */
  .localnav ul li a:hover {
    background: #f7b000;
    color: white; }
  /* line 450, main.scss */
  .localnav ul li a.active {
    background: #bec1c7; }

/* line 456, main.scss */
.breadcrumb {
  float: left;
  display: inline;
  margin: 0 0 1.5% 0;
  clear: none; }
  /* line 462, main.scss */
  .breadcrumb ul {
    width: auto; }
    /* line 464, main.scss */
    .breadcrumb ul li {
      display: none; }
      /* line 465, main.scss */
      .breadcrumb ul li.active, .breadcrumb ul li.active-trail {
        display: block;
        float: left;
        clear: none;
        width: auto;
        position: relative; }
        /* line 471, main.scss */
        .breadcrumb ul li.active:after, .breadcrumb ul li.active-trail:after {
          content: ">";
          float: left;
          padding: .25rem; }
        /* line 472, main.scss */
        .breadcrumb ul li.active:hover > a, .breadcrumb ul li.active-trail:hover > a {
          background: #e98300;
          color: white; }
        /* line 473, main.scss */
        .breadcrumb ul li.active a, .breadcrumb ul li.active-trail a {
          float: left;
          clear: none;
          border: 0;
          margin: 0;
          padding: .25rem .5rem;
          width: auto; }
        /* line 481, main.scss */
        .breadcrumb ul li.active ul, .breadcrumb ul li.active-trail ul {
          float: left; }
          /* line 482, main.scss */
          .breadcrumb ul li.active ul li, .breadcrumb ul li.active-trail ul li {
            float: left;
            clear: left;
            width: 100%;
            margin: 0;
            padding: 0; }
            /* line 487, main.scss */
            .breadcrumb ul li.active ul li:after, .breadcrumb ul li.active-trail ul li:after {
              content: none; }
          /* line 489, main.scss */
          .breadcrumb ul li.active ul:hover, .breadcrumb ul li.active-trail ul:hover {
            -moz-box-shadow: 0px 1px 14px #999;
            -webkit-box-shadow: 0px 1px 14px #999;
            box-shadow: 0px 1px 14px #999;
            display: block;
            position: absolute;
            z-index: 100;
            background: white;
            width: 200%;
            max-width: 200px; }
            /* line 497, main.scss */
            .breadcrumb ul li.active ul:hover li, .breadcrumb ul li.active-trail ul:hover li {
              float: left;
              clear: left;
              width: 100%;
              margin: 0;
              padding: 0; }
              /* line 503, main.scss */
              .breadcrumb ul li.active ul:hover li a, .breadcrumb ul li.active-trail ul:hover li a {
                color: #73757a;
                width: 92%;
                padding: 2.5% 4%;
                margin: 0;
                line-height: 1.15em;
                border: dotted 1px #73757a;
                border-width: 0 0 1px 0; }
                /* line 511, main.scss */
                .breadcrumb ul li.active ul:hover li a:hover, .breadcrumb ul li.active-trail ul:hover li a:hover {
                  color: white; }
              /* line 514, main.scss */
              .breadcrumb ul li.active ul:hover li.active a, .breadcrumb ul li.active-trail ul:hover li.active a {
                background: #e98300;
                color: white; }
              /* line 517, main.scss */
              .breadcrumb ul li.active ul:hover li.active-trail a, .breadcrumb ul li.active-trail ul:hover li.active-trail a {
                background: #e98300;
                color: white; }
      /* line 524, main.scss */
      .breadcrumb ul li.active-trail:hover li {
        display: block;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }

/* line 531, main.scss */
div.drawertoggle {
  text-transform: uppercase; }

/* line 532, main.scss */
div.drawertoggle:first-child:before {
  content: "=";
  font-family: CUMCLogos;
  margin-right: .5em; }

/* line 533, main.scss */
div.drawershow {
  display: none; }

/* line 534, main.scss */
div.drawershow {
  background: #1b4585;
  display: block;
  cursor: pointer;
  float: left;
  padding: .5em 1em;
  margin: 0;
  color: white;
  z-index: 900; }

/* line 548, main.scss */
.slideout-subnav nav.localnav ul {
  display: none;
  width: 20%;
  min-width: 12rem;
  max-width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 500;
  -moz-box-shadow: 0px 1px 14px #999;
  -webkit-box-shadow: 0px 1px 14px #999;
  box-shadow: 0px 1px 14px #999;
  padding: 0 0 0 2.5%;
  float: left; }
  /* line 561, main.scss */
  .slideout-subnav nav.localnav ul li {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    float: left; }
    /* line 567, main.scss */
    .slideout-subnav nav.localnav ul li a {
      padding: .5em 5%;
      width: 90%;
      display: block; }

/* line 584, main.scss */
a.active {
  background: #0090df; }

/* ==========================================================================
   Buttons and Starter Navigation
   ========================================================================== */
/* line 593, main.scss */
nav.basic ul {
  margin: 0 0 2em 0;
  padding: 0;
  float: left; }
  /* line 594, main.scss */
  nav.basic ul li {
    cursor: pointer;
    margin: 0;
    padding: .25em 2.5%;
    float: left;
    border: solid 1px #73757a;
    margin: -1px 0 0 -1px;
    width: 95%;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }
  /* line 603, main.scss */
  nav.basic ul li.active, nav.basic ul li:hover {
    background: #73757a;
    color: white; }

/* line 609, main.scss */
.button {
  display: inline-block;
  padding: .25em 1em;
  border: solid 3px;
  margin: 1%;
  cursor: pointer;
  font-weight: 800;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  /* line 616, main.scss */
  .button.solid {
    border: 0;
    color: white !important;
    background-color: #73757a; }
  /* line 620, main.scss */
  .button.solid.blue {
    background-color: #1b4585;
    color: white; }
  /* line 624, main.scss */
  .button.solid.orange {
    background-color: #e98300; }
  /* line 627, main.scss */
  .button.solid.green {
    background-color: #b6bf00; }
  /* line 630, main.scss */
  .button.solid.pink {
    background-color: #830051; }
  /* line 633, main.scss */
  .button.solid.gray {
    background-color: #73757a; }
  /* line 636, main.scss */
  .button:hover {
    background-color: #73757a;
    border-color: #73757a;
    color: white; }
  /* line 641, main.scss */
  .button.active {
    background-color: #2d2e31;
    border-color: #2d2e31;
    color: white; }
  /* line 646, main.scss */
  .button.blue {
    background-color: white;
    color: #1b4585; }
  /* line 650, main.scss */
  .button:hover.blue {
    background-color: #1b4585;
    border-color: #1b4585;
    color: white; }
  /* line 655, main.scss */
  .button.active.blue {
    background-color: #0d275f;
    border-color: #0d275f;
    color: white; }
  /* line 660, main.scss */
  .button.pink {
    background-color: white;
    color: #830051; }
  /* line 664, main.scss */
  .button:hover.pink {
    background-color: #830051;
    border-color: #830051;
    color: white; }
  /* line 669, main.scss */
  .button.active.pink {
    background-color: #5d0030;
    border-color: #5d0030;
    color: white; }
  /* line 674, main.scss */
  .button.green {
    background-color: white;
    color: #97a200; }
  /* line 678, main.scss */
  .button:hover.green {
    background-color: #b6bf00;
    border-color: #b6bf00;
    color: white; }
  /* line 683, main.scss */
  .button.active.green {
    background-color: #97a200;
    border-color: #97a200;
    color: white; }
  /* line 688, main.scss */
  .button.orange {
    background-color: white;
    color: #e98300; }
  /* line 692, main.scss */
  .button:hover.orange {
    background-color: #e98300;
    border-color: #e98300;
    color: white; }
  /* line 697, main.scss */
  .button.active.orange {
    background-color: #dd5d00;
    border-color: #dd5d00;
    color: white; }

/* ==========================================================================
   Main Body Styles
   ========================================================================== */
/* line 714, main.scss */
> section {
  clear: both;
  width: 100%;
  float: left;
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: dotted 2em #dfe8f4; }

/* line 715, main.scss */
article {
  width: 100%; }
  /* line 717, main.scss */
  article blockquote {
    width: 40%;
    min-width: 200px; }
  /* line 721, main.scss */
  article nav.related-links {
    float: right;
    margin: 1rem 2.5% 5% 2.5%; }
  /* line 725, main.scss */
  article aside {
    float: right;
    clear: both;
    width: 40%;
    margin: 1rem 2.5% 5% 2.5%;
    padding: 0 0 0 2.5%;
    max-width: 26rem;
    border-left: solid 1px #73757a; }

/* line 734, main.scss */
.image-wrapper {
  float: right;
  position: relative;
  width: 45%;
  max-height: 50%;
  margin: 0 0 2.5% 2.5%; }
  /* line 741, main.scss */
  .image-wrapper img {
    width: 100%;
    float: right; }
  /* line 744, main.scss */
  .image-wrapper .image-caption {
    float: left;
    clear: both;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    width: auto;
    padding: .5em;
    font-family: "Minion Pro", "Georgia", "serif";
    font-size: .85rem; }
    /* line 753, main.scss */
    .image-wrapper .image-caption.bottom-right {
      bottom: 1em;
      right: 1em;
      width: 50%;
      position: absolute; }
    /* line 754, main.scss */
    .image-wrapper .image-caption.bottom-left {
      bottom: 1em;
      left: 1em;
      width: 50%;
      position: absolute; }
    /* line 755, main.scss */
    .image-wrapper .image-caption.top-right {
      top: 1em;
      right: 1em;
      width: 50%;
      position: absolute; }
    /* line 756, main.scss */
    .image-wrapper .image-caption.top-left {
      top: 1em;
      left: 1em;
      width: 50%;
      position: absolute; }
    /* line 757, main.scss */
    .image-wrapper .image-caption.top-center {
      top: 1em;
      left: 1em;
      right: 1em;
      width: auto;
      position: absolute; }
    /* line 758, main.scss */
    .image-wrapper .image-caption.bottom-center {
      bottom: 1em;
      left: 1em;
      right: 1em;
      width: auto;
      position: absolute; }
  /* line 760, main.scss */
  .image-wrapper .photo-credit {
    font-size: .75rem;
    color: #73757a;
    margin-left: .5em; }
  /* line 761, main.scss */
  .image-wrapper a.photo-credit:hover {
    color: #f7b000; }

/* line 765, main.scss */
.feature-image {
  width: 100%; }

/* line 768, main.scss */
> p:first-of-type {
  font-size: 1.25rem; }

/* line 769, main.scss */
> p:first-of-type:first-letter {
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: .05em; }

/* line 772, main.scss */
nav.related-links h3 {
  font-size: .85em;
  text-transform: uppercase;
  letter-spacing: .2em; }
/* line 776, main.scss */
nav.related-links ul {
  margin: 0;
  padding: 0; }
  /* line 779, main.scss */
  nav.related-links ul li {
    border-bottom: dotted 1px #0065bd;
    padding: .25em 0;
    font-size: .85rem; }
  /* line 785, main.scss */
  nav.related-links ul li.external a:after {
    font-family: CUMCLogos;
    font-size: 1.25em;
    font-weight: normal;
    color: #73757a;
    content: " »"; }

/* line 789, main.scss */
aside {
  font-size: .85rem;
  margin: 1em 0; }
  /* line 792, main.scss */
  aside h1 {
    font-size: 1.5rem; }
  /* line 793, main.scss */
  aside h2 {
    font-size: 1.25rem; }
  /* line 794, main.scss */
  aside h3 {
    font-size: 1rem; }

/* line 797, main.scss */
sidebar {
  font-size: .85rem;
  margin: 0; }
  /* line 800, main.scss */
  sidebar h1 {
    font-size: 1.5rem; }
  /* line 801, main.scss */
  sidebar h2 {
    font-size: 1.25rem; }
  /* line 802, main.scss */
  sidebar h3 {
    font-size: 1rem; }

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* line 814, main.scss */
sidebar, .sidebar {
  float: left;
  width: 95%; }
  /* line 817, main.scss */
  sidebar > *, .sidebar > * {
    border-top: solid 0.25rem #73757a;
    padding: .5rem 5% 1.5rem 5%;
    clear: both; }

/* ==========================================================================
   Features/Modules
   ========================================================================== */
/* line 831, main.scss */
section.maincontent {
  padding: 0 2.5%;
  width: 95%;
  float: left;
  margin-bottom: 2em; }
  /* line 836, main.scss */
  section.maincontent p {
    font-family: "Minion Pro", "Georgia", "serif"; }

/* ==========================================================================
   News Module
   ========================================================================== */
/* line 843, main.scss */
.news .news-index {
  margin: 0; }
  /* line 845, main.scss */
  .news .news-index ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    /* line 849, main.scss */
    .news .news-index ul li {
      margin: 0;
      padding: .5em 0;
      border-bottom: solid 1px #bec1c7; }
      /* line 852, main.scss */
      .news .news-index ul li img {
        max-width: 120px;
        float: left;
        margin-right: 2.5%; }
      /* line 856, main.scss */
      .news .news-index ul li h1 {
        font-size: 1.15rem;
        font-weight: 800;
        margin: 0; }
      /* line 857, main.scss */
      .news .news-index ul li h2 {
        font-size: 1rem;
        margin: 0; }
      /* line 858, main.scss */
      .news .news-index ul li h3 {
        font-size: 1rem;
        font-weight: 800;
        margin: 0; }
      /* line 859, main.scss */
      .news .news-index ul li .primary-category {
        font-size: .75em;
        text-transform: uppercase;
        margin: 0;
        font-weight: 800;
        color: #73757a; }
      /* line 860, main.scss */
      .news .news-index ul li .datetime {
        font-size: .75em; }
      /* line 861, main.scss */
      .news .news-index ul li .byline {
        font-size: .55em;
        text-transform: uppercase;
        font-weight: 800;
        color: #73757a; }
      /* line 862, main.scss */
      .news .news-index ul li p {
        font-size: .85rem;
        line-height: 1.25em;
        letter-spacing: -.03em; }

/* ==========================================================================
   event Module
   ========================================================================== */
/* line 873, main.scss */
.button.addtocalendar {
  padding: .5em;
  line-height: 1em;
  font-size: .5rem;
  text-transform: uppercase;
  border: 0;
  background: #dfe8f4;
  margin: 0; }
  /* line 875, main.scss */
  .button.addtocalendar:hover {
    background: #1b4585;
    color: white; }

/* line 879, main.scss */
.events .events-index {
  margin: 0; }
  /* line 881, main.scss */
  .events .events-index dl {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    /* line 885, main.scss */
    .events .events-index dl dt {
      float: left;
      width: 95%;
      min-width: 13em;
      padding: .5em;
      color: #1b4585;
      background: #dfe8f4;
      clear: both; }
    /* line 893, main.scss */
    .events .events-index dl dd {
      margin: 0;
      padding: .5em 0;
      border-bottom: solid 1px #bec1c7;
      float: left; }
      /* line 897, main.scss */
      .events .events-index dl dd ul {
        float: left;
        width: auto;
        list-style: none;
        margin: 0;
        padding: 0; }
        /* line 902, main.scss */
        .events .events-index dl dd ul li {
          float: left;
          clear: left;
          margin: 0 0 1em 0;
          padding: 0; }
          /* line 906, main.scss */
          .events .events-index dl dd ul li img {
            max-width: 120px;
            float: left;
            margin: 0 2.5% 2.5% 0; }
          /* line 910, main.scss */
          .events .events-index dl dd ul li h1 {
            font-size: 1.15rem;
            font-weight: 800;
            margin: 0;
            min-width: 50%; }
          /* line 911, main.scss */
          .events .events-index dl dd ul li h2 {
            font-size: 1rem;
            font-weight: 800;
            margin: 0;
            min-width: 50%; }
          /* line 912, main.scss */
          .events .events-index dl dd ul li h3 {
            font-size: 1rem;
            margin: 0;
            min-width: 50%; }
          /* line 913, main.scss */
          .events .events-index dl dd ul li .primary-category {
            font-size: .75em;
            text-transform: uppercase;
            margin: 0;
            font-weight: 800;
            color: #73757a; }
          /* line 914, main.scss */
          .events .events-index dl dd ul li .datetime {
            font-size: .75em; }
          /* line 915, main.scss */
          .events .events-index dl dd ul li .byline {
            font-size: .55em;
            text-transform: uppercase;
            font-weight: 800;
            color: #73757a; }
          /* line 916, main.scss */
          .events .events-index dl dd ul li p {
            font-size: .85rem;
            line-height: 1.25em;
            letter-spacing: -.03em; }
/* line 926, main.scss */
.events .abbreviated p {
  display: none; }

/* ==========================================================================
   Calendar Module
   ========================================================================== */
/* line 934, main.scss */
.calendar hgroup {
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 1em; }
  /* line 939, main.scss */
  .calendar hgroup * {
    text-align: center;
    line-height: 2rem;
    margin: 0 2rem; }
  /* line 941, main.scss */
  .calendar hgroup a.prev:before {
    content: "<";
    font-family: CUMCLogos;
    margin: 0 .5em; }
  /* line 942, main.scss */
  .calendar hgroup a.next:after {
    content: ">";
    font-family: CUMCLogos;
    margin: 0 .5em; }
  /* line 943, main.scss */
  .calendar hgroup a:hover {
    color: #e98300; }
/* line 948, main.scss */
.calendar table tr th {
  display: none; }
/* line 950, main.scss */
.calendar table tr td {
  float: left;
  clear: left;
  padding: 0;
  margin: 0;
  width: 100%; }
  /* line 955, main.scss */
  .calendar table tr td.today {
    background: #f7b000; }
    /* line 957, main.scss */
    .calendar table tr td.today span.calendardate {
      color: white;
      background: none;
      opacity: .25; }
    /* line 958, main.scss */
    .calendar table tr td.today ul:before {
      content: "TODAY";
      display: block;
      color: #1b4585;
      margin: 0;
      padding: .5em;
      font-weight: bold; }
    /* line 965, main.scss */
    .calendar table tr td.today li, .calendar table tr td.today dd {
      padding: 2.5%; }
      /* line 967, main.scss */
      .calendar table tr td.today li a:hover, .calendar table tr td.today dd a:hover {
        color: white; }
      /* line 968, main.scss */
      .calendar table tr td.today li .eventtime, .calendar table tr td.today dd .eventtime {
        color: white; }
  /* line 971, main.scss */
  .calendar table tr td span.calendardate {
    float: left;
    display: block;
    color: #1b4585;
    background: #dfe8f4;
    width: 95%;
    margin: 0;
    padding: .5em;
    font-weight: bold; }
  /* line 982, main.scss */
  .calendar table tr td ul, .calendar table tr td dl {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 70%; }
    /* line 989, main.scss */
    .calendar table tr td ul li, .calendar table tr td ul dd, .calendar table tr td dl li, .calendar table tr td dl dd {
      margin: 0;
      padding: .25em 0;
      font-size: .85rem; }
      /* line 992, main.scss */
      .calendar table tr td ul li img, .calendar table tr td ul dd img, .calendar table tr td dl li img, .calendar table tr td dl dd img {
        display: none; }
      /* line 994, main.scss */
      .calendar table tr td ul li a:hover, .calendar table tr td ul dd a:hover, .calendar table tr td dl li a:hover, .calendar table tr td dl dd a:hover {
        color: orange; }
      /* line 995, main.scss */
      .calendar table tr td ul li h1, .calendar table tr td ul dd h1, .calendar table tr td dl li h1, .calendar table tr td dl dd h1 {
        font-size: 1rem;
        font-weight: 800;
        margin: 0;
        line-height: 1.15em; }
      /* line 996, main.scss */
      .calendar table tr td ul li h2, .calendar table tr td ul dd h2, .calendar table tr td dl li h2, .calendar table tr td dl dd h2 {
        font-size: .85rem;
        margin: 0;
        line-height: 1.15em; }
      /* line 997, main.scss */
      .calendar table tr td ul li h3, .calendar table tr td ul dd h3, .calendar table tr td dl li h3, .calendar table tr td dl dd h3 {
        font-size: .85rem;
        font-weight: 800;
        margin: 0;
        line-height: 1.15em; }
      /* line 998, main.scss */
      .calendar table tr td ul li .primary-category, .calendar table tr td ul dd .primary-category, .calendar table tr td dl li .primary-category, .calendar table tr td dl dd .primary-category {
        display: none; }
      /* line 999, main.scss */
      .calendar table tr td ul li .eventtime, .calendar table tr td ul dd .eventtime, .calendar table tr td dl li .eventtime, .calendar table tr td dl dd .eventtime {
        color: #e98300; }
      /* line 1000, main.scss */
      .calendar table tr td ul li .byline, .calendar table tr td ul dd .byline, .calendar table tr td dl li .byline, .calendar table tr td dl dd .byline {
        font-size: .55em;
        text-transform: uppercase;
        font-weight: 800;
        color: #73757a; }
      /* line 1001, main.scss */
      .calendar table tr td ul li p, .calendar table tr td ul dd p, .calendar table tr td dl li p, .calendar table tr td dl dd p {
        display: none; }

/* ==========================================================================
   Doctor Index Card
   ========================================================================== */
/* line 1012, main.scss */
.resultscard {
  float: left;
  clear: left;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: solid 1px #bec1c7;
  padding: 1% 0%; }
  /* line 1019, main.scss */
  .resultscard .profilelink {
    padding: 2px;
    float: right;
    max-width: 25%;
    margin: 0; }
    /* line 1024, main.scss */
    .resultscard .profilelink .headshot {
      width: 100%;
      float: left;
      max-width: 118px;
      border: solid 1px #bec1c7;
      padding: 2.5%; }
    /* line 1031, main.scss */
    .resultscard .profilelink span {
      display: block;
      padding: .5em 0;
      text-align: center;
      clear: left; }
  /* line 1040, main.scss */
  .resultscard h1 {
    font-size: 1.25rem;
    margin-bottom: 0; }
    /* line 1041, main.scss */
    .resultscard h1 span {
      font-size: .85em; }
  /* line 1043, main.scss */
  .resultscard h2 {
    font-size: 1rem;
    margin: .75em 0 .5em 0;
    clear: left; }
    /* line 1046, main.scss */
    .resultscard h2 span {
      font-weight: normal; }
  /* line 1048, main.scss */
  .resultscard section {
    float: left;
    margin-bottom: .75em;
    min-width: 180px;
    width: 70%; }
    /* line 1053, main.scss */
    .resultscard section dl {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1rem;
      line-height: 1.25em; }
      /* line 1058, main.scss */
      .resultscard section dl dt {
        padding: 0;
        margin: .75em 0 .5em 0; }
      /* line 1062, main.scss */
      .resultscard section dl dd {
        padding: 0;
        margin: 0; }
  /* line 1067, main.scss */
  .resultscard ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 1071, main.scss */
    .resultscard ul li {
      float: left;
      clear: left; }
      /* line 1073, main.scss */
      .resultscard ul li h3 {
        font-size: 1rem; }
  /* line 1082, main.scss */
  .resultscard .locations span {
    display: block; }

/* line 1085, main.scss */
.abbreviated .resultscard {
  padding: 0;
  width: 20%;
  min-width: 320px;
  height: 200px;
  font-size: .85em;
  float: left;
  clear: none; }
  /* line 1093, main.scss */
  .abbreviated .resultscard .profilelink {
    margin-right: 5%;
    width: 25%; }
  /* line 1094, main.scss */
  .abbreviated .resultscard h1 {
    font-size: 1.25em; }
  /* line 1095, main.scss */
  .abbreviated .resultscard h2 {
    display: block;
    font-size: 1em; }
  /* line 1096, main.scss */
  .abbreviated .resultscard dl {
    font-size: 1em; }
  /* line 1097, main.scss */
  .abbreviated .resultscard dt {
    margin: 0; }
  /* line 1098, main.scss */
  .abbreviated .resultscard dd {
    margin: 0 0 .5em 0; }
  /* line 1099, main.scss */
  .abbreviated .resultscard .headshot {
    display: block;
    border: 0;
    padding: 0; }
  /* line 1100, main.scss */
  .abbreviated .resultscard section {
    display: none;
    float: right;
    width: 68.5%;
    margin: 0;
    padding: 0;
    font-size: .85rem; }
  /* line 1101, main.scss */
  .abbreviated .resultscard section.department-division {
    display: block; }
  /* line 1102, main.scss */
  .abbreviated .resultscard section.availability {
    display: block; }

/* line 1105, main.scss */
sidebar .abbreviated .resultscard {
  width: auto;
  height: auto; }

/* ==========================================================================
   Global Footer
   ========================================================================== */
/* line 1115, main.scss */
section.globalfooter {
  font-family: "Avenir", "Helvetica", "Arial", "sans-serif";
  width: 95%;
  padding: 0 2.5%;
  background: #73757a;
  clear: both;
  color: white; }
  /* line 1122, main.scss */
  section.globalfooter h3 {
    cursor: pointer;
    color: white; }
  /* line 1126, main.scss */
  section.globalfooter h3.active {
    color: #e98300; }
  /* line 1127, main.scss */
  section.globalfooter a {
    font-size: .85rem;
    text-decoration: none;
    color: #2d2e31;
    display: block;
    padding: .25rem;
    clear: both;
    color: white; }
    /* line 1136, main.scss */
    section.globalfooter a:hover, section.globalfooter a .ui-state-active a {
      background: #0090df;
      color: white;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
  /* line 1143, main.scss */
  section.globalfooter div {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 2rem; }
    /* line 1151, main.scss */
    section.globalfooter div ul {
      margin: 1rem 0;
      padding: 0;
      float: left;
      width: 100%; }
      /* line 1156, main.scss */
      section.globalfooter div ul li {
        list-style: none;
        margin: 0;
        padding: 0; }
    /* line 1163, main.scss */
    section.globalfooter div h3 {
      font-size: 1rem; }
  /* line 1170, main.scss */
  section.globalfooter ul.general_info {
    float: left;
    clear: both;
    width: 100%;
    padding-bottom: 2em; }
    /* line 1175, main.scss */
    section.globalfooter ul.general_info li {
      float: left; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 1192, main.scss */
.nobullet * {
  list-style: none; }

/* line 1193, main.scss */
.listreset, .listreset * {
  margin: 0;
  padding: 0;
  list-style: none; }

/*
 * Image replacement
 */
/* line 1198, main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

/* line 1206, main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 1217, main.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 1226, main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 1243, main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 1256, main.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 1273, main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 1278, main.scss */
.clearfix:after {
  clear: both; }

/* line 1282, main.scss */
.clearboth {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 1289, main.scss */
.clearfix {
  *zoom: 1; }

/*
 *  Adjective class to hide all but the essential elements
 */
/* line 1298, main.scss */
.abbreviated .datetime, .abbreviated .byline, .abbreviated .primary-category, .abbreviated img, .abbreviated h2, .abbreviated h3 {
  display: none; }

/*
 *  makes stuff stick to the top
 */
/* line 1305, main.scss */
.stickdiv {
  position: fixed;
  top: 0px;
  opacity: .7; }
  /* line 1309, main.scss */
  .stickdiv:hover {
    opacity: 1; }

/*
 *  float left or right
 */
/* line 1318, main.scss */
.left {
  float: left;
  margin: 0 1em 1em 0; }

/* line 1319, main.scss */
.right {
  float: right;
  margin: 0 0 1em 1em; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  /* ==========================================================================
     Buttons and Starter Navigation
     ========================================================================== */
  /* line 1336, main.scss */
  nav ul li {
    cursor: pointer; }

  /* line 1340, main.scss */
  nav.basic ul li {
    width: auto;
    padding: .25em 1em; }

  /* ==========================================================================
     Global Header
     ========================================================================== */
  /* line 1360, main.scss */
  section.globalheader nav .globalNavToggle {
    float: left;
    position: relative;
    overflow: hidden;
    width: auto;
    text-align: right;
    cursor: pointer;
    padding: 0; }
  /* line 1371, main.scss */
  section.globalheader nav ul {
    float: left;
    width: auto;
    padding: 0;
    margin: 0;
    height: 1.5em;
    overflow: hidden; }
    /* line 1379, main.scss */
    section.globalheader nav ul li {
      clear: none;
      width: auto;
      padding: 0;
      margin: 0; }
      /* line 1384, main.scss */
      section.globalheader nav ul li a {
        margin: 0; }

  /* ==========================================================================
     Site Header
     ========================================================================== */
  /* line 1398, main.scss */
  section.siteheader {
    display: inline;
    float: left;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */ }
    /* line 1404, main.scss */
    section.siteheader .navwrapper {
      background: #1b4585;
      float: left;
      width: 80%;
      padding: 0 10%; }
    /* line 1406, main.scss */
    section.siteheader nav.utilitynav {
      width: auto; }
      /* line 1408, main.scss */
      section.siteheader nav.utilitynav ul {
        width: auto; }
        /* line 1410, main.scss */
        section.siteheader nav.utilitynav ul li {
          width: auto;
          padding: .5em 5%; }
          /* line 1412, main.scss */
          section.siteheader nav.utilitynav ul li a {
            white-space: nowrap; }
    /* line 1419, main.scss */
    section.siteheader nav.persistentnav {
      width: 50%;
      max-width: 600px;
      padding: 0;
      margin: 0;
      float: left;
      clear: none;
      border: 0; }
      /* line 1427, main.scss */
      section.siteheader nav.persistentnav ul {
        display: table;
        padding: 0;
        margin: 0; }
        /* line 1430, main.scss */
        section.siteheader nav.persistentnav ul li {
          width: auto;
          float: none;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          clear: none;
          padding: 0;
          margin: 0; }
          /* line 1439, main.scss */
          section.siteheader nav.persistentnav ul li a {
            border-width: 0;
            display: block;
            padding: .5em 0;
            margin: 0;
            width: 100%;
            float: left; }
      /* line 1449, main.scss */
      section.siteheader nav.persistentnav.orgnav {
        background: #1b4585;
        float: left; }
      /* line 1453, main.scss */
      section.siteheader nav.persistentnav.missionnav {
        background: #0065bd;
        float: left;
        background: #1b4585;
        /* Old browsers */
        background: -moz-linear-gradient(top, #1b4585 50%, #0065bd 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1b4585), color-stop(100%, #0065bd));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #1b4585 50%, #0065bd 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #1b4585 50%, #0065bd 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #1b4585 50%, #0065bd 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #1b4585 50%, #0065bd 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$cumcblue', endColorstr='$cumcblue2',GradientType=0 );
        /* IE6-9 */ }
    /* line 1467, main.scss */
    section.siteheader nav.localnav {
      float: left;
      margin-bottom: 1em;
      float: left;
      padding: 0 0 0 10%; }
      /* line 1472, main.scss */
      section.siteheader nav.localnav ul {
        width: 100%; }
        /* line 1475, main.scss */
        section.siteheader nav.localnav ul li a {
          border-width: 0 0 1px 0; }

  /* line 1487, main.scss */
  .vertical-subnav section.siteheader .navwrapper {
    margin-bottom: 2rem; }
  /* line 1490, main.scss */
  .vertical-subnav section.siteheader nav.localnav {
    width: auto;
    padding: 0 2.5% 0 0;
    max-width: 200px; }
    /* line 1494, main.scss */
    .vertical-subnav section.siteheader nav.localnav ul {
      /*  @include columns(1,auto,0,0); */
      float: left;
      width: 100%; }
      /* line 1498, main.scss */
      .vertical-subnav section.siteheader nav.localnav ul li {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        float: left; }
        /* line 1504, main.scss */
        .vertical-subnav section.siteheader nav.localnav ul li a {
          padding: .5em 5%;
          width: 90%;
          display: block; }
  /* line 1512, main.scss */
  .vertical-subnav section.siteheader + * {
    width: 70%;
    float: left;
    clear: none;
    margin-top: 0; }

  /* line 1522, main.scss */
  sidebar, .sidebar {
    float: left;
    width: 20%;
    min-width: 320px; }

  /* ==========================================================================
      News
     ========================================================================== */
  /* line 1533, main.scss */
  .news-index.lateral ul {
    border: 0;
    margin: 1rem 0 2rem 0;
    max-width: 100%;
    overflow: hidden; }
    /* line 1538, main.scss */
    .news-index.lateral ul li {
      float: left;
      width: 30%;
      margin-right: 3.33%;
      border: 0;
      overlow: hidden; }

  /* ==========================================================================
      event
     ========================================================================== */
  /* line 1554, main.scss */
  .events .events-index dl dt {
    width: 10%;
    min-width: 3em;
    padding: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase; }
    /* line 1562, main.scss */
    .events .events-index dl dt span.date {
      display: block;
      font-size: 1.25rem;
      font-weight: bold; }
  /* line 1564, main.scss */
  .events .events-index dl dd {
    float: left;
    width: 80%; }
    /* line 1566, main.scss */
    .events .events-index dl dd ul {
      width: 100%; }
      /* line 1568, main.scss */
      .events .events-index dl dd ul li .eventtime {
        display: block; }
      /* line 1569, main.scss */
      .events .events-index dl dd ul li img {
        float: left; }
  /* line 1576, main.scss */
  .events .events-index.lateral dl dt {
    max-width: 2em;
    padding: .75em; }
  /* line 1582, main.scss */
  .events .events-index.lateral dl dd ul li {
    width: 30%;
    float: left;
    clear: none;
    margin-left: 3%; }
  /* line 1590, main.scss */
  .events .events-index.abbreviated dl {
    display: block;
    width: 100%; }
    /* line 1591, main.scss */
    .events .events-index.abbreviated dl dt {
      font-size: 1rem; }
      /* line 1593, main.scss */
      .events .events-index.abbreviated dl dt span.date {
        font-size: inherit; }
    /* line 1596, main.scss */
    .events .events-index.abbreviated dl dd {
      width: 70%; }
  /* line 1602, main.scss */
  .events .events-index.abbreviated.lateral dl dt {
    width: 5%;
    min-widht: 3em;
    font-size: 1em; }
  /* line 1610, main.scss */
  .events .events-index.sidebar dl {
    width: auto; }
  /* line 1611, main.scss */
  .events .events-index.sidebar dt {
    width: 95%;
    float: none;
    display: block;
    padding: .25rem;
    font-size: 1rem; }
    /* line 1617, main.scss */
    .events .events-index.sidebar dt span.date {
      font-size: inherit;
      display: inline;
      margin-left: .5em; }
  /* line 1620, main.scss */
  .events .events-index.sidebar dd {
    width: 100%; }

  /* line 1628, main.scss */
  .calendar table tr {
    display: table-row; }
    /* line 1629, main.scss */
    .calendar table tr th {
      display: table-cell;
      background: #73757a;
      color: white;
      text-align: center;
      text-align: left;
      line-height: 1em;
      padding: .5em; }
    /* line 1637, main.scss */
    .calendar table tr td {
      float: none;
      clear: none;
      width: 13.25%;
      height: 6rem;
      display: table-cell;
      border: solid 1px #bec1c7;
      padding: 0;
      position: relative;
      overflow: hidden; }
      /* line 1646, main.scss */
      .calendar table tr td span.calendardate {
        text-align: right;
        width: 100%;
        background: none;
        display: block;
        font-size: 6rem;
        line-height: 1em;
        letter-spacing: -.15em;
        color: #dfe8f4;
        font-weight: bold;
        background: none;
        padding: 0;
        margin: 0;
        position: relative;
        right: .05em;
        top: -.05em; }
        /* line 1662, main.scss */
        .calendar table tr td span.calendardate .full-day-month {
          display: none; }
      /* line 1664, main.scss */
      .calendar table tr td ul {
        position: relative;
        width: 100%;
        z-index: 100;
        top: -6rem;
        margin-bottom: -5rem; }
        /* line 1670, main.scss */
        .calendar table tr td ul li {
          margin: 5%;
          width: 90%; }
        /* line 1679, main.scss */
        .calendar table tr td ul:first-child img {
          display: block;
          position: absolute;
          height: 100%;
          width: auto;
          z-index: 0;
          opacity: .2; }

  /* ==========================================================================
     Doctor Index Card
     ========================================================================== */
  /* line 1695, main.scss */
  .resultscard {
    min-width: 0; }
    /* line 1697, main.scss */
    .resultscard h1 {
      font-size: 2rem; }
    /* line 1698, main.scss */
    .resultscard .profilelink {
      width: 18%;
      max-width: 120px;
      margin-right: 2%;
      float: left; }
      /* line 1699, main.scss */
      .resultscard .profilelink .headshot {
        max-width: 100%; }
    /* line 1701, main.scss */
    .resultscard section {
      float: left;
      width: 19%;
      margin-right: 2%; }

  /* ==========================================================================
     Global Footer
     ========================================================================== */
  /* line 1712, main.scss */
  section.globalfooter.great-js-is-on {
    position: relative;
    background: #73757a;
    float: left;
    width: 95%;
    min-height: 15em; }
    /* line 1718, main.scss */
    section.globalfooter.great-js-is-on h3 {
      float: left;
      margin: 1em .5em;
      font-size: 1rem;
      text-align: center; }
      /* line 1722, main.scss */
      section.globalfooter.great-js-is-on h3:hover {
        color: #e98300; }
    /* line 1724, main.scss */
    section.globalfooter.great-js-is-on .globalfooterbasics {
      clear: both;
      list-style: none;
      width: 70%;
      float: left; }
      /* line 1730, main.scss */
      section.globalfooter.great-js-is-on .globalfooterbasics.affiliations {
        width: 20%;
        list-style: none;
        float: right;
        clear: none; }
    /* line 1744, main.scss */
    section.globalfooter.great-js-is-on > div {
      position: absolute;
      background: #73757a;
      top: 3rem;
      left: 0;
      padding: 0 2.5%;
      width: 95%;
      border-top: solid 1px white; }
      /* line 1754, main.scss */
      section.globalfooter.great-js-is-on > div ul {
        /* @include columns(5,auto,1em,0); */
        /*@include no-col-break()*/ } }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 1776, main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 1784, main.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 1788, main.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 1792, main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 1802, main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 1807, main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 1812, main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 1817, main.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 1821, main.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 1831, main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 1837, main.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
/*
 * THESE STYLES ARE JUST FORMATTING FOR THE MOODBOARDS AND SHOULD BE REMOVED FOR ANY REAL WORLD APPLICATION
 */
/* line 7, moodboardvariations.scss */
body > section {
  margin: 0;
  float: left;
  clear: left;
  width: 100%; }

/* line 8, moodboardvariations.scss */
nav.basic + * {
  clear: both;
  float: left;
  margin-top: 1em; }

/* line 9, moodboardvariations.scss */
nav.basic .sidebar {
  width: auto;
  min-width: 0; }

/* line 13, moodboardvariations.scss */
body.city {
  background: url("../img/bg/citybg.png");
  background-color: #617EA9;
  background-size: 100%; }
  /* line 16, moodboardvariations.scss */
  body.city .siteheader {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    /* IE6-8 */ }

/* line 21, moodboardvariations.scss */
body.neurons {
  background: url("../img/bg/neurons.jpg");
  background-color: #617EA9;
  background-size: 100%; }
  /* line 24, moodboardvariations.scss */
  body.neurons .siteheader {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    /* IE6-8 */ }

/* line 29, moodboardvariations.scss */
body.heart {
  background: url("../img/bg/heart2.jpg");
  background-size: 100%;
  background-position: -300px -10%;
  background-repeat: no-repeat;
  background-opacity: .2; }
  /* line 34, moodboardvariations.scss */
  body.heart .siteheader {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    /* IE6-8 */ }

/* line 39, moodboardvariations.scss */
body.people {
  background: #e98300 url("../img/bg/image-04.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 20px;
  background-opacity: .2; }
  /* line 44, moodboardvariations.scss */
  body.people .siteheader {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    /* IE6-8 */ }
  /* line 47, moodboardvariations.scss */
  body.people .maincontent {
    margin-top: 15%; }

/*
* Version 2
*/
/* line 60, moodboardvariations.scss */
body.version2 .logotype {
  float: left;
  width: 250px;
  background-image: url("../img/logos/CUMCLogo.svg"); }
/* line 61, moodboardvariations.scss */
body.version2 section.siteheader {
  padding: 0;
  background: #1b4585; }
  /* line 64, moodboardvariations.scss */
  body.version2 section.siteheader .navwrapper {
    float: right;
    padding: 0;
    margin: 0;
    clear: none;
    width: 64%; }
    /* line 69, moodboardvariations.scss */
    body.version2 section.siteheader .navwrapper .persistentnav {
      float: left;
      clear: left;
      margin: 0;
      padding: 0;
      width: 100%;
      display: block;
      max-width: 100%;
      background: none; }
      /* line 78, moodboardvariations.scss */
      body.version2 section.siteheader .navwrapper .persistentnav ul {
        width: 100%;
        display: block;
        float: left; }
        /* line 82, moodboardvariations.scss */
        body.version2 section.siteheader .navwrapper .persistentnav ul li {
          float: left;
          width: 24%;
          text-align: left;
          display: block;
          margin-left: 1px;
          margin-bottom: -1px; }
          /* line 88, moodboardvariations.scss */
          body.version2 section.siteheader .navwrapper .persistentnav ul li a {
            padding: .5em 5%;
            width: 90%;
            border: dotted 1px white; }

/*
* Version 2.1
*/
/* line 107, moodboardvariations.scss */
body.version2_1 {
  background: #2d2e31; }
  /* line 109, moodboardvariations.scss */
  body.version2_1 .logotype {
    float: left;
    clear: none;
    width: 24%;
    background-image: url("../img/logos/CUMCLogo.svg"); }
  /* line 110, moodboardvariations.scss */
  body.version2_1 section.siteheader {
    -moz-box-shadow: 0px 1px 14px #999;
    -webkit-box-shadow: 0px 1px 14px #999;
    box-shadow: 0px 1px 14px #999;
    border-bottom: solid 1px white;
    padding: 0;
    background: #1b4585 url("../img/bg/citybg.png"); }
    /* line 115, moodboardvariations.scss */
    body.version2_1 section.siteheader .navwrapper {
      float: right;
      padding: 0;
      margin: 0 0 3em 0;
      clear: none;
      width: 100%;
      background: none; }
      /* line 121, moodboardvariations.scss */
      body.version2_1 section.siteheader .navwrapper .persistentnav {
        float: left;
        margin: 0;
        padding: 0;
        width: 35%;
        max-width: 100%; }
        /* line 127, moodboardvariations.scss */
        body.version2_1 section.siteheader .navwrapper .persistentnav ul {
          width: 100%;
          float: left;
          display: block; }
          /* line 131, moodboardvariations.scss */
          body.version2_1 section.siteheader .navwrapper .persistentnav ul li {
            float: left;
            text-align: center;
            margin-left: 1px;
            margin-bottom: -1px;
            display: block;
            width: 33%; }
            /* line 138, moodboardvariations.scss */
            body.version2_1 section.siteheader .navwrapper .persistentnav ul li a {
              padding: .5em 5%;
              display: block;
              width: 90%;
              text-align: center;
              white-space: nowrap; }
        /* line 148, moodboardvariations.scss */
        body.version2_1 section.siteheader .navwrapper .persistentnav.missionnav ul {
          float: right; }
          /* line 149, moodboardvariations.scss */
          body.version2_1 section.siteheader .navwrapper .persistentnav.missionnav ul li {
            width: 24.5%; }
      /* line 157, moodboardvariations.scss */
      body.version2_1 section.siteheader .navwrapper .utilitynav {
        width: 100%;
        float: left;
        margin-bottom: 2em; }
        /* line 161, moodboardvariations.scss */
        body.version2_1 section.siteheader .navwrapper .utilitynav ul {
          padding: 0;
          float: none;
          margin: auto;
          width: 80%;
          text-align: center; }
          /* line 166, moodboardvariations.scss */
          body.version2_1 section.siteheader .navwrapper .utilitynav ul li {
            padding: 0;
            margin: 0;
            float: none;
            display: inline-block; }
            /* line 172, moodboardvariations.scss */
            body.version2_1 section.siteheader .navwrapper .utilitynav ul li a {
              margin: 0 1em;
              display: block; }
        /* line 180, moodboardvariations.scss */
        body.version2_1 section.siteheader .navwrapper .utilitynav.internalnav ul {
          float: left; }
  /* line 185, moodboardvariations.scss */
  body.version2_1 .maincontent {
    margin-top: -3rem;
    background: white;
    border: solid 1px  black; }

/*
* Version 2.2
*/
/* line 195, moodboardvariations.scss */
body.version2_2 {
  background: #2d2e31 url("../img/bg/citybg.png"); }
  /* line 197, moodboardvariations.scss */
  body.version2_2 .logotype {
    float: left;
    width: 33%;
    margin: .5em 33% 7rem 30%;
    background-image: url("../img/logos/CUMCLogo2c.svg");
    postion: relative; }
  /* line 203, moodboardvariations.scss */
  body.version2_2 section.siteheader {
    padding: 0;
    background: #1b4585 url("../img/bg/citybg.png"); }
    /* line 209, moodboardvariations.scss */
    body.version2_2 section.siteheader .navwrapper {
      border-bottom: solid 1px white;
      -moz-box-shadow: 0px 1px 14px #999;
      -webkit-box-shadow: 0px 1px 14px #999;
      box-shadow: 0px 1px 14px #999;
      z-index: 600;
      position: relative;
      float: right;
      width: 100%;
      padding: 0;
      margin: 0;
      width: 100%;
      margin-top: 8rem;
      background: #1b4585;
      /* Old browsers */
      background: -moz-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1b4585), color-stop(100%, #0065bd));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #1b4585 50%, #0065bd 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$cumcblue', endColorstr='$cumcblue2',GradientType=0 );
      /* IE6-9 */ }
      /* line 229, moodboardvariations.scss */
      body.version2_2 section.siteheader .navwrapper .persistentnav {
        width: 40%;
        background: none; }
        /* line 232, moodboardvariations.scss */
        body.version2_2 section.siteheader .navwrapper .persistentnav.missionnav {
          margin-left: 10%; }
        /* line 238, moodboardvariations.scss */
        body.version2_2 section.siteheader .navwrapper .persistentnav ul li {
          width: 15%; }
    /* line 248, moodboardvariations.scss */
    body.version2_2 section.siteheader .utilitynav {
      width: 100%;
      float: left;
      margin-top: 2em; }
      /* line 252, moodboardvariations.scss */
      body.version2_2 section.siteheader .utilitynav ul {
        padding: 0;
        float: none;
        margin: auto;
        width: 80%;
        text-align: center; }
        /* line 257, moodboardvariations.scss */
        body.version2_2 section.siteheader .utilitynav ul li {
          padding: 0;
          margin: 0;
          float: none;
          display: inline-block; }
          /* line 263, moodboardvariations.scss */
          body.version2_2 section.siteheader .utilitynav ul li a {
            margin: 0 1em;
            display: block;
            background: rgba(255, 255, 255, 0.9); }
      /* line 272, moodboardvariations.scss */
      body.version2_2 section.siteheader .utilitynav.internalnav ul {
        float: left; }
  /* line 277, moodboardvariations.scss */
  body.version2_2 .maincontent {
    margin-top: -10.15rem;
    padding-top: 1rem;
    position: relative; }

/*
* Version 2.3
*/
/* line 291, moodboardvariations.scss */
body.version2_3 {
  background: #2d2e31 url("../img/bg/citybg.png"); }
  /* line 293, moodboardvariations.scss */
  body.version2_3 .logotype {
    float: left;
    width: 20%;
    margin: 1em 33% 1rem 40%;
    background-image: url("../img/logos/CUMCLogo.svg");
    postion: relative; }
  /* line 299, moodboardvariations.scss */
  body.version2_3 section.siteheader {
    padding: 0; }
    /* line 301, moodboardvariations.scss */
    body.version2_3 section.siteheader .navwrapper {
      border-bottom: solid 1px white;
      -moz-box-shadow: 0px 1px 14px #999;
      -webkit-box-shadow: 0px 1px 14px #999;
      box-shadow: 0px 1px 14px #999;
      z-index: 600;
      position: relative;
      float: right;
      width: 100%;
      padding: 0;
      margin: 0;
      width: 100%;
      margin-top: 0rem;
      background: #1b4585;
      /* Old browsers */
      background: -moz-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1b4585), color-stop(100%, #0065bd));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #1b4585 50%, #0065bd 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$cumcblue', endColorstr='$cumcblue2',GradientType=0 );
      /* IE6-9 */ }
      /* line 321, moodboardvariations.scss */
      body.version2_3 section.siteheader .navwrapper .persistentnav {
        width: 40%;
        background: none; }
        /* line 324, moodboardvariations.scss */
        body.version2_3 section.siteheader .navwrapper .persistentnav.missionnav {
          margin-left: 10%; }
        /* line 330, moodboardvariations.scss */
        body.version2_3 section.siteheader .navwrapper .persistentnav ul li {
          width: 15%; }
    /* line 340, moodboardvariations.scss */
    body.version2_3 section.siteheader .utilitynav {
      width: 100%;
      float: left; }
      /* line 343, moodboardvariations.scss */
      body.version2_3 section.siteheader .utilitynav ul {
        padding: 0;
        float: none;
        margin: auto;
        width: 80%;
        text-align: center; }
        /* line 348, moodboardvariations.scss */
        body.version2_3 section.siteheader .utilitynav ul li {
          padding: 0;
          margin: 0;
          float: none;
          display: inline-block; }
          /* line 354, moodboardvariations.scss */
          body.version2_3 section.siteheader .utilitynav ul li a {
            margin: 0 1em;
            display: block; }
      /* line 362, moodboardvariations.scss */
      body.version2_3 section.siteheader .utilitynav.internalnav ul {
        float: left; }
  /* line 367, moodboardvariations.scss */
  body.version2_3 .maincontent {
    background: rgba(255, 255, 255, 0.8);
    padding: 1%;
    margin-top: 2rem; }

/*
* Version 2.4
*/
/* line 381, moodboardvariations.scss */
body.version2_4 {
  background: #2d2e31 url("../img/bg/citybg.png"); }
  /* line 383, moodboardvariations.scss */
  body.version2_4 .logotype {
    float: left;
    width: 20%;
    margin: 1em 33% 1rem 40%;
    background-image: url("../img/logos/CUMCLogo.svg");
    postion: relative; }
  /* line 389, moodboardvariations.scss */
  body.version2_4 section.siteheader {
    padding: 0; }
    /* line 391, moodboardvariations.scss */
    body.version2_4 section.siteheader .navwrapper {
      border-bottom: solid 1px white;
      -moz-box-shadow: 0px 1px 14px #999;
      -webkit-box-shadow: 0px 1px 14px #999;
      box-shadow: 0px 1px 14px #999;
      z-index: 600;
      position: relative;
      float: right;
      width: 100%;
      padding: 0;
      margin: 0;
      width: 100%;
      margin-top: 0rem;
      background: #2d2e31; }
      /* line 403, moodboardvariations.scss */
      body.version2_4 section.siteheader .navwrapper .persistentnav {
        width: 40%;
        background: none; }
        /* line 406, moodboardvariations.scss */
        body.version2_4 section.siteheader .navwrapper .persistentnav.missionnav {
          margin-left: 10%; }
        /* line 412, moodboardvariations.scss */
        body.version2_4 section.siteheader .navwrapper .persistentnav ul li {
          width: 15%; }
    /* line 422, moodboardvariations.scss */
    body.version2_4 section.siteheader .utilitynav {
      width: 100%;
      float: left; }
      /* line 425, moodboardvariations.scss */
      body.version2_4 section.siteheader .utilitynav ul {
        padding: 0;
        float: none;
        margin: auto;
        width: 80%;
        text-align: center; }
        /* line 430, moodboardvariations.scss */
        body.version2_4 section.siteheader .utilitynav ul li {
          padding: 0;
          margin: 0;
          float: none;
          display: inline-block; }
          /* line 436, moodboardvariations.scss */
          body.version2_4 section.siteheader .utilitynav ul li a {
            margin: 0 1em;
            display: block; }
            /* line 439, moodboardvariations.scss */
            body.version2_4 section.siteheader .utilitynav ul li a:hover {
              padding-bottom: .5em; }
      /* line 444, moodboardvariations.scss */
      body.version2_4 section.siteheader .utilitynav.internalnav ul {
        float: left; }
  /* line 449, moodboardvariations.scss */
  body.version2_4 .maincontent {
    background: rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 1px 14px #999;
    -webkit-box-shadow: 0px 1px 14px #999;
    box-shadow: 0px 1px 14px #999;
    padding: 1%;
    margin: 1em 11.5% 5% 11.5%; }

/*
* Version 3
*/
/* line 462, moodboardvariations.scss */
html {
  height: 100%; }

/* line 464, moodboardvariations.scss */
body.version3 {
  height: 100%;
  background: url("../img/science1.jpg");
  background-position: 0 0;
  background-size: 100%; }
  /* line 467, moodboardvariations.scss */
  body.version3 .drawertoggle {
    position: absolute;
    width: 18.1%;
    max-width: 100%;
    top: 9em;
    color: white;
    border: solid white 2px;
    background: none;
    text-transform: uppercase;
    text-align: center; }
  /* line 475, moodboardvariations.scss */
  body.version3 .logotype {
    float: left;
    width: 20%;
    background-image: url("../img/logos/CUMCLogo.svg");
    postion: relative; }
  /* line 480, moodboardvariations.scss */
  body.version3 section.siteheader {
    overflow: scroll; }
    /* line 482, moodboardvariations.scss */
    body.version3 section.siteheader .logotype {
      float: left;
      width: 250px;
      background-image: url("../img/logos/CUMCLogo.svg"); }
    /* line 488, moodboardvariations.scss */
    body.version3 section.siteheader .utilitynav ul li {
      margin: 0;
      padding: 0; }
      /* line 491, moodboardvariations.scss */
      body.version3 section.siteheader .utilitynav ul li a {
        margin: 0; }
  /* line 500, moodboardvariations.scss */
  body.version3 nav.localnav {
    padding: 10%;
    float: left;
    clear: left;
    position: relative; }
    /* line 505, moodboardvariations.scss */
    body.version3 nav.localnav ul {
      width: auto;
      clear: both;
      height: auto;
      top: 11.5em;
      padding: 1.75em; }
  /* line 517, moodboardvariations.scss */
  body.version3 .maincontent {
    width: 52%;
    float: right;
    clear: none;
    margin: 0;
    margin-top: -6.5em;
    background: none;
    height: 80%;
    min-height: 500px;
    overflow: scroll; }
    /* line 527, moodboardvariations.scss */
    body.version3 .maincontent article {
      width: 100%;
      padding: 1.25%;
      margin: 0;
      border: dotted 1px #830051;
      background: rgba(255, 255, 255, 0.8); }
  /* line 537, moodboardvariations.scss */
  body.version3 .breadcrumb {
    width: 100%; }
    /* line 539, moodboardvariations.scss */
    body.version3 .breadcrumb ul {
      margin: 0;
      padding: 0; }
  /* line 546, moodboardvariations.scss */
  body.version3 .globalfooter {
    position: absolute;
    bottom: 0; }

/*
* Version 4
*/
/* line 557, moodboardvariations.scss */
.version4 {
  background: url("../img/science3.jpg") fixed;
  background-position: 0 0;
  background-size: 100%;
  background: #f0f0f0; }
  /* line 560, moodboardvariations.scss */
  .version4 .logotype {
    float: left;
    width: 20%;
    postion: relative; }
  /* line 564, moodboardvariations.scss */
  .version4 section.siteheader {
    margin-bottom: 0; }
    /* line 566, moodboardvariations.scss */
    .version4 section.siteheader .navwrapper {
      padding: 0;
      width: 100%;
      background: none;
      border-bottom: solid 1px #1b4585; }
    /* line 571, moodboardvariations.scss */
    .version4 section.siteheader nav.missionnav {
      background: none; }
    /* line 572, moodboardvariations.scss */
    .version4 section.siteheader nav.orgnav {
      background: none; }
    /* line 573, moodboardvariations.scss */
    .version4 section.siteheader nav.persistentnav {
      max-width: 100%; }
      /* line 575, moodboardvariations.scss */
      .version4 section.siteheader nav.persistentnav ul li {
        border: solid 1px #1b4585;
        border-left: 0;
        border-bottom: 0; }
        /* line 578, moodboardvariations.scss */
        .version4 section.siteheader nav.persistentnav ul li a {
          padding: 1.5em 0;
          color: #1b4585; }
          /* line 580, moodboardvariations.scss */
          .version4 section.siteheader nav.persistentnav ul li a.active {
            color: white; }
    /* line 594, moodboardvariations.scss */
    .version4 section.siteheader .utilitynav {
      width: auto;
      float: right; }
      /* line 599, moodboardvariations.scss */
      .version4 section.siteheader .utilitynav ul li {
        padding: 1px; }
        /* line 602, moodboardvariations.scss */
        .version4 section.siteheader .utilitynav ul li a {
          padding: .5em;
          width: auto;
          display: block; }
    /* line 612, moodboardvariations.scss */
    .version4 section.siteheader nav.localnav {
      clear: both;
      margin: 0;
      padding: 0 0 0 2.5%; }
    /* line 618, moodboardvariations.scss */
    .version4 section.siteheader .breadcrumb {
      padding: 0;
      margin: 0;
      background: rgba(255, 255, 255, 0.9); }
      /* line 622, moodboardvariations.scss */
      .version4 section.siteheader .breadcrumb ul li a {
        padding: .5em 1em; }
  /* line 629, moodboardvariations.scss */
  .version4 .maincontent {
    float: left;
    margin: 0;
    padding: 0 2.5%;
    width: 95%;
    background: none; }
    /* line 635, moodboardvariations.scss */
    .version4 .maincontent > * {
      background: rgba(255, 255, 255, 0.9); }
    /* line 636, moodboardvariations.scss */
    .version4 .maincontent article {
      width: 61.25%;
      margin-right: 1.25%;
      padding: 2.5%;
      float: left; }
    /* line 643, moodboardvariations.scss */
    .version4 .maincontent sidebar {
      float: left;
      width: 32.5%; }
  /* line 650, moodboardvariations.scss */
  .version4 .globalfooter {
    clear: both;
    margin-top: 2em; }

/*
* Version 5
*/
/* line 659, moodboardvariations.scss */
.version5 {
  background: url("../img/science3.jpg") fixed;
  background-position: 0 0;
  background-size: 100%;
  background: #f0f0f0; }
  /* line 662, moodboardvariations.scss */
  .version5 .logotype {
    float: left;
    width: 20%;
    postion: relative; }
  /* line 666, moodboardvariations.scss */
  .version5 section.siteheader {
    margin-bottom: 0; }
    /* line 668, moodboardvariations.scss */
    .version5 section.siteheader .navwrapper {
      padding: 0;
      width: 100%;
      background: none;
      border-bottom: solid 1px #1b4585; }
    /* line 673, moodboardvariations.scss */
    .version5 section.siteheader nav.missionnav {
      background: none; }
    /* line 674, moodboardvariations.scss */
    .version5 section.siteheader nav.orgnav {
      background: none; }
    /* line 675, moodboardvariations.scss */
    .version5 section.siteheader nav.persistentnav {
      max-width: 100%; }
      /* line 677, moodboardvariations.scss */
      .version5 section.siteheader nav.persistentnav ul li {
        border: solid 1px #1b4585;
        border-left: 0;
        border-bottom: 0; }
        /* line 680, moodboardvariations.scss */
        .version5 section.siteheader nav.persistentnav ul li a {
          padding: 1.5em 0;
          color: #1b4585; }
          /* line 682, moodboardvariations.scss */
          .version5 section.siteheader nav.persistentnav ul li a.active {
            color: white; }
    /* line 696, moodboardvariations.scss */
    .version5 section.siteheader .utilitynav {
      width: auto;
      float: right; }
      /* line 701, moodboardvariations.scss */
      .version5 section.siteheader .utilitynav ul li {
        padding: 1px; }
        /* line 704, moodboardvariations.scss */
        .version5 section.siteheader .utilitynav ul li a {
          padding: .5em;
          width: auto;
          display: block; }
    /* line 714, moodboardvariations.scss */
    .version5 section.siteheader nav.localnav {
      clear: both;
      margin: 0;
      padding: 0 0 0 2.5%; }
    /* line 720, moodboardvariations.scss */
    .version5 section.siteheader .breadcrumb {
      padding: 0;
      margin: 0;
      background: rgba(255, 255, 255, 0.9); }
      /* line 724, moodboardvariations.scss */
      .version5 section.siteheader .breadcrumb ul li a {
        padding: .5em 1em; }
  /* line 731, moodboardvariations.scss */
  .version5 .maincontent {
    float: left;
    margin: 0;
    margin: 0 2.5%;
    padding: 0;
    width: 95%;
    background: rgba(255, 255, 255, 0.9); }
    /* line 738, moodboardvariations.scss */
    .version5 .maincontent article {
      width: 69%;
      margin-right: 1.25%;
      padding: 1.25%;
      float: left; }
    /* line 745, moodboardvariations.scss */
    .version5 .maincontent sidebar {
      float: right;
      width: 25%;
      min-width: 320px; }
      /* line 750, moodboardvariations.scss */
      .version5 .maincontent sidebar * {
        min-width: 0; }
    /* line 752, moodboardvariations.scss */
    .version5 .maincontent sidebar > *, .version5 .maincontent .sidebar > * {
      border-top: 0;
      border-bottom: solid 0.25rem #f0f0f0;
      float: left;
      clear: both; }
  /* line 759, moodboardvariations.scss */
  .version5 .globalfooter {
    clear: both;
    margin-top: 2em; }

/*
* Version 6
*/
/* line 769, moodboardvariations.scss */
.version6 {
  background: url("../img/science3.jpg") no-repeat;
  background-position: 0 87px;
  background-size: 100%; }
  /* line 771, moodboardvariations.scss */
  .version6 .logotype {
    float: left;
    width: 20%;
    min-width: 280px;
    background-image: url("../img/logos/CUMCLogo.svg");
    postion: relative; }
  /* line 777, moodboardvariations.scss */
  .version6 section.siteheader {
    margin-bottom: 0; }
    /* line 779, moodboardvariations.scss */
    .version6 section.siteheader .navwrapper {
      padding: 0;
      width: 100%;
      background: none;
      border-bottom: solid 1px #1b4585; }
    /* line 784, moodboardvariations.scss */
    .version6 section.siteheader nav.missionnav {
      background: none; }
    /* line 785, moodboardvariations.scss */
    .version6 section.siteheader nav.orgnav {
      background: none; }
    /* line 786, moodboardvariations.scss */
    .version6 section.siteheader nav.persistentnav {
      max-width: 100%; }
      /* line 788, moodboardvariations.scss */
      .version6 section.siteheader nav.persistentnav ul li {
        border: solid 1px #1b4585;
        border-left: 0;
        border-bottom: 0; }
        /* line 791, moodboardvariations.scss */
        .version6 section.siteheader nav.persistentnav ul li a {
          padding: 1.5em 0;
          color: #1b4585; }
          /* line 793, moodboardvariations.scss */
          .version6 section.siteheader nav.persistentnav ul li a.active {
            color: white; }
    /* line 807, moodboardvariations.scss */
    .version6 section.siteheader .utilitynav {
      width: auto;
      float: right; }
      /* line 812, moodboardvariations.scss */
      .version6 section.siteheader .utilitynav ul li {
        padding: 1px; }
        /* line 815, moodboardvariations.scss */
        .version6 section.siteheader .utilitynav ul li a {
          padding: .5em;
          width: auto;
          display: block; }
    /* line 825, moodboardvariations.scss */
    .version6 section.siteheader nav.localnav {
      clear: both;
      margin: 5em 0 0 0;
      padding: 0 0 0 2.5%; }
    /* line 831, moodboardvariations.scss */
    .version6 section.siteheader .breadcrumb {
      padding: 0;
      margin: 5em 0 0 0;
      background: white; }
      /* line 836, moodboardvariations.scss */
      .version6 section.siteheader .breadcrumb ul li a {
        padding: .5em 1em; }
  /* line 843, moodboardvariations.scss */
  .version6 .maincontent {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    background: none; }
    /* line 849, moodboardvariations.scss */
    .version6 .maincontent > * {
      background: white; }
    /* line 850, moodboardvariations.scss */
    .version6 .maincontent article {
      width: 62.5%;
      padding: 2.5%;
      float: right; }
    /* line 856, moodboardvariations.scss */
    .version6 .maincontent sidebar {
      float: left;
      width: 32.5%; }
  /* line 863, moodboardvariations.scss */
  .version6 .globalfooter {
    clear: both;
    margin-top: 2em; }

/*
* Version 7
*/
/* line 873, moodboardvariations.scss */
.version7 {
  background: url("../img/science3.jpg") no-repeat fixed;
  background-position: 0;
  background-size: cover; }
  /* line 875, moodboardvariations.scss */
  .version7 .logotype {
    float: left;
    width: 20%;
    min-width: 280px;
    background-image: url("../img/logos/CUMCLogo.svg");
    postion: relative; }
  /* line 881, moodboardvariations.scss */
  .version7 section.siteheader {
    margin-bottom: 0; }
    /* line 883, moodboardvariations.scss */
    .version7 section.siteheader .navwrapper {
      padding: 0;
      width: 100%;
      background: none;
      border-bottom: solid 3px white; }
    /* line 888, moodboardvariations.scss */
    .version7 section.siteheader nav.missionnav {
      background: none; }
    /* line 889, moodboardvariations.scss */
    .version7 section.siteheader nav.orgnav {
      background: none; }
    /* line 890, moodboardvariations.scss */
    .version7 section.siteheader nav.persistentnav {
      max-width: 100%; }
      /* line 892, moodboardvariations.scss */
      .version7 section.siteheader nav.persistentnav ul li {
        border: solid 3px white;
        border-left: 0;
        border-bottom: 0; }
        /* line 895, moodboardvariations.scss */
        .version7 section.siteheader nav.persistentnav ul li a {
          padding: 1.5em 0;
          color: white;
          text-transform: uppercase; }
          /* line 898, moodboardvariations.scss */
          .version7 section.siteheader nav.persistentnav ul li a.active {
            color: white; }
    /* line 912, moodboardvariations.scss */
    .version7 section.siteheader .utilitynav {
      width: auto;
      float: right; }
      /* line 917, moodboardvariations.scss */
      .version7 section.siteheader .utilitynav ul li {
        padding: 1px; }
        /* line 920, moodboardvariations.scss */
        .version7 section.siteheader .utilitynav ul li a {
          padding: .5em;
          width: auto;
          display: block; }
    /* line 930, moodboardvariations.scss */
    .version7 section.siteheader nav.localnav {
      clear: both;
      margin: 5em 0 0 0;
      padding: 0 0 0 7.5%; }
    /* line 936, moodboardvariations.scss */
    .version7 section.siteheader .breadcrumb {
      padding: 0;
      margin: 5em 0 0 0;
      background: white; }
      /* line 941, moodboardvariations.scss */
      .version7 section.siteheader .breadcrumb ul li a {
        padding: .5em 1em; }
  /* line 948, moodboardvariations.scss */
  .version7 .maincontent {
    float: left;
    margin: 0 7.5%;
    padding: 0;
    width: 85%;
    background: url(../img/science3.jpg) 50% 0 repeat fixed;
    min-height: 1000px;
    height: 1000px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative; }
    /* line 959, moodboardvariations.scss */
    .version7 .maincontent > * {
      background: rgba(255, 255, 255, 0.7); }
    /* line 960, moodboardvariations.scss */
    .version7 .maincontent article {
      width: 62.5%;
      padding: 2.5%;
      float: left; }
    /* line 966, moodboardvariations.scss */
    .version7 .maincontent sidebar {
      float: left;
      width: 32.5%; }
  /* line 973, moodboardvariations.scss */
  .version7 .globalfooter {
    clear: both;
    margin-top: 2em; }

/* line 979, moodboardvariations.scss */
section.maincontent {
  margin: 0 10% 5% 10%;
  width: 75%;
  padding: 2.5%;
  background: rgba(255, 255, 255, 0.9); }

/* line 980, moodboardvariations.scss */
.utilitynav a {
  background: rgba(255, 255, 255, 0.75); }
