@charset "UTF-8";
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 test
 */
/* ==========================================================================
   SASS variables and mix-ins
   ========================================================================== */
/* ========== Basic CUMC Colors ============= */
/* ========== highlighted ============= */
/* ========== Darkened ============= */
/* ========== New Colors ============= */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 9, ../sass/base.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 14, ../sass/base.scss */
html {
  font-size: 1em;
  line-height: 1.4;
  font-feature-settings: "liga" "dlig";
  text-rendering: optimizeLegibility; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 27, ../sass/base.scss */
::-moz-selection {
  background: #830051;
  text-shadow: none;
  color: white; }

/* line 33, ../sass/base.scss */
::selection {
  background: #830051;
  text-shadow: none;
  color: white; }

/*
 * A better looking default horizontal rule
 */
/* line 43, ../sass/base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 60, ../sass/base.scss */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 68, ../sass/base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 78, ../sass/base.scss */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 86, ../sass/base.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
  Core Typography
   ========================================================================== */
/* line 11, ../sass/typography.scss */
body {
  font-family: "Avenir", "Helvetica", "Arial", "sans-serif"; }

/* ----------- Default Heading Styles -----------*/
/* line 21, ../sass/typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  line-height: 1.25em;
  font-size: 1em;
  font-weight: bold; }

/* line 25, ../sass/typography.scss */
h1 {
  font-size: 2em;
  color: #333; }

/* line 26, ../sass/typography.scss */
h2 {
  font-size: 2em;
  color: #666;
  font-weight: normal; }

/* line 27, ../sass/typography.scss */
h3 {
  font-size: 1.5em;
  color: #333;
  font-weight: bold; }

/* line 28, ../sass/typography.scss */
h4 {
  font-size: 1.5em;
  color: #666;
  font-weight: normal; }

/* line 29, ../sass/typography.scss */
h5 {
  font-size: 1.25em;
  color: #666; }

/* line 30, ../sass/typography.scss */
h6 {
  font-size: 1em;
  color: #666;
  font-weight: bold; }

/* line 37, ../sass/typography.scss */
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: -.5em; }

/* ----------- Default Typographic Styles -----------*/
/* line 44, ../sass/typography.scss */
p + p {
  margin-top: -1em;
  text-indent: 1.5em; }

/* line 45, ../sass/typography.scss */
p {
  margin: 0 0 1em 0;
  line-height: 1.5em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  max-width: 52em; }

/* line 48, ../sass/typography.scss */
.maincontent p {
  font-family: "Minion Pro", "Georgia", "serif"; }

/* line 51, ../sass/typography.scss */
.lt-ie9 p {
  max-width: 100%; }

/* line 53, ../sass/typography.scss */
strong, b {
  font-weight: 600; }

/* line 54, ../sass/typography.scss */
em, i {
  font-style: italic; }

/* line 58, ../sass/typography.scss */
a {
  text-decoration: none;
  border: 0;
  color: #e98300; }

/* line 63, ../sass/typography.scss */
abbr, acronym {
  border-bottom: .1em dotted;
  cursor: help;
  font-size: .85em;
  font-weight: 500; }

/* line 68, ../sass/typography.scss */
time {
  font-weight: 300; }

/* line 69, ../sass/typography.scss */
del {
  text-decoration: strikethrough; }

/* line 70, ../sass/typography.scss */
ins {
  text-decoration: none;
  border-bottom: dotted 1px #cccccc; }

/* line 71, ../sass/typography.scss */
ins:after {
  content: "(updated)";
  font-size: .5em;
  vertical-align: top;
  weight: 900; }

/* line 73, ../sass/typography.scss */
blockquote {
  margin: 1.5rem 3rem;
  display: inline-block;
  text-align: center; }

/* line 74, ../sass/typography.scss */
blockquote:before {
  content: "“";
  font-size: 6em;
  float: left;
  margin: -0.25em 0 0 -0.5em; }

/* line 75, ../sass/typography.scss */
blockquote:after {
  content: "”";
  font-size: 6em;
  line-height: 0;
  float: right;
  position: relative;
  top: .36em;
  right: -.5em; }

/* line 76, ../sass/typography.scss */
blockquote p:before {
  content: "â€œ"; }

/* line 77, ../sass/typography.scss */
blockquote p:first-child:before {
  content: ""; }

/* line 78, ../sass/typography.scss */
blockquote p + p:last-child:after {
  content: "â€"; }

/* line 79, ../sass/typography.scss */
blockquote p:last-child {
  margin-bottom: 1em; }

/* line 80, ../sass/typography.scss */
blockquote cite {
  font-style: italic;
  font-weight: 800; }

/* line 81, ../sass/typography.scss */
cite {
  font-style: italic; }

/* line 82, ../sass/typography.scss */
sub {
  font-size: .75em;
  vertical-align: bottom; }

/* line 83, ../sass/typography.scss */
sup {
  font-size: .75em;
  vertical-align: top; }

/* line 84, ../sass/typography.scss */
big {
  font-size: 1.5em; }

/* line 85, ../sass/typography.scss */
small {
  font-size: .75em;
  font-weight: 60; }

/* line 86, ../sass/typography.scss */
strike, s {
  text-decoration: strikethrough; }

/* line 88, ../sass/typography.scss */
pre {
  padding: 1em;
  margin: 1em;
  background: #ccc; }

/* ----------- some common classes -----------*/
/* line 94, ../sass/typography.scss */
.phone, .fax, .e-mail, .url {
  white-space: nowrap; }

/* line 95, ../sass/typography.scss */
.vcard {
  margin-bottom: 1em; }

/* ----------- Default list Styles -----------*/
/* line 102, ../sass/typography.scss */
ul,
ol,
dl {
  padding: 0 0 1em 2em;
  margin: 0 0 1em 0; }

/* line 112, ../sass/typography.scss */
ol ol {
  list-style-type: lower-latin; }

/* line 116, ../sass/typography.scss */
ol ol ol {
  list-style-type: lower-roman; }

/* line 120, ../sass/typography.scss */
ol ol ol ol {
  list-style-type: numeral; }

/* line 130, ../sass/typography.scss */
dt {
  font-weight: 800; }

/* line 132, ../sass/typography.scss */
dd {
  margin: 0 0 1em 0; }

/* line 133, ../sass/typography.scss */
dd + dd {
  margin: -.5em 0 1em 0; }

/* ----------- Default Form Styles -----------*/
/* 
form { width: 75%;}
input {width: 40%; min-width: 308px; margin: 0 1% .25em 1%; height: 1.5em; padding: 0 .25em; float: left; border: solid 1px #ccc;}
input.half {width: 18.33%; min-width: 160px; margin: 0 1%;}
optgroup {}
label {width: 42%; margin: 0 1% .25em 0; min-height: 2em; float: left; clear: left; text-align: right; padding: .25em 0 0 0;}
textarea { margin: 0 1% .25em 1%; padding: .25em; float: left; border: solid 1px #ccc; width: 40%; min-width: 308px;}
select {width: 41%; min-width: 317px; padding: .25em; float: left; margin: 0 1% .25em 1%; background: none; border: solid 1px #ccc;}
input[type="checkbox"], input[type="radio"] {width: 1em; min-width: 1em; height: 1em; margin-top: .5em;}
input[type="button"], input[type="submit"] {width: auto; min-width: 0;}
input[type="button"]:hover, input[type="submit"]:hover {background: #333; color: white;}
option {}
legend { padding: 1em;}
fieldset {padding: 1em; border: solid #ccc; border-width: 1px 0 0 0;}
 */
/* line 156, ../sass/typography.scss */
table {
  margin: 0;
  padding: 0; }

/* line 157, ../sass/typography.scss */
tr {
  margin: 0;
  padding: 0; }

/* line 159, ../sass/typography.scss */
td {
  margin: 0;
  padding: .5em 1em;
  text-align: left;
  border-bottom: solid 1px #ccc; }

/* line 160, ../sass/typography.scss */
th {
  margin: 0;
  padding: .5em 1em;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  border: solid #333;
  border-width: 0 0 2px 0; }

/* line 161, ../sass/typography.scss */
caption {
  text-align: left;
  font-style: italic; }

/* line 162, ../sass/typography.scss */
thead {
  margin: 0;
  padding: 0;
  border: solid #333;
  border-width: 0 0 2px 0; }

/* line 163, ../sass/typography.scss */
tbody {
  margin: 0;
  padding: 0;
  background: none; }

/* line 164, ../sass/typography.scss */
tfoot {
  margin: 0;
  padding: 0;
  border: solid #333;
  border-width: 2px 0 0 0;
  background: #ccc; }

/* line 165, ../sass/typography.scss */
tfoot tr {
  border-width: 1px 0 0 0; }

/* line 169, ../sass/typography.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 176, ../sass/typography.scss */
table {
  border-collapse: collapse !important; }

/* line 180, ../sass/typography.scss */
table {
  max-width: 100%;
  background-color: transparent; }

/* line 185, ../sass/typography.scss */
th {
  text-align: left; }

/* line 189, ../sass/typography.scss */
table {
  width: 100%;
  margin-bottom: 20px; }

/* line 199, ../sass/typography.scss */
table thead > tr > th,
table tbody > tr > th,
table tfoot > tr > th,
table thead > tr > td,
table tbody > tr > td,
table tfoot > tr > td {
  padding: 1em;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd; }

/* line 206, ../sass/typography.scss */
table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd; }

/* line 216, ../sass/typography.scss */
table caption + thead tr:first-child th,
table colgroup + thead tr:first-child th,
table thead:first-child tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child td {
  border-top: 0; }

/* line 220, ../sass/typography.scss */
table tbody + tbody {
  border-top: 2px solid #dddddd; }

/* line 224, ../sass/typography.scss */
table table {
  background-color: #ffffff; }

@media (max-width: 768px) {
  /* line 231, ../sass/typography.scss */
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd; }

  /* line 238, ../sass/typography.scss */
  .table-responsive > table {
    margin-bottom: 0;
    background-color: #fff; }

  /* line 247, ../sass/typography.scss */
  .table-responsive > table > thead > tr > th,
  .table-responsive > table > tbody > tr > th,
  .table-responsive > table > tfoot > tr > th,
  .table-responsive > table > thead > tr > td,
  .table-responsive > table > tbody > tr > td,
  .table-responsive > table > tfoot > tr > td {
    white-space: nowrap; }

  /* line 250, ../sass/typography.scss */
  .table-responsive > .table-bordered {
    border: 0; }

  /* line 258, ../sass/typography.scss */
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0; }

  /* line 266, ../sass/typography.scss */
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0; }

  /* line 274, ../sass/typography.scss */
  .table-responsive > .table-bordered > thead > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > thead > tr:last-child > td,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0; } }
/* line 283, ../sass/typography.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

/* line 289, ../sass/typography.scss */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

/* line 301, ../sass/typography.scss */
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold; }

/* line 307, ../sass/typography.scss */
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 314, ../sass/typography.scss */
input[type="file"] {
  display: block; }

/* line 319, ../sass/typography.scss */
select[multiple],
select[size] {
  height: auto; }

/* line 323, ../sass/typography.scss */
select optgroup {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit; }

/* line 331, ../sass/typography.scss */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

/* line 338, ../sass/typography.scss */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto; }

/* line 343, ../sass/typography.scss */
textarea.form-control {
  height: auto; }

/* line 349, ../sass/typography.scss */
radio,
checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle; }

/* line 359, ../sass/typography.scss */
radio label,
checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer; }

/* line 369, ../sass/typography.scss */
radio input[type="radio"],
radio-inline input[type="radio"],
checkbox input[type="checkbox"],
checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px; }

/* line 375, ../sass/typography.scss */
radio + radio,
checkbox + checkbox {
  margin-top: -5px; }

/* line 391, ../sass/typography.scss */
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed; }

/* ----------- Default Block/Layout Element Styles -----------*/
/* ----------- Unstyled (i.e. left to the browser) Elements. To Be Completed as needed -----------*/
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 439, ../sass/typography.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 447, ../sass/typography.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 451, ../sass/typography.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 455, ../sass/typography.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 465, ../sass/typography.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 470, ../sass/typography.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 475, ../sass/typography.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 480, ../sass/typography.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 484, ../sass/typography.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 494, ../sass/typography.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 500, ../sass/typography.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
/* ==========================================================================
   Global Header
   ========================================================================== */
/* line 8, ../sass/layout.scss */
.globalheader {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  float: left; }

/* ==========================================================================
   Site Header
   ========================================================================== */
/* line 23, ../sass/layout.scss */
.siteheader {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0; }

/* ==========================================================================
   Main Body
   ========================================================================== */
/* line 37, ../sass/layout.scss */
.maincontent {
  padding: 0 2.5%;
  width: 95%;
  float: left;
  margin-bottom: 2em; }

/* line 45, ../sass/layout.scss */
article {
  width: 100%;
  overflow: hidden; }

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* line 56, ../sass/layout.scss */
sidebar, .sidebar {
  float: left;
  width: 100%; }

/* ==========================================================================
   Site Footer
   ========================================================================== */
/* line 68, ../sass/layout.scss */
.sitefooter {
  width: 95%;
  padding: 0 2.5%;
  clear: both; }

/* ==========================================================================
   Global Footer
   ========================================================================== */
/* line 82, ../sass/layout.scss */
.globalfooter {
  width: 95%;
  padding: 0 2.5%;
  clear: both; }

/* ==========================================================================
   Clown Colors for testing layout
   ========================================================================== 

.globalheader {background: red;}
.siteheader {background: orange;}
.maincontent {background: yellow;}
  article {background: green;}
  sidebar {background: blue;}
.sitefooter {background: indigo;}
.globalfooter {background: violet;}
 
*/
/* ==========================================================================
   Logo imagereplace
   ========================================================================== */
/* line 5, ../sass/module.scss */
.logotype {
  background: url("../img/logos/CUMCLogo2c.svg") no-repeat;
  background-size: 90%;
  width: 100%;
  height: 2em;
  margin: 0;
  padding: 0;
  clear: both; }

/* ==========================================================================
   Buttons and Starter Navigation
   ========================================================================== */
/* line 21, ../sass/module.scss */
nav.basic ul {
  margin: 0 0 2em 0;
  padding: 0;
  float: left; }
  /* line 22, ../sass/module.scss */
  nav.basic ul li {
    cursor: pointer;
    margin: 0;
    padding: .25em 2.5%;
    float: left;
    border: solid 1px #73757a;
    margin: -1px 0 0 -1px;
    width: 95%;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }
  /* line 31, ../sass/module.scss */
  nav.basic ul li.active, nav.basic ul li:hover {
    background: #73757a;
    color: white; }

/* line 37, ../sass/module.scss */
.button {
  display: inline-block;
  padding: .25em 1em;
  border: solid 3px;
  margin: 1%;
  cursor: pointer;
  font-weight: 800;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  /* line 44, ../sass/module.scss */
  .button.solid {
    border: 0;
    color: white !important;
    background-color: #73757a; }
  /* line 48, ../sass/module.scss */
  .button.solid.blue {
    background-color: #1b4585;
    color: white; }
  /* line 52, ../sass/module.scss */
  .button.solid.orange {
    background-color: #e98300; }
  /* line 55, ../sass/module.scss */
  .button.solid.green {
    background-color: #b6bf00; }
  /* line 58, ../sass/module.scss */
  .button.solid.pink {
    background-color: #830051; }
  /* line 61, ../sass/module.scss */
  .button.solid.gray {
    background-color: #73757a; }
  /* line 64, ../sass/module.scss */
  .button:hover {
    background-color: #73757a;
    border-color: #73757a;
    color: white; }
  /* line 69, ../sass/module.scss */
  .button.active {
    background-color: #2d2e31;
    border-color: #2d2e31;
    color: white; }
  /* line 74, ../sass/module.scss */
  .button.blue {
    background-color: white;
    color: #1b4585; }
  /* line 78, ../sass/module.scss */
  .button:hover.blue {
    background-color: #1b4585;
    border-color: #1b4585;
    color: white; }
  /* line 83, ../sass/module.scss */
  .button.active.blue {
    background-color: #0d275f;
    border-color: #0d275f;
    color: white; }
  /* line 88, ../sass/module.scss */
  .button.pink {
    background-color: white;
    color: #830051; }
  /* line 92, ../sass/module.scss */
  .button:hover.pink {
    background-color: #830051;
    border-color: #830051;
    color: white; }
  /* line 97, ../sass/module.scss */
  .button.active.pink {
    background-color: #5d0030;
    border-color: #5d0030;
    color: white; }
  /* line 102, ../sass/module.scss */
  .button.green {
    background-color: white;
    color: #97a200; }
  /* line 106, ../sass/module.scss */
  .button:hover.green {
    background-color: #b6bf00;
    border-color: #b6bf00;
    color: white; }
  /* line 111, ../sass/module.scss */
  .button.active.green {
    background-color: #97a200;
    border-color: #97a200;
    color: white; }
  /* line 116, ../sass/module.scss */
  .button.orange {
    background-color: white;
    color: #e98300; }
  /* line 120, ../sass/module.scss */
  .button:hover.orange {
    background-color: #e98300;
    border-color: #e98300;
    color: white; }
  /* line 125, ../sass/module.scss */
  .button.active.orange {
    background-color: #dd5d00;
    border-color: #dd5d00;
    color: white; }

/* ==========================================================================
   Global Header
   ========================================================================== */
/* line 144, ../sass/module.scss */
.globalheader {
  width: 100%;
  margin: 0;
  font-size: .85rem; }
  /* line 148, ../sass/module.scss */
  .globalheader nav {
    margin: 0;
    width: 100%;
    background: #1b4585;
    float: left;
    overflow: visible;
    border-bottom: solid 1px white;
    -moz-box-shadow: 0px 1px 14px #999;
    -webkit-box-shadow: 0px 1px 14px #999;
    box-shadow: 0px 1px 14px #999;
    min-height: 1.5rem; }
    /* line 157, ../sass/module.scss */
    .globalheader nav .globalNavToggle {
      display: block;
      float: left;
      position: absolute;
      top: 0;
      margin: .25rem 1rem 0 1em;
      padding: 0;
      overflow: hidden;
      color: white;
      width: 90%;
      white-space: nowrap;
      cursor: pointer;
      z-index: 1;
      font-family: "Minion Pro", "Georgia", "serif"; }
    /* line 172, ../sass/module.scss */
    .globalheader nav ul {
      float: left;
      width: 100%;
      margin: 1.5rem 0 0 0;
      border: 0;
      padding: 0 0 0;
      background: #1b4585;
      color: white;
      z-index: 100; }
      /* line 181, ../sass/module.scss */
      .globalheader nav ul li {
        float: left;
        clear: left;
        color: white;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        font-family: "Avenir", "Helvetica", "Arial", "sans-serif";
        font-weight: 200;
        font-size: .85rem;
        width: 100%; }
        /* line 191, ../sass/module.scss */
        .globalheader nav ul li a {
          color: white;
          display: block;
          padding: 0;
          margin: 0;
          text-decoration: none;
          height: 1.25rem;
          overflow: hidden;
          padding: .25rem 1rem; }
          /* line 201, ../sass/module.scss */
          .globalheader nav ul li a:hover {
            background: #2c68b2; }

/* ==========================================================================
   Site Header
   ========================================================================== */
/* line 213, ../sass/module.scss */
.siteheader {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0; }
  /* line 219, ../sass/module.scss */
  .siteheader nav {
    display: block;
    float: left;
    font-size: .85rem; }
    /* line 223, ../sass/module.scss */
    .siteheader nav ul {
      float: left;
      margin: 0;
      padding: 0;
      list-style: none; }
      /* line 228, ../sass/module.scss */
      .siteheader nav ul li {
        display: block;
        float: left;
        width: 100%; }
        /* line 232, ../sass/module.scss */
        .siteheader nav ul li a {
          border: dotted 1px #bec1c7;
          border-width: 0 0 1px 0;
          display: block;
          width: 90%;
          padding: 2% 5%;
          text-decoration: none; }
          /* line 240, ../sass/module.scss */
          .siteheader nav ul li a.active {
            color: #0090df; }
          /* line 243, ../sass/module.scss */
          .siteheader nav ul li a:hover {
            background: #f7b000;
            color: white;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out; }
        /* line 248, ../sass/module.scss */
        .siteheader nav ul li #navsearch {
          padding: 5%; }
          /* line 249, ../sass/module.scss */
          .siteheader nav ul li #navsearch input[type="text"] {
            border: solid 1px #73757a;
            margin: .5em 0;
            padding: .25em;
            width: 95%; }

/* ==========================================================================
   Navigation Items
   ========================================================================== */
/* line 260, ../sass/module.scss */
.utilitynav {
  font-size: .75rem;
  float: right;
  width: 100%; }
  /* line 265, ../sass/module.scss */
  .utilitynav ul {
    float: right;
    width: 100%;
    clear: none; }
    /* line 270, ../sass/module.scss */
    .utilitynav ul li {
      width: 33.3%; }
      /* line 272, ../sass/module.scss */
      .utilitynav ul li a {
        border: 0;
        padding: .25em 5%; }
        /* line 275, ../sass/module.scss */
        .utilitynav ul li a:hover {
          background: white;
          color: #f7b000; }
        /* line 276, ../sass/module.scss */
        .utilitynav ul li a.active {
          color: #e98300; }

/* line 281, ../sass/module.scss */
.persistentnav {
  background: #1b4585;
  clear: both;
  width: 100%; }
  /* line 285, ../sass/module.scss */
  .persistentnav ul {
    width: 100%; }
    /* line 287, ../sass/module.scss */
    .persistentnav ul li {
      clear: left; }
      /* line 288, ../sass/module.scss */
      .persistentnav ul li a {
        color: white; }

/* line 297, ../sass/module.scss */
.localnav ul li a {
  padding: .25em 1em; }
  /* line 298, ../sass/module.scss */
  .localnav ul li a:hover {
    background: #f7b000;
    color: white; }
  /* line 300, ../sass/module.scss */
  .localnav ul li a.active {
    background: #bec1c7; }

/* line 306, ../sass/module.scss */
.breadcrumb {
  float: left;
  display: inline;
  margin: 0 0 1.5% 0;
  clear: none; }
  /* line 311, ../sass/module.scss */
  .breadcrumb ul {
    width: auto; }
    /* line 313, ../sass/module.scss */
    .breadcrumb ul li {
      display: none; }
      /* line 314, ../sass/module.scss */
      .breadcrumb ul li.active, .breadcrumb ul li.active-trail {
        display: block;
        float: left;
        clear: none;
        width: auto;
        position: relative; }
        /* line 320, ../sass/module.scss */
        .breadcrumb ul li.active:after, .breadcrumb ul li.active-trail:after {
          content: ">";
          float: left;
          padding: .25rem; }
        /* line 321, ../sass/module.scss */
        .breadcrumb ul li.active:hover > a, .breadcrumb ul li.active-trail:hover > a {
          background: #e98300;
          color: white; }
        /* line 322, ../sass/module.scss */
        .breadcrumb ul li.active a, .breadcrumb ul li.active-trail a {
          float: left;
          clear: none;
          border: 0;
          margin: 0;
          padding: .25rem .5rem;
          width: auto; }
        /* line 330, ../sass/module.scss */
        .breadcrumb ul li.active ul, .breadcrumb ul li.active-trail ul {
          float: left; }
          /* line 331, ../sass/module.scss */
          .breadcrumb ul li.active ul li, .breadcrumb ul li.active-trail ul li {
            float: left;
            clear: left;
            width: 100%;
            margin: 0;
            padding: 0; }
            /* line 336, ../sass/module.scss */
            .breadcrumb ul li.active ul li:after, .breadcrumb ul li.active-trail ul li:after {
              content: none; }
          /* line 338, ../sass/module.scss */
          .breadcrumb ul li.active ul:hover, .breadcrumb ul li.active-trail ul:hover {
            -moz-box-shadow: 0px 1px 14px #999;
            -webkit-box-shadow: 0px 1px 14px #999;
            box-shadow: 0px 1px 14px #999;
            display: block;
            position: absolute;
            z-index: 100;
            background: white;
            width: 200%;
            max-width: 200px; }
            /* line 346, ../sass/module.scss */
            .breadcrumb ul li.active ul:hover li, .breadcrumb ul li.active-trail ul:hover li {
              float: left;
              clear: left;
              width: 100%;
              margin: 0;
              padding: 0; }
              /* line 352, ../sass/module.scss */
              .breadcrumb ul li.active ul:hover li a, .breadcrumb ul li.active-trail ul:hover li a {
                color: #73757a;
                width: 92%;
                padding: 2.5% 4%;
                margin: 0;
                line-height: 1.15em;
                border: dotted 1px #73757a;
                border-width: 0 0 1px 0; }
                /* line 360, ../sass/module.scss */
                .breadcrumb ul li.active ul:hover li a:hover, .breadcrumb ul li.active-trail ul:hover li a:hover {
                  color: white; }
              /* line 363, ../sass/module.scss */
              .breadcrumb ul li.active ul:hover li.active a, .breadcrumb ul li.active-trail ul:hover li.active a {
                background: #e98300;
                color: white; }
              /* line 366, ../sass/module.scss */
              .breadcrumb ul li.active ul:hover li.active-trail a, .breadcrumb ul li.active-trail ul:hover li.active-trail a {
                background: #e98300;
                color: white; }
      /* line 373, ../sass/module.scss */
      .breadcrumb ul li.active-trail:hover li {
        display: block;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }

/* line 378, ../sass/module.scss */
div.drawertoggle {
  text-transform: uppercase; }

/* line 379, ../sass/module.scss */
div.drawertoggle:first-child:before {
  content: "=";
  font-family: CUMCLogos;
  margin-right: .5em; }

/* line 380, ../sass/module.scss */
div.drawershow {
  display: none; }

/* line 381, ../sass/module.scss */
div.drawershow {
  background: #1b4585;
  display: block;
  cursor: pointer;
  float: left;
  padding: .5em 1em;
  margin: 0;
  color: white;
  z-index: 900; }

/* line 394, ../sass/module.scss */
.slideout-subnav nav.localnav ul {
  display: none;
  width: 20%;
  min-width: 12rem;
  max-width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 500;
  -moz-box-shadow: 0px 1px 14px #999;
  -webkit-box-shadow: 0px 1px 14px #999;
  box-shadow: 0px 1px 14px #999;
  padding: 0 0 0 2.5%;
  float: left; }
  /* line 407, ../sass/module.scss */
  .slideout-subnav nav.localnav ul li {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    float: left; }
    /* line 413, ../sass/module.scss */
    .slideout-subnav nav.localnav ul li a {
      padding: .5em 5%;
      width: 90%;
      display: block; }

/* line 423, ../sass/module.scss */
a.active {
  background: #0090df; }

/* ==========================================================================
   Main Body Styles
   ========================================================================== */
/* line 431, ../sass/module.scss */
.maincontent {
  padding: 0 2.5%;
  width: 95%;
  float: left;
  margin-bottom: 2em; }
  /* line 436, ../sass/module.scss */
  .maincontent p {
    font-family: "Minion Pro", "Georgia", "serif"; }

/* line 439, ../sass/module.scss */
.article-mini-module {
  float: right;
  clear: right;
  width: 45%;
  margin: 0 0 5% 5%;
  min-width: 200px; }

/* ==========================================================================
   Body Image Module and Captions
   ========================================================================== */
/* line 451, ../sass/module.scss */
.image-wrapper {
  float: right;
  position: relative;
  width: 45%;
  max-height: 50%;
  margin: 0 0 5% 5%; }
  /* line 458, ../sass/module.scss */
  .image-wrapper img {
    width: 100%;
    float: right; }
  /* line 461, ../sass/module.scss */
  .image-wrapper .image-caption {
    float: left;
    clear: both;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    width: auto;
    padding: .5em;
    font-family: "Minion Pro", "Georgia", "serif";
    font-size: .85rem; }
    /* line 470, ../sass/module.scss */
    .image-wrapper .image-caption.bottom-right {
      bottom: 1em;
      right: 1em;
      width: 50%;
      position: absolute; }
    /* line 471, ../sass/module.scss */
    .image-wrapper .image-caption.bottom-left {
      bottom: 1em;
      left: 1em;
      width: 50%;
      position: absolute; }
    /* line 472, ../sass/module.scss */
    .image-wrapper .image-caption.top-right {
      top: 1em;
      right: 1em;
      width: 50%;
      position: absolute; }
    /* line 473, ../sass/module.scss */
    .image-wrapper .image-caption.top-left {
      top: 1em;
      left: 1em;
      width: 50%;
      position: absolute; }
    /* line 474, ../sass/module.scss */
    .image-wrapper .image-caption.top-center {
      top: 1em;
      left: 1em;
      right: 1em;
      width: auto;
      position: absolute; }
    /* line 475, ../sass/module.scss */
    .image-wrapper .image-caption.bottom-center {
      bottom: 1em;
      left: 1em;
      right: 1em;
      width: auto;
      position: absolute; }
  /* line 477, ../sass/module.scss */
  .image-wrapper .photo-credit {
    font-size: .75rem;
    color: #73757a;
    margin-left: .5em; }
  /* line 478, ../sass/module.scss */
  .image-wrapper a.photo-credit:hover {
    color: #f7b000; }

/* line 482, ../sass/module.scss */
.feature-image {
  width: 100%; }

/* ==========================================================================
   Related links
   ========================================================================== */
/* line 491, ../sass/module.scss */
.related-links h3 {
  font-size: .85em;
  text-transform: uppercase;
  letter-spacing: .2em; }
/* line 495, ../sass/module.scss */
.related-links ul {
  margin: 0;
  padding: 0; }
  /* line 498, ../sass/module.scss */
  .related-links ul li {
    border-bottom: dotted 1px #0065bd;
    padding: .25em 0;
    font-size: .85rem; }
  /* line 502, ../sass/module.scss */
  .related-links ul li.external a:after {
    font-family: CUMCLogos;
    font-size: 1.25em;
    font-weight: normal;
    color: #73757a;
    content: " »"; }

/* ==========================================================================
   Blockquote
   ========================================================================== */
/* line 511, ../sass/module.scss */
blockquote {
  margin: 5% 10%;
  text-align: center;
  float: left;
  width: 35%;
  font-style: italic; }

/* line 512, ../sass/module.scss */
blockquote:before {
  content: "“";
  font-size: 6em;
  float: left;
  margin: -0.25em 0 0 -0.5em; }

/* line 513, ../sass/module.scss */
blockquote:after {
  content: "”";
  font-size: 6em;
  line-height: 0;
  float: right;
  position: relative;
  top: .36em;
  right: -.5em; }

/* line 514, ../sass/module.scss */
blockquote p:before {
  content: "â€œ"; }

/* line 515, ../sass/module.scss */
blockquote p:first-child:before {
  content: ""; }

/* line 516, ../sass/module.scss */
blockquote p + p:last-child:after {
  content: "â€"; }

/* line 517, ../sass/module.scss */
blockquote p:last-child {
  margin-bottom: 1em; }

/* line 518, ../sass/module.scss */
blockquote cite {
  font-style: italic;
  font-weight: 800; }

/* line 520, ../sass/module.scss */
blockquote.article-mini-module {
  width: 35%;
  margin: 2.5% 7.5%; }

/* ==========================================================================
   Asides
   ========================================================================== */
/* line 531, ../sass/module.scss */
aside p {
  max-width: 26rem;
  font-size: .85rem;
  margin: 1em 0; }
/* line 536, ../sass/module.scss */
aside h1 {
  font-size: 1.5rem; }
/* line 537, ../sass/module.scss */
aside h2 {
  font-size: 1.25rem; }
/* line 538, ../sass/module.scss */
aside h3 {
  font-size: 1rem; }

/* ==========================================================================
   Sidebars
   ========================================================================== */
/* line 546, ../sass/module.scss */
sidebar, .sidebar {
  font-size: .85rem;
  margin: 0;
  float: left;
  width: 100%;
  padding: 0; }
  /* line 552, ../sass/module.scss */
  sidebar h1, .sidebar h1 {
    font-size: 1.5rem; }
  /* line 553, ../sass/module.scss */
  sidebar h2, .sidebar h2 {
    font-size: 1.25rem; }
  /* line 554, ../sass/module.scss */
  sidebar h3, .sidebar h3 {
    font-size: 1rem; }
  /* line 555, ../sass/module.scss */
  sidebar > *, .sidebar > * {
    border-top: solid 0.25rem #73757a;
    padding: .5rem 5% 1.5rem 5%;
    clear: both; }

/* ==========================================================================
   News Module
   ========================================================================== */
/* line 566, ../sass/module.scss */
.news .news-index {
  margin: 0; }
  /* line 568, ../sass/module.scss */
  .news .news-index ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    /* line 572, ../sass/module.scss */
    .news .news-index ul li {
      margin: 0;
      padding: .5em 0;
      border-bottom: solid 1px #bec1c7; }
      /* line 575, ../sass/module.scss */
      .news .news-index ul li img {
        max-width: 120px;
        float: left;
        margin-right: 2.5%; }
      /* line 579, ../sass/module.scss */
      .news .news-index ul li h1 {
        font-size: 1.15rem;
        font-weight: 800;
        margin: 0; }
      /* line 580, ../sass/module.scss */
      .news .news-index ul li h2 {
        font-size: 1rem;
        margin: 0; }
      /* line 581, ../sass/module.scss */
      .news .news-index ul li h3 {
        font-size: 1rem;
        font-weight: 800;
        margin: 0; }
      /* line 582, ../sass/module.scss */
      .news .news-index ul li .primary-category {
        font-size: .75em;
        text-transform: uppercase;
        margin: 0;
        font-weight: 800;
        color: #73757a; }
      /* line 583, ../sass/module.scss */
      .news .news-index ul li .datetime {
        font-size: .75em; }
      /* line 584, ../sass/module.scss */
      .news .news-index ul li .byline {
        font-size: .55em;
        text-transform: uppercase;
        font-weight: 800;
        color: #73757a; }
      /* line 585, ../sass/module.scss */
      .news .news-index ul li p {
        font-size: .85rem;
        line-height: 1.25em;
        letter-spacing: -.03em; }

/* ==========================================================================
   event Module
   ========================================================================== */
/* line 596, ../sass/module.scss */
.button.addtocalendar {
  padding: .5em;
  line-height: 1em;
  font-size: .5rem;
  text-transform: uppercase;
  border: 0;
  background: #dfe8f4;
  margin: 0; }
  /* line 598, ../sass/module.scss */
  .button.addtocalendar:hover {
    background: #1b4585;
    color: white; }

/* line 602, ../sass/module.scss */
.events .events-index {
  margin: 0; }
  /* line 604, ../sass/module.scss */
  .events .events-index dl {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    /* line 608, ../sass/module.scss */
    .events .events-index dl dt {
      float: left;
      width: 95%;
      min-width: 13em;
      padding: .5em;
      color: #1b4585;
      background: #dfe8f4;
      clear: both; }
    /* line 616, ../sass/module.scss */
    .events .events-index dl dd {
      margin: 0;
      padding: .5em 0;
      border-bottom: solid 1px #bec1c7;
      float: left; }
      /* line 620, ../sass/module.scss */
      .events .events-index dl dd ul {
        float: left;
        width: auto;
        list-style: none;
        margin: 0;
        padding: 0; }
        /* line 625, ../sass/module.scss */
        .events .events-index dl dd ul li {
          float: left;
          clear: left;
          margin: 0 0 1em 0;
          padding: 0; }
          /* line 629, ../sass/module.scss */
          .events .events-index dl dd ul li img {
            max-width: 120px;
            float: left;
            margin: 0 2.5% 2.5% 0; }
          /* line 633, ../sass/module.scss */
          .events .events-index dl dd ul li h1 {
            font-size: 1.15rem;
            font-weight: 800;
            margin: 0;
            min-width: 50%; }
          /* line 634, ../sass/module.scss */
          .events .events-index dl dd ul li h2 {
            font-size: 1rem;
            font-weight: 800;
            margin: 0;
            min-width: 50%; }
          /* line 635, ../sass/module.scss */
          .events .events-index dl dd ul li h3 {
            font-size: 1rem;
            margin: 0;
            min-width: 50%; }
          /* line 636, ../sass/module.scss */
          .events .events-index dl dd ul li .primary-category {
            font-size: .75em;
            text-transform: uppercase;
            margin: 0;
            font-weight: 800;
            color: #73757a; }
          /* line 637, ../sass/module.scss */
          .events .events-index dl dd ul li .datetime {
            font-size: .75em; }
          /* line 638, ../sass/module.scss */
          .events .events-index dl dd ul li .byline {
            font-size: .55em;
            text-transform: uppercase;
            font-weight: 800;
            color: #73757a; }
          /* line 639, ../sass/module.scss */
          .events .events-index dl dd ul li p {
            font-size: .85rem;
            line-height: 1.25em;
            letter-spacing: -.03em; }
/* line 649, ../sass/module.scss */
.events .abbreviated p {
  display: none; }

/* ==========================================================================
   Calendar Module
   ========================================================================== */
/* line 657, ../sass/module.scss */
.calendar hgroup {
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 1em; }
  /* line 662, ../sass/module.scss */
  .calendar hgroup * {
    text-align: center;
    line-height: 2rem;
    margin: 0 2rem; }
  /* line 664, ../sass/module.scss */
  .calendar hgroup a.prev:before {
    content: "<";
    font-family: CUMCLogos;
    margin: 0 .5em; }
  /* line 665, ../sass/module.scss */
  .calendar hgroup a.next:after {
    content: ">";
    font-family: CUMCLogos;
    margin: 0 .5em; }
  /* line 666, ../sass/module.scss */
  .calendar hgroup a:hover {
    color: #e98300; }
/* line 671, ../sass/module.scss */
.calendar table tr th {
  display: none; }
/* line 673, ../sass/module.scss */
.calendar table tr td {
  float: left;
  clear: left;
  padding: 0;
  margin: 0;
  width: 100%; }
  /* line 678, ../sass/module.scss */
  .calendar table tr td.today {
    background: #f7b000; }
    /* line 680, ../sass/module.scss */
    .calendar table tr td.today span.calendardate {
      color: white;
      background: none;
      opacity: .25; }
    /* line 681, ../sass/module.scss */
    .calendar table tr td.today ul:before {
      content: "TODAY";
      display: block;
      color: #1b4585;
      margin: 0;
      padding: .5em;
      font-weight: bold; }
    /* line 688, ../sass/module.scss */
    .calendar table tr td.today li, .calendar table tr td.today dd {
      padding: 2.5%; }
      /* line 690, ../sass/module.scss */
      .calendar table tr td.today li a:hover, .calendar table tr td.today dd a:hover {
        color: white; }
      /* line 691, ../sass/module.scss */
      .calendar table tr td.today li .eventtime, .calendar table tr td.today dd .eventtime {
        color: white; }
  /* line 694, ../sass/module.scss */
  .calendar table tr td span.calendardate {
    float: left;
    display: block;
    color: #1b4585;
    background: #dfe8f4;
    width: 95%;
    margin: 0;
    padding: .5em;
    font-weight: bold; }
  /* line 705, ../sass/module.scss */
  .calendar table tr td ul, .calendar table tr td dl {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 70%; }
    /* line 712, ../sass/module.scss */
    .calendar table tr td ul li, .calendar table tr td ul dd, .calendar table tr td dl li, .calendar table tr td dl dd {
      margin: 0;
      padding: .25em 0;
      font-size: .85rem; }
      /* line 715, ../sass/module.scss */
      .calendar table tr td ul li img, .calendar table tr td ul dd img, .calendar table tr td dl li img, .calendar table tr td dl dd img {
        display: none; }
      /* line 717, ../sass/module.scss */
      .calendar table tr td ul li a:hover, .calendar table tr td ul dd a:hover, .calendar table tr td dl li a:hover, .calendar table tr td dl dd a:hover {
        color: orange; }
      /* line 718, ../sass/module.scss */
      .calendar table tr td ul li h1, .calendar table tr td ul dd h1, .calendar table tr td dl li h1, .calendar table tr td dl dd h1 {
        font-size: 1rem;
        font-weight: 800;
        margin: 0;
        line-height: 1.15em; }
      /* line 719, ../sass/module.scss */
      .calendar table tr td ul li h2, .calendar table tr td ul dd h2, .calendar table tr td dl li h2, .calendar table tr td dl dd h2 {
        font-size: .85rem;
        margin: 0;
        line-height: 1.15em; }
      /* line 720, ../sass/module.scss */
      .calendar table tr td ul li h3, .calendar table tr td ul dd h3, .calendar table tr td dl li h3, .calendar table tr td dl dd h3 {
        font-size: .85rem;
        font-weight: 800;
        margin: 0;
        line-height: 1.15em; }
      /* line 721, ../sass/module.scss */
      .calendar table tr td ul li .primary-category, .calendar table tr td ul dd .primary-category, .calendar table tr td dl li .primary-category, .calendar table tr td dl dd .primary-category {
        display: none; }
      /* line 722, ../sass/module.scss */
      .calendar table tr td ul li .eventtime, .calendar table tr td ul dd .eventtime, .calendar table tr td dl li .eventtime, .calendar table tr td dl dd .eventtime {
        color: #e98300; }
      /* line 723, ../sass/module.scss */
      .calendar table tr td ul li .byline, .calendar table tr td ul dd .byline, .calendar table tr td dl li .byline, .calendar table tr td dl dd .byline {
        font-size: .55em;
        text-transform: uppercase;
        font-weight: 800;
        color: #73757a; }
      /* line 724, ../sass/module.scss */
      .calendar table tr td ul li p, .calendar table tr td ul dd p, .calendar table tr td dl li p, .calendar table tr td dl dd p {
        display: none; }

/* ==========================================================================
   Doctor Index Card
   ========================================================================== */
/* line 735, ../sass/module.scss */
.faculty {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%; }

/* line 742, ../sass/module.scss */
.resultscard {
  float: left;
  clear: left;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: solid 1px #bec1c7;
  padding: 1% 0%; }
  /* line 750, ../sass/module.scss */
  .resultscard .profilelink {
    padding: 2px;
    float: right;
    max-width: 25%;
    margin: 0; }
    /* line 755, ../sass/module.scss */
    .resultscard .profilelink .headshot {
      width: 100%;
      float: left;
      max-width: 118px;
      border: solid 1px #bec1c7;
      padding: 2.5%; }
    /* line 762, ../sass/module.scss */
    .resultscard .profilelink span {
      display: block;
      padding: .5em 0;
      text-align: center;
      clear: left; }
  /* line 771, ../sass/module.scss */
  .resultscard h1 {
    font-size: 1.25rem;
    margin-bottom: 0; }
    /* line 772, ../sass/module.scss */
    .resultscard h1 span {
      font-size: .85em; }
  /* line 774, ../sass/module.scss */
  .resultscard h2 {
    font-size: 1rem;
    margin: .75em 0 .5em 0;
    clear: left; }
    /* line 777, ../sass/module.scss */
    .resultscard h2 span {
      font-weight: normal; }
  /* line 779, ../sass/module.scss */
  .resultscard section {
    float: left;
    margin-bottom: .75em;
    min-width: 180px;
    width: 70%; }
    /* line 784, ../sass/module.scss */
    .resultscard section dl {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1rem;
      line-height: 1.25em; }
      /* line 789, ../sass/module.scss */
      .resultscard section dl dt {
        padding: 0;
        margin: .75em 0 .5em 0; }
      /* line 793, ../sass/module.scss */
      .resultscard section dl dd {
        padding: 0;
        margin: 0; }
  /* line 798, ../sass/module.scss */
  .resultscard ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 802, ../sass/module.scss */
    .resultscard ul li {
      float: left;
      clear: left; }
      /* line 804, ../sass/module.scss */
      .resultscard ul li h3 {
        font-size: 1rem; }
  /* line 810, ../sass/module.scss */
  .resultscard .locations span {
    display: block; }

/* line 813, ../sass/module.scss */
.abbreviated .resultscard {
  padding: 0;
  width: 20%;
  min-width: 300px;
  height: 200px;
  font-size: .85em;
  float: left;
  clear: none; }
  /* line 821, ../sass/module.scss */
  .abbreviated .resultscard .profilelink {
    margin-right: 5%;
    width: 25%; }
  /* line 822, ../sass/module.scss */
  .abbreviated .resultscard h1 {
    font-size: 1.25em; }
  /* line 823, ../sass/module.scss */
  .abbreviated .resultscard h2 {
    display: block;
    font-size: 1em; }
  /* line 824, ../sass/module.scss */
  .abbreviated .resultscard dl {
    font-size: 1em; }
  /* line 825, ../sass/module.scss */
  .abbreviated .resultscard dt {
    margin: 0; }
  /* line 826, ../sass/module.scss */
  .abbreviated .resultscard dd {
    margin: 0 0 .5em 0; }
  /* line 827, ../sass/module.scss */
  .abbreviated .resultscard .headshot {
    display: block;
    border: 0;
    padding: 0; }
  /* line 828, ../sass/module.scss */
  .abbreviated .resultscard section {
    display: none;
    float: right;
    width: 68.5%;
    margin: 0;
    padding: 0;
    font-size: .85rem; }
  /* line 829, ../sass/module.scss */
  .abbreviated .resultscard .department-division {
    display: block; }
  /* line 830, ../sass/module.scss */
  .abbreviated .resultscard .availability {
    display: block; }

/* line 833, ../sass/module.scss */
sidebar .abbreviated .resultscard {
  width: auto;
  height: auto; }

/* ==========================================================================
   Global Footer
   ========================================================================== */
/* line 845, ../sass/module.scss */
section.globalfooter {
  font-family: "Avenir", "Helvetica", "Arial", "sans-serif";
  background: #73757a;
  color: white; }
  /* line 849, ../sass/module.scss */
  section.globalfooter h3 {
    cursor: pointer;
    color: white; }
  /* line 853, ../sass/module.scss */
  section.globalfooter h3.active {
    color: #e98300; }
  /* line 854, ../sass/module.scss */
  section.globalfooter a {
    font-size: .85rem;
    text-decoration: none;
    color: #2d2e31;
    display: block;
    padding: .25rem;
    clear: both;
    color: white; }
    /* line 863, ../sass/module.scss */
    section.globalfooter a:hover, section.globalfooter a .ui-state-active a {
      background: #0090df;
      color: white;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
  /* line 870, ../sass/module.scss */
  section.globalfooter div {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 2rem; }
    /* line 878, ../sass/module.scss */
    section.globalfooter div ul {
      margin: 1rem 0;
      padding: 0;
      float: left;
      width: 100%; }
      /* line 883, ../sass/module.scss */
      section.globalfooter div ul li {
        list-style: none;
        margin: 0;
        padding: 0; }
    /* line 890, ../sass/module.scss */
    section.globalfooter div h3 {
      font-size: 1rem; }
  /* line 897, ../sass/module.scss */
  section.globalfooter ul.general_info {
    float: left;
    clear: both;
    width: 100%;
    padding-bottom: 2em; }
    /* line 902, ../sass/module.scss */
    section.globalfooter ul.general_info li {
      float: left; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 7, ../sass/helpers.scss */
.nobullet * {
  list-style: none; }

/* line 8, ../sass/helpers.scss */
.listreset, .listreset * {
  margin: 0;
  padding: 0;
  list-style: none; }

/*
 * Image replacement
 */
/* line 13, ../sass/helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

/* line 21, ../sass/helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 32, ../sass/helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 41, ../sass/helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 58, ../sass/helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 71, ../sass/helpers.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 88, ../sass/helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 93, ../sass/helpers.scss */
.clearfix:after {
  clear: both; }

/* line 97, ../sass/helpers.scss */
.clearboth {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 104, ../sass/helpers.scss */
.clearfix {
  *zoom: 1; }

/*
 *  Adjective class to hide all but the essential elements
 */
/* line 113, ../sass/helpers.scss */
.abbreviated .datetime, .abbreviated .byline, .abbreviated .primary-category, .abbreviated img, .abbreviated h2, .abbreviated h3 {
  display: none; }

/*
 *  makes stuff stick to the top
 */
/* line 120, ../sass/helpers.scss */
.stickdiv {
  position: fixed;
  top: 0px;
  opacity: .7; }
  /* line 124, ../sass/helpers.scss */
  .stickdiv:hover {
    opacity: 1; }

/*
 *  float left or right
 */
/* line 133, ../sass/helpers.scss */
.left {
  float: left;
  margin: 0 1em 1em 0; }

/* line 134, ../sass/helpers.scss */
.right {
  float: right;
  margin: 0 0 1em 1em; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  /* ==========================================================================
     Buttons and Starter Navigation
     ========================================================================== */
  /* line 20, ../sass/state.scss */
  nav ul li {
    cursor: pointer; }

  /* line 24, ../sass/state.scss */
  nav.basic ul li {
    width: auto;
    padding: .25em 1em; }

  /* ==========================================================================
     Global Header
     ========================================================================== */
  /* line 44, ../sass/state.scss */
  .globalheader nav .globalNavToggle {
    float: left;
    position: relative;
    overflow: hidden;
    width: auto;
    text-align: right;
    cursor: pointer;
    padding: 0; }
  /* line 55, ../sass/state.scss */
  .globalheader nav ul {
    float: left;
    width: auto;
    padding: 0;
    margin: 0;
    height: 1.5em;
    overflow: hidden; }
    /* line 63, ../sass/state.scss */
    .globalheader nav ul li {
      clear: none;
      width: auto;
      padding: 0;
      margin: 0; }
      /* line 68, ../sass/state.scss */
      .globalheader nav ul li a {
        margin: 0; }

  /* ==========================================================================
     Site Header
     ========================================================================== */
  /* line 83, ../sass/state.scss */
  .logotype {
    width: 33%; }

  /* line 89, ../sass/state.scss */
  .siteheader nav.utilitynav ul li {
    width: auto;
    padding: .5em 5%; }
    /* line 91, ../sass/state.scss */
    .siteheader nav.utilitynav ul li a {
      white-space: nowrap; }
      /* line 92, ../sass/state.scss */
      .siteheader nav.utilitynav ul li a:hover {
        background: #e98300; }
  /* line 97, ../sass/state.scss */
  .siteheader nav.persistentnav {
    width: 50%;
    max-width: 600px;
    padding: 0;
    margin: 0;
    float: left;
    clear: none;
    border: 0; }
    /* line 105, ../sass/state.scss */
    .siteheader nav.persistentnav ul {
      display: table;
      padding: 0;
      margin: 0; }
      /* line 108, ../sass/state.scss */
      .siteheader nav.persistentnav ul li {
        width: auto;
        float: none;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        clear: none;
        padding: 0;
        margin: 0; }
        /* line 117, ../sass/state.scss */
        .siteheader nav.persistentnav ul li a {
          border-width: 0;
          display: block;
          padding: .5em 0;
          margin: 0;
          width: 100%;
          float: left; }
    /* line 127, ../sass/state.scss */
    .siteheader nav.persistentnav.orgnav {
      background: #1b4585;
      float: left; }
    /* line 131, ../sass/state.scss */
    .siteheader nav.persistentnav.missionnav {
      background: #0065bd;
      float: left;
      background: #1b4585;
      /* Old browsers */
      background: -moz-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1b4585), color-stop(100%, #0065bd));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #1b4585 50%, #0065bd 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #1b4585 50%, #0065bd 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$cumcblue', endColorstr='$cumcblue2',GradientType=0 );
      /* IE6-9 */ }
  /* line 145, ../sass/state.scss */
  .siteheader nav.localnav {
    float: left;
    margin-bottom: 1em;
    float: left;
    padding: 0 0 0 10%; }
    /* line 150, ../sass/state.scss */
    .siteheader nav.localnav ul {
      width: 100%; }
      /* line 153, ../sass/state.scss */
      .siteheader nav.localnav ul li a {
        border-width: 0 0 1px 0; }

  /* line 165, ../sass/state.scss */
  .vertical-subnav .siteheader .navwrapper {
    margin-bottom: 2rem; }
  /* line 168, ../sass/state.scss */
  .vertical-subnav .siteheader nav.localnav {
    width: auto;
    padding: 0 2.5% 0 0;
    max-width: 200px; }
    /* line 172, ../sass/state.scss */
    .vertical-subnav .siteheader nav.localnav ul {
      /*  @include columns(1,auto,0,0); */
      float: left;
      width: 100%; }
      /* line 176, ../sass/state.scss */
      .vertical-subnav .siteheader nav.localnav ul li {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        float: left; }
        /* line 182, ../sass/state.scss */
        .vertical-subnav .siteheader nav.localnav ul li a {
          padding: .5em 5%;
          width: 90%;
          display: block; }
  /* line 190, ../sass/state.scss */
  .vertical-subnav .siteheader + * {
    width: 70%;
    float: left;
    clear: none;
    margin-top: 0; }

  /* line 200, ../sass/state.scss */
  aside, .aside {
    float: left;
    width: 20%;
    min-width: 320px; }

  /* ==========================================================================
      News
     ========================================================================== */
  /* line 211, ../sass/state.scss */
  .news-index.lateral ul {
    border: 0;
    margin: 1rem 0 2rem 0;
    max-width: 100%;
    overflow: hidden; }
    /* line 216, ../sass/state.scss */
    .news-index.lateral ul li {
      float: left;
      width: 30%;
      margin-right: 3.33%;
      border: 0;
      overlow: hidden; }

  /* ==========================================================================
      event
     ========================================================================== */
  /* line 232, ../sass/state.scss */
  .events .events-index dl dt {
    width: 10%;
    min-width: 3em;
    padding: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase; }
    /* line 240, ../sass/state.scss */
    .events .events-index dl dt span.date {
      display: block;
      font-size: 1.25rem;
      font-weight: bold; }
  /* line 242, ../sass/state.scss */
  .events .events-index dl dd {
    float: left;
    width: 80%; }
    /* line 244, ../sass/state.scss */
    .events .events-index dl dd ul {
      width: 100%; }
      /* line 246, ../sass/state.scss */
      .events .events-index dl dd ul li .eventtime {
        display: block; }
      /* line 247, ../sass/state.scss */
      .events .events-index dl dd ul li img {
        float: left; }
  /* line 254, ../sass/state.scss */
  .events .events-index.lateral dl dt {
    max-width: 2em;
    padding: .75em; }
  /* line 260, ../sass/state.scss */
  .events .events-index.lateral dl dd ul li {
    width: 30%;
    float: left;
    clear: none;
    margin-left: 3%; }
  /* line 268, ../sass/state.scss */
  .events .events-index.abbreviated dl {
    display: block;
    width: 100%; }
    /* line 269, ../sass/state.scss */
    .events .events-index.abbreviated dl dt {
      font-size: 1rem; }
      /* line 271, ../sass/state.scss */
      .events .events-index.abbreviated dl dt span.date {
        font-size: inherit; }
    /* line 274, ../sass/state.scss */
    .events .events-index.abbreviated dl dd {
      width: 70%; }
  /* line 280, ../sass/state.scss */
  .events .events-index.abbreviated.lateral dl dt {
    width: 5%;
    min-widht: 3em;
    font-size: 1em; }
  /* line 288, ../sass/state.scss */
  .events .events-index.aside dl {
    width: auto; }
  /* line 289, ../sass/state.scss */
  .events .events-index.aside dt {
    width: 95%;
    float: none;
    display: block;
    padding: .25rem;
    font-size: 1rem; }
    /* line 295, ../sass/state.scss */
    .events .events-index.aside dt span.date {
      font-size: inherit;
      display: inline;
      margin-left: .5em; }
  /* line 298, ../sass/state.scss */
  .events .events-index.aside dd {
    width: 100%; }

  /* line 306, ../sass/state.scss */
  .calendar table tr {
    display: table-row; }
    /* line 307, ../sass/state.scss */
    .calendar table tr th {
      display: table-cell;
      background: #73757a;
      color: white;
      text-align: center;
      text-align: left;
      line-height: 1em;
      padding: .5em; }
    /* line 315, ../sass/state.scss */
    .calendar table tr td {
      float: none;
      clear: none;
      width: 13.25%;
      height: 6rem;
      display: table-cell;
      border: solid 1px #bec1c7;
      padding: 0;
      position: relative;
      overflow: hidden; }
      /* line 324, ../sass/state.scss */
      .calendar table tr td span.calendardate {
        text-align: right;
        width: 100%;
        background: none;
        display: block;
        font-size: 6rem;
        line-height: 1em;
        letter-spacing: -.15em;
        color: #dfe8f4;
        font-weight: bold;
        background: none;
        padding: 0;
        margin: 0;
        position: relative;
        right: .05em;
        top: -.05em; }
        /* line 340, ../sass/state.scss */
        .calendar table tr td span.calendardate .full-day-month {
          display: none; }
      /* line 342, ../sass/state.scss */
      .calendar table tr td ul {
        position: relative;
        width: 100%;
        z-index: 100;
        top: -6rem;
        margin-bottom: -5rem; }
        /* line 348, ../sass/state.scss */
        .calendar table tr td ul li {
          margin: 5%;
          width: 90%; }
        /* line 357, ../sass/state.scss */
        .calendar table tr td ul:first-child img {
          display: block;
          position: absolute;
          height: 100%;
          width: auto;
          z-index: 0;
          opacity: .2; }

  /* ==========================================================================
     Doctor Index Card
     ========================================================================== */
  /* line 373, ../sass/state.scss */
  .resultscard {
    min-width: 0; }
    /* line 375, ../sass/state.scss */
    .resultscard h1 {
      font-size: 2rem; }
    /* line 376, ../sass/state.scss */
    .resultscard .profilelink {
      width: 18%;
      max-width: 120px;
      margin-right: 2%;
      float: left; }
      /* line 377, ../sass/state.scss */
      .resultscard .profilelink .headshot {
        max-width: 100%; }
    /* line 379, ../sass/state.scss */
    .resultscard section {
      float: left;
      width: 19%;
      margin-right: 2%; }

  /* ==========================================================================
     Global Footer
     ========================================================================== */
  /* line 392, ../sass/state.scss */
  .globalfooter.great-js-is-on {
    position: relative;
    background: #73757a;
    float: left;
    width: 95%;
    min-height: 15em; }
    /* line 398, ../sass/state.scss */
    .globalfooter.great-js-is-on h3 {
      float: left;
      margin: 1em .5em;
      font-size: 1rem;
      text-align: center; }
      /* line 402, ../sass/state.scss */
      .globalfooter.great-js-is-on h3:hover {
        color: #e98300; }
    /* line 404, ../sass/state.scss */
    .globalfooter.great-js-is-on .globalfooterbasics {
      clear: both;
      list-style: none;
      width: 70%;
      float: left; }
      /* line 410, ../sass/state.scss */
      .globalfooter.great-js-is-on .globalfooterbasics.affiliations {
        width: 20%;
        list-style: none;
        float: right;
        clear: none; }
    /* line 424, ../sass/state.scss */
    .globalfooter.great-js-is-on > div {
      position: absolute;
      background: #73757a;
      top: 3rem;
      left: 0;
      padding: 0 2.5%;
      width: 95%;
      border-top: solid 1px white; }
      /* line 434, ../sass/state.scss */
      .globalfooter.great-js-is-on > div ul {
        /* @include columns(5,auto,1em,0); */
        /*@include no-col-break()*/ } }
/*
 * THESE STYLES ARE JUST FORMATTING FOR THE MOODBOARDS AND SHOULD BE REMOVED FOR ANY REAL WORLD APPLICATION
 */
/* line 28, ../sass/theme5.scss */
body > section {
  margin: 0;
  float: left;
  clear: left;
  width: 100%; }

/* line 29, ../sass/theme5.scss */
nav.basic + * {
  clear: both;
  float: left;
  margin-top: 1em; }

/* line 30, ../sass/theme5.scss */
nav.basic .aside {
  width: auto;
  min-width: 0; }

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  /*
  * Version 5
  */
  /* line 41, ../sass/theme5.scss */
  .version5 {
    background: url("../../img/science3.jpg") fixed;
    background-position: 0 0;
    background-size: 100%;
    background: #f0f0f0; }
    /* line 44, ../sass/theme5.scss */
    .version5 .logotype {
      margin-left: 2.5%;
      margin-bottom: 2rem; }
    /* line 49, ../sass/theme5.scss */
    .version5 .siteheader .navwrapper {
      border-bottom: solid 1px #1b4585;
      float: left;
      width: 100%;
      -moz-box-shadow: 0px 1px 14px #999;
      -webkit-box-shadow: 0px 1px 14px #999;
      box-shadow: 0px 1px 14px #999; }
    /* line 56, ../sass/theme5.scss */
    .version5 .siteheader nav.missionnav {
      background: none;
      width: 55%; }
    /* line 57, ../sass/theme5.scss */
    .version5 .siteheader nav.orgnav {
      background: none;
      width: 45%; }
    /* line 58, ../sass/theme5.scss */
    .version5 .siteheader nav.persistentnav {
      max-width: 100%; }
      /* line 60, ../sass/theme5.scss */
      .version5 .siteheader nav.persistentnav ul li {
        border: solid 1px #1b4585;
        border-left: 0;
        border-bottom: 0; }
        /* line 63, ../sass/theme5.scss */
        .version5 .siteheader nav.persistentnav ul li a {
          padding: 1.5em 0;
          color: #1b4585; }
          /* line 65, ../sass/theme5.scss */
          .version5 .siteheader nav.persistentnav ul li a.active {
            color: white; }
    /* line 79, ../sass/theme5.scss */
    .version5 .siteheader .utilitynav {
      width: auto;
      float: right; }
      /* line 84, ../sass/theme5.scss */
      .version5 .siteheader .utilitynav ul li {
        padding: 1px; }
        /* line 87, ../sass/theme5.scss */
        .version5 .siteheader .utilitynav ul li a {
          background: rgba(255, 255, 255, 0.75);
          padding: .5em;
          width: auto;
          display: block; }
    /* line 97, ../sass/theme5.scss */
    .version5 .siteheader nav.localnav {
      clear: both;
      margin: 0;
      padding: 0 0 0 2.5%; }
    /* line 103, ../sass/theme5.scss */
    .version5 .siteheader .breadcrumb {
      padding: 0;
      margin: 0;
      background: rgba(255, 255, 255, 0.9); }
      /* line 107, ../sass/theme5.scss */
      .version5 .siteheader .breadcrumb ul li a {
        padding: .5em 1em; }
    /* line 114, ../sass/theme5.scss */
    .version5 .maincontent {
      float: left;
      margin: 0;
      margin: 0 2.5%;
      padding: 0;
      width: 95%;
      background: rgba(255, 255, 255, 0.9); }
      /* line 121, ../sass/theme5.scss */
      .version5 .maincontent article {
        width: 65%;
        margin-right: 1.25%;
        padding: 1.25%;
        float: left; }
      /* line 128, ../sass/theme5.scss */
      .version5 .maincontent aside {
        float: right;
        width: 30%;
        min-width: 0px;
        background: #dfe8f4; }
        /* line 134, ../sass/theme5.scss */
        .version5 .maincontent aside * {
          min-width: 0; }
      /* line 136, ../sass/theme5.scss */
      .version5 .maincontent aside > *, .version5 .maincontent .aside > * {
        border-top: 0;
        border-bottom: solid 0.25rem #f0f0f0;
        float: left;
        clear: both; }
    /* line 143, ../sass/theme5.scss */
    .version5 .globalfooter {
      clear: both;
      margin-top: 2em; } }
