

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 test
 */



@import 'mixins.scss';
@import 'base.scss';
@import 'typography.scss';
@import 'layout.scss';
@import 'module.scss'; 
@import 'helpers.scss';
@import 'state.scss';

 

    /*
     * THESE STYLES ARE JUST FORMATTING FOR THE MOODBOARDS AND SHOULD BE REMOVED FOR ANY REAL WORLD APPLICATION
     */

body {margin: 0; padding: 0; background: red; }
body > section {margin: 0; float: left; clear: left; width: 100%;}
nav.basic + * {clear: both; float: left; margin-top: 1em;}
nav.basic .sidebar {width: auto; min-width: 0;}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */


/*
* Version 5
*/

.a1 {
	background: #ececec;
    font-size: 18px;
    color: $cumcgray_darken;
    .logotype { 
    		width: 300px;
    		height: auto;
    		float: left;
    		margin: 1em 0 0 7.5%;
    		background: transparent;
    		a {
    			background: url(../img/logos/CUMClogo.svg) no-repeat;
        		background-size: 100% auto;
        		width: 300px;
        		height: 50px;
        		display: block;
        		float: left;
        		text-indent: -9999px;
        		color: $cumcblue;
        		}
    }    
    
    .siteheader {
		background: url("../img/bg/citybg.png") repeat fixed;
    	/* background-position: 0 0; */
    	background-size: 100% auto;
    	margin: 0 0 -150px 0;
    	box-shadow: inset 0 0 90px rgba(0,0,0,1);
		height: 375px;
        .navwrapper {
            float: left;
            width: 100%;
            background: $cumcblue_highlight;
            margin:0;
            box-shadow: 0 10px 25px rgba(0,0,0,0.5);
        }
        nav {
            &.missionnav {background: none; width: 100%}
            &.orgnav {background: none; width: 45%}
            &.persistentnav {max-width: 100%;
            a:hover { background: white; color: $cumcblue_highlight; }
            font-size: 1.2rem;
                ul {
                    li {
                    	border-right: 1px solid rgba(255,255,255,0.2);
                        border-left: 0;
                        border-bottom: 0;
                        a { padding: 0.5em 0;
                            color: white;
                            &.active {color: $cumcblue_highlight;
                            background: white; }
                        }
                    }
                }
            }
            ul { 
                li { 
                    a { 
                        
                    }
                }
            }
            
        }
        
        .utilitynav {
        
        width: auto;
        float: right;
        ul {
            li {
                padding: 0;
                a {
                    background: white;
                    padding: 0.2em 0.7em;
                    width: auto;
                    display: block;
                	&:hover { background: $cumcblue_highlight; color: white; }
                }
            }
        }   
    }
    nav.localnav {
        clear: both;
        margin: 2.3em 0 0 7.5%;
        padding: 0;   
    }
    .breadcrumb {
        background: rgba(255,255,255,1);
		float: none;
		margin: 10px 0 0 0;
		display: block;
		clear: both;
		margin-left: 7.5%;
		padding: 0;
        ul {
            li {
                a {
                    padding: .5em 1em;
                    &:hover { background: $cumcblue_highlight; color: white; }
                }
            }
        }
    }    
    }
    .maincontent {
        margin: 0 auto;
        padding: 0;
        float: none;
        width: 85%;
        background: rgba(255,255,255,.9);
        article {
            width: 57%;
            padding: 4% 6% 5% 6%;
            float: left;
            background: white;
            box-shadow: 0 -38px 47px -24px rgba(0, 0, 0, 0.4);
        }
        sidebar {
            float: right;
            width: 28%;
            padding: 1.25%;
            color: black;
            min-width: 0px;
            background: white;
            * {min-width: 0;}
            h1, h2, h3, h4, h5, h6 p { color: black;}
            a { color: $cumcblue; }
        }
        sidebar > *, .sidebar > * {
            border-top: 0;
            border-bottom: solid 0.5rem #f0f0f0;
            padding: .8rem 5% 1.5rem 5%;
            float: left;
            clear: both;
            width: 90%;
        }
    }
    .globalfooter {clear: both; margin-top: 2em;}
}

.news .news-index ul li .primary-category { color: white; }

a { color: $cumcblue_highlight;
	&.hover { color: white;
	          background: $cumcblue2_highlight !important;
             }
   }          

h1, h2, h3, h4, h5, h6 { color: black; }                    

h1 { font-size: 2.2em; }

p + h2 { padding-top: 1em; }

blockquote {
	font-size: 1.3em;
	color: $cumcpink_highlight;
	font-weight: 700;
	text-align: left;
	}
	
	blockquote:before, blockquote:after {
		font-size: 3em;
		margin: -0.25em 0 0 -0.7em;
		}

aside p {
	font-size: 1em;
	opacity: 0.9;
	}
	
	.image-wrapper .image-caption.bottom-right, .image-wrapper .image-caption.top-right, .image-wrapper .image-caption.top-left, .image-wrapper .image-caption.bottom-left {
		background: black;
		color: white;
		opacity: 0.8;
	}

.image-wrapper .image-caption {
	padding: 1.4em;
	background: white;
	font-size: 0.9em;
	color: black;
	a { color: black; }
	}


.abbreviated .resultscard .department-division {
	width: 60%;
	display: block;
	float: left;
	}

}
