

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 test
 */



@import 'mixins.scss';
@import 'base.scss';
@import 'typography.scss';
@import 'layout.scss';
@import 'module.scss'; 
@import 'helpers.scss';
@import 'state.scss';

 

    /*
     * THESE STYLES ARE JUST FORMATTING FOR THE MOODBOARDS AND SHOULD BE REMOVED FOR ANY REAL WORLD APPLICATION
     */

body {margin: 0; padding: 0; }
body > section {margin: 0; float: left; clear: left; width: 100%;}
nav.basic + * {clear: both; float: left; margin-top: 1em;}
nav.basic .sidebar {width: auto; min-width: 0;}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */


/*
* Version 5
*/

.a1 {
	background: #fff;
    font-size: 18px;
    color: $cumcgray_darken;
    .logotype { 
        margin-left: 2.5%;
        margin-bottom: 0em;
        background: url(../img/logos/CUMClogo.svg) no-repeat !important;
        width: 35%;
        a {
        background: url(../img/logos/CUMClogo.svg) no-repeat;
        background-size: 100% auto;
        width: 200px;
        height: 31px;
        display: block;
        float: left;
        text-indent: -9999px;
        color: $cumcblue;
        }
    }    
    
    .globalheader { margin-bottom: 3em; }
    
    .siteheader {
    	background: url("../img/science1.jpg");
    	background-position: 0 0;
    	background-size: cover;
    	margin: 1em auto;
    	width: 85%;
    	height: 210px;
    	float: none;
        .navwrapper {
            float: left;
            width: 100%;
            background: transparent;
            margin:0;
        }
        nav {
            &.missionnav {background: none; width: 100%}
            &.orgnav {background: none; width: 45%}
            &.persistentnav {max-width: 100%;
            a:hover { 
            	border-top: 4px solid $cumcpink_highlight;
				margin-top: -4px;
				background: transparent;
				color: white;
             }
            font-size: 1rem;
                ul {
                    li {
                    	border-right: 1px solid rgba(255,255,255,0.4);
                        border-left: 0;
                        border-bottom: 0;
                        a { padding: 0.5em 0;
                            color: white;
                            &.active {
                            border-top: 4px solid $cumcpink_highlight;
							margin-top: -4px;
							background: transparent;
							color: white;
							}
                        }
                    }
                }
            }
            ul { 
                li { 
                    a { 
                        
                    }
                }
            }
            
        }
        
        .utilitynav {
        
        width: auto;
        float: right;
        ul {
            li {
                
                padding: 0;
                a {
                	&:hover, &:active {
                	background: $cumcpink_highlight;
                	color: white;
                	}
                    background: rgba(255,255,255, 1);
                    padding: .3em 1em;
                    width: auto;
                    display: block;
                }
            }
        }   
    }
    nav.localnav {
        clear: both;
        margin: 32px 0 0 0;
        padding: 0;   
    }
    .breadcrumb {
    	padding: 0;
        background: rgba(255,255,255,1);
		margin: 32px 0 0 0;
        ul {
            li {
                a {
                	&:hover, &:active {
                	background: $cumcpink_highlight;
                	color: white;
                	}
                    padding: .5em 1em;
                }
            }
        }
    }    
    }
    .maincontent {
        margin: 0 auto;
        padding: 0;
        float: none;
        width: 85%;
        background: rgba(255,255,255,.9);
        article {
            width: 65%;
            margin-right: 3% 1.25% 1.25% 1.25%;
            padding: 1.25%;
            float: right;
            background: none;
        }
        sidebar {
            float: left;
            width: 28%;
            padding: 1.25%;
            color: #333;
            min-width: 0px;
            background: #fff;
			box-shadow: inset 0 0 379px rgba(0,0,0,0.2);
            * {min-width: 0;}
            a, h1, h2, h3, h4, h5, h6 p { color: #333;}
            a { color: $cumcblue_highlight; }
        }
        sidebar > *, .sidebar > * {
            border-top: 0;
            border-bottom: solid 1px #ccc;
            padding: .8rem 5% 1.5rem 5%;
            float: left;
            clear: both;
            width: 90%;
        }
    }
    .globalfooter {clear: both; margin-top: 2em;}
}

.news .news-index ul li .primary-category { color: white; }

a { color: $cumcblue_highlight;
	&.hover { color: white;
	          background: $cumcblue2_highlight !important;
             }
   }          

p { max-width: 40em; }

h1, h2, h3, h4, h5, h6 { color: black; }

h1 { color: $cumcblue; font-size: 2.2em; }               

blockquote {
	font-size: 1.6em;
	color: $cumcblue;
	font-weight: 700;
	text-align: left;
	border-left: 4px solid $cumcpink_highlight;
	padding-left: 2em;
	width: 80%;
	}
	
	blockquote:before, blockquote:after {
		font-size: 3em;
		margin: -0.25em 0 0 -0.7em;
		display: none;
		}

aside p {
	font-size: 1em;
	opacity: 0.9;
	}
	
	.image-wrapper .image-caption.bottom-right, .image-wrapper .image-caption.top-right, .image-wrapper .image-caption.top-left, .image-wrapper .image-caption.bottom-left {
		background: white;
		color: black;
		opacity: 0.9;
		padding: 1em;
		a {
		color: #333;
		}
	}

.image-wrapper .image-caption {
	padding: 1.4em;
	background: white;
	font-size: 0.9em;
	color: black;
	a { color: black; }
	}

.related-links {
	ul {
		li { border-bottom: dotted 1px #fff; }
		}
		}

.abbreviated .resultscard .department-division { float: left; width: 60%; }

div.drawershow { background: $cumcpink_highlight; }

}
