

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 test
 */



@import 'mixins.scss';
@import 'base.scss';
@import 'typography.scss';
@import 'layout.scss';
@import 'module.scss'; 
@import 'helpers.scss';
@import 'state.scss';

 

    /*
     * THESE STYLES ARE JUST FORMATTING FOR THE MOODBOARDS AND SHOULD BE REMOVED FOR ANY REAL WORLD APPLICATION
     */

body {margin: 0; padding: 0; }
body > section {margin: 0; float: left; clear: left; width: 100%;}
nav.basic + * {clear: both; float: left; margin-top: 1em;}
nav.basic .sidebar {width: auto; min-width: 0;}


@media only screen and (min-width: 65em) {
    /* Style adjustments for viewports that meet the condition */


/*
* Version 5
*/

.a1 {
	background: white;
	background-size: 100% auto;
    font-size: 16px;
    color: $cumcgray_darken;
    .logotype { 
        margin: 0 auto;
    	width: 100%;
    	height: auto;
    	max-width: 1200px;
    	float: none;
    	background: transparent;
    	a {
    	background: url(../img/logos/CUMClogo.svg) no-repeat;
        background-size: 100% auto;
        width: 200px;
        height: 31px;
        display: block;
        float: left;
        text-indent: -9999px;
        color: $cumcblue;
        }
    }    
    
    .ir:before { height: auto; color: white; }
    
    .globalheader {
		margin: 0;
		width: 100%;
		background: $cumcblue;
		float: left;
		overflow: visible;
		border-bottom: solid 1px white;
		-moz-box-shadow: 0px 1px 14px #999;
		-webkit-box-shadow: 0px 1px 14px #999;
		box-shadow: 0px 1px 14px #999;
		min-height: 1.5rem;
			nav {
				margin-bottom: -1px; float: none;
				margin: 0 auto;
				max-width: 1200px;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
		}
		}
    
    .siteheader {
    	background: $cumcblue_highlight;
    	background-position: 0 0;
    	background-size: 100% auto;
    	margin: 0 auto;
    	float: none;
    	height: 226px;
    	padding: 2em 0 0 0;
        .navwrapper {
            float: none;
            width: 80%;
            background: rgba(0,0,0,0.7);
            margin: 0 auto;
        }
        
nav {
            &.missionnav {background: none; width: 100%}
            &.orgnav {background: none; width: 45%}
            &.persistentnav {max-width: 100%;
            a:hover { background: $cumcblue_darken; }
            font-size: 1rem;
            background: transparent;
            padding-top: 1.5em;
                ul {
                    li {
                    	&:first-child { }
                        border-right: 1px dotted #bec1c7;
                        border-bottom: 1px dotted #bec1c7;
                        a { padding: 0.2em 0;
                            color: white;
                            background: transparent;
                            &.active {
                            	background: $cumcblue_darken;
                            }
                        }
                    }
                }
            }
            ul { 
                li { 
                    a { 
                        
                    }
                }
            }
            
        }
        
        
        .utilitynav {
        
        width: auto;
		float: none;
		margin: 0 auto;
		max-width: 1200px;
        ul { float: right;
        	 margin-top: 1em;
        	 display: block;
        	 width: 100%;
        	 max-width: 200px;
            li {
                margin: 0 1%;
                padding: 0;
                width: 90%;
                float: right;
                a {
                    background: none;
                    color: white;
                    padding: .5em;
                    width: auto;
                    display: block;
					font-weight: 100;
					font-size: 0.938em;
					&:hover { background: $cumcblue_highlight; border-left: 3px solid white; }
                }
            }
        }   
    }
    nav.localnav {
        clear: both;
        margin: 0;
        padding: 0;
        margin: 0 auto;
        float: none;
        max-width: 1200px;
    }
    
    .slideout-subnav {
    	nav.localnav {
    	ul { 
    		background: white;
    		padding: 2em;
    		}
    	}	
    }
    
    .siteheader nav.localnav ul { background: red !important; }
    
    .breadcrumb {
        background: none;
		width: 80%;
		float: none;
		margin: 0 auto;
		padding: 0;
		display: block;
		font-style: italic;
		color: white;
        ul { padding: 0;
        	 background: none;
            li {
                a {
                    padding: .5em 1em;
                    color: white;
                    &:hover, &:active { background: rgba(255,255,255,0.2); color: white; }
                }
            }
        }
    }    
    }
    
    .breadcrumb ul li.active:after, .breadcrumb ul li.active-trail:after {
    	padding: 0.6rem .01rem;
		font-size: 0.7em;
				}
    
    
    .maincontent {
        margin: 0 auto;
        padding: 0;
        float: none;
        width: 80%;
        background: white;
        article {
            width: 55%;
            margin-right: 3% 1.25% 1.25% 1.25%;
            padding: 1.25%;
            float: left;
            background: white;
        }
        sidebar {
            float: right;
            width: 38%;
            padding: 1.25%;
            color: black;
            min-width: 0px;
            background: white;
            * {min-width: 0;}
            a, h1, h2, h3, h4, h5, h6 p { color: black;}
        }
        sidebar > *, .sidebar > * {
            border-top: 0;
            border-bottom: solid 0.5rem #f0f0f0;
            padding: .8rem 5% 1.5rem 5%;
            float: left;
            width: 40%;
            display: block;
            clear: none;;
        }
    }
    .globalfooter {clear: both; margin-top: 2em;}
}

.news .news-index ul li .primary-category { color: black; }

a { color: $cumcblue_highlight;
	&.hover { color: white;
	          background: $cumcblue2_highlight !important;
             }
   }          

h1, h2, h3, h4, h5, h6 { color: black; text-transform: uppercase; }             

blockquote {
	font-size: 1.6em;
	color: $cumcblue_highlight;
	font-weight: 100;
	text-align: left;
	}
	
	blockquote:before, blockquote:after {
		font-size: 3em;
		margin: -0.25em 0 0 -0.7em;
		}

aside p {
	font-size: 1em;
	opacity: 0.9;
	}
	
	.image-wrapper .image-caption.bottom-right, .image-wrapper .image-caption.top-right, .image-wrapper .image-caption.top-left, .image-wrapper .image-caption.bottom-left {
		background: white;
		color: black;
		opacity: 0.9;
		padding: 1em;
		a { color: black; }
	}

.image-wrapper .image-caption {
	padding: 1.4em;
	background: white;
	font-size: 0.9em;
	color: black;
	a { color: black; }
	}

.related-links {
	ul {
		li { border-bottom: dotted 1px #fff; }
		}
		}

.abbreviated .resultscard .department-division { float: left; width: 60%; }

.column {background: green; border: solid 1px white;}

div.drawershow {
	background: $cumcpink;
	}

.slideout-subnav nav.localnav ul {
	background: white;
	padding: 9em 0 0 0;
	margin: 0;
	width: 300px;
	max-width: 300px;
	box-shadow: 0 0 56px rgba(0,0,0,0.3);
		li {
			width: 100%;
			a {
				padding: 1em 10%;
				width: 80%;
				border-bottom: 1px dotted;
				&:hover {
					background: $cumcblue_highlight;
					}
				}
			}
		form {
			position: absolute;
			top: 0;
			display: block;
			margin: 0.8em auto;
			padding: 1em 10% 1.2em 10%;
			width: 80%;
			border-bottom: 1px solid $cumcblue;
			input {
				margin: 1em 0 0 0;
				width: 92%;
				padding: 4%;
				border: 1px dotted $cumcblue_highlight;
			}
			.searchline2 {
				input { width: auto; }
				}
			}
	}	

}
