

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 test
 */



@import 'mixins.scss';
@import 'base.scss';
@import 'typography.scss';
@import 'layout.scss';
@import 'module.scss'; 
@import 'helpers.scss';
@import 'state.scss';

 

    /*
     * THESE STYLES ARE JUST FORMATTING FOR THE MOODBOARDS AND SHOULD BE REMOVED FOR ANY REAL WORLD APPLICATION
     */

body {margin: 0; padding: 0; }
body > section {margin: 0; float: left; clear: left; width: 100%;}
nav.basic + * {clear: both; float: left; margin-top: 1em;}
nav.basic .sidebar {width: auto; min-width: 0;}


@media only screen and (min-width: 65em) {
    /* Style adjustments for viewports that meet the condition */


/*
* Version 5
*/

.a1 {
	background: #F2F2F0;
    font-size: 18px;
    color: $cumcgray_darken;
    .logotype { 
        position: absolute;
        top: 140px;
        left: 11%;
    	float: none;
    	background: none;
    	a {
    		&:hover { color: $cumcblue_highlight; }
    			background: url(../img/logos/CUMClogo2c.svg) no-repeat;
        		background-size: 100% auto;
        		width: 218px;
        		height: 38px;
        		display: block;
        		float: left;
        		text-indent: -9999px;
        		color: $cumcblue;
        }
    }    
    
    .ir:before { height: auto; color: white; }
    
    .globalheader {
		margin: 0;
		width: 100%;
		background: $cumcblue;
		float: left;
		overflow: visible;
		border-bottom: solid 1px white;
		-moz-box-shadow: 0px 1px 14px #999;
		-webkit-box-shadow: 0px 1px 14px #999;
		box-shadow: 0px 1px 14px #999;
		min-height: 1.5rem;
			nav {
				margin-bottom: -1px; float: none;
				margin: 0 auto;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
		}
		}
    
    .siteheader {
    	background: rgba(232,233,228,0.9);
    	background: #E8E8E6;
    	background-position: 0 0;
    	background-size: 100% auto;
    	margin: 0 auto;
    	float: none;
    	height: 195px;
    	padding: 2em 0 0 0;
        .navwrapper {
            float: none;
            width: 80%;
            background: rgba(0,0,0,0.7);
            margin: 0 auto;
        }
        
		nav {
            &.missionnav {background: none; width: auto; float:right; margin-right: 2%;}
            &.orgnav {background: none; width: auto; float:right; margin-left: 160px; }
            &.persistentnav {max-width: 100%;
            a:hover {
            	background: rgba(0,0,0,0.05);
            	color: $cumcblue;
            	}
            font-size: 1rem;
            background: transparent;
            padding-top: 1.5em;
                ul { display: block;
                    li {
                    	&:first-child { }
                        a { padding: 0;
                        	margin: 0.2em 1em;
                            color: $cumcblue;
                            background: transparent;
                            font-weight: 800;
                            &.active {
                            	background: rgba(0,0,0,0.05);
                            	color: $cumcblue;
                            }
                        }
                    }
                }
            }
            ul { 
                li { 
                    a { 
                        
                    }
                }
            }
            
        }
        
        
    .utilitynav {
        
        width: 85%;
		float: none;
		margin: 0 auto;
        ul { float: right;
        	 margin: 1em 4% 0 0;
        	 display: block;
        	 width: 28%;
        	 clear: both;
            li {
                margin: 0 2.2% 0 0;
                padding: 0;
                width: 31%;
                float: left;
                a {
                    background: none;
                    color: $cumcgray_darken;
                    padding: .5em;
                    width: auto;
                    display: block;
					font-weight: 100;
					font-size: 0.938em;
					border-bottom: 1px dotted $cumcpink;
					&:hover { background: rgba(255,255,255,0.3); }
                }
            }
        }   
    }
    nav.localnav {
        clear: both;
        margin: 0;
        padding: 0 2%;
        margin: 0 auto;
        float: none;
		width: 80%;
    }
    
	

    .breadcrumb {
        background: none;
		width: 78%;
		float: none;
		margin: 0 auto;
		padding: 0;
		display: block;
		font-style: italic;
		color: white;
        ul { padding: 0;
        	 background: none;
            li {
                a {
                    padding: .5em 1em;
                    color: $cumcblue;
                    &:hover, &:active { background: rgba(255,255,255,0.2); color: $cumcblue_highlight; }
                }
            }
        }
    }    
    }
    
    .breadcrumb ul li.active:after, .breadcrumb ul li.active-trail:after {
    	padding: 0.6rem .01rem;
		font-size: 0.7em;
				}
    
    
    .maincontent {
        margin: 0 auto;
        padding: 0 2%;
        float: none;
        width: 80%;
        background: #fff;
        article {
            width: 62%;
            margin: 1% 1.25% 1.25% 1.25%;
            padding: 1.25%;
            float: left;
            background: transparent;
            clear: left;
        }
        sidebar {
        	a:hover { color: $cumcblue_highlight; }
            float: right;
            width: 30%;
            padding: 0 1.5%;
            color: $cumcgray_darken;
            min-width: 0px;
            background: transparent;
            clear: right;
            * {min-width: 0;}
            a, h1, h2, h3, h4, h5, h6 p { color: $cumcblue; }
            .related-links {
				h1, h2, h3, h4, h5, h6, a, a:hover, a:active { color: white; }
				background: $cumcpink;
				color: white;
			}
        }
        sidebar > *, .sidebar > * {
            border-top: 0;
            border-bottom: solid 0.5rem #f0f0f0;
            padding: 2em 5% 1.5em 5%;
            float: left;
            width: 90%;
            display: block;
            clear: none;
        }
    }
    .globalfooter {clear: both; margin-top: 2em;}
}

.news .news-index ul li .primary-category { color: black; }

a { color: $cumcblue_highlight;
	&.hover { color: white;
	          background: $cumcblue2_highlight !important;
             }
   }          

h1, h2, h3, h4, h5, h6 { color: black; text-transform: uppercase; }             

p { max-width: 42em; }

blockquote {
	font-size: 1.6em;
	color: $cumcblue_highlight;
	font-weight: 100;
	text-align: left;
	margin: 5% 6%;
	}
	
	blockquote:before, blockquote:after {
		font-size: 3em;
		margin: -0.25em 0 0 -0.7em;
		}
		
	blockquote:after {
		right: -0.3em;
		}

aside p {
	font-size: 1.2em;
	opacity: 0.9;
	}
	
.image-wrapper .image-caption.bottom-right, .image-wrapper .image-caption.top-right, .image-wrapper .image-caption.top-left, .image-wrapper .image-caption.bottom-left {
		background: white;
		color: black;
		opacity: 0.9;
		padding: 1em;
		a { color: black; }
	}

.image-wrapper .image-caption {
	padding: 1.4em;
	background: white;
	font-size: 0.9em;
	color: black;
	a { color: black; }
	}

.related-links {
	h3 { font-size: 1.3em; }
	ul {
		li { border-bottom: none; }
		}
		}

.news {
	.news-index {
		ul {
			li { border-bottom: none;
				byline { font-size: 0.8em; }
				}
		}
	}
}			

.news .news-index ul li img

.events .events-index dl dt {
	background: $cumcblue;
	padding: 1em;
	color: white;
	text-align:left;
		.day {
			font-weight: 100;
			margin-bottom: -2px;
			display: block;
			}
	}

.abbreviated .resultscard .department-division { float: left; width: 60%; }

sidebar .abbreviated .resultscard { width: 90%; }

.clear { display: block; width: 100%; clear: both; }		

div.drawershow {
	background: $cumcblue_highlight;
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
	padding: 0.5em .5%;
	margin: 0 0 0 -5%;
	position: absolute;
	top: 275px;
	}

.slideout-subnav nav.localnav ul {
	background: white;
	padding: 9em 0 0 0;
	margin: 0;
	width: 300px;
	max-width: 300px;
	box-shadow: 0 0 56px rgba(0,0,0,0.3);
		li {
			width: 100%;
			a {
				padding: 1em 10%;
				width: 80%;
				border-bottom: 1px dotted;
				&:hover {
					background: $cumcblue_highlight;
					}
				}
			}
		form {
			position: absolute;
			top: 0;
			display: block;
			margin: 0.8em auto;
			padding: 1em 10% 1.2em 10%;
			width: 80%;
			border-bottom: 8px solid $cumcblue_highlight;
			input {
				margin: 1em 0 0 0;
				width: 92%;
				padding: 4%;
				border: 1px dotted $cumcblue_highlight;
			}
			.searchline2 {
				input { width: auto; }
				}
			}
	}	

.stickdiv {
	top: 20px !important;
	position: fixed !important;
	}	

}





