

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 test
 */



@import 'mixins.scss';
@import 'base.scss';
@import 'typography.scss';
@import 'layout.scss';
@import 'module.scss'; 
@import 'helpers.scss';
@import 'state.scss';

 

    /*
     * THESE STYLES ARE JUST FORMATTING FOR THE MOODBOARDS AND SHOULD BE REMOVED FOR ANY REAL WORLD APPLICATION
     */

body {margin: 0; padding: 0; }
body > section {margin: 0; float: left; clear: left; width: 100%;}
nav.basic + * {clear: both; float: left; margin-top: 1em;}
nav.basic .sidebar {width: auto; min-width: 0;}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */


/*
* Version 5
*/

.a5 {
	background: white;
	background-size: 100% auto;
    font-size: 17px;
    color: #333;
    .logo-wrap {
    	display: block;
    	float: none;
    	margin: 0 auto;
    	width: 85%;
    	height: auto;
    	.logotype { 
        	margin: -200px 0 0 0;
    		width: 200px;
    		height: auto;
    		max-width: 1200px;
    		float: left;
    		background: transparent;
    		a {
    			background: url(../img/logos/CUMClogo.svg) no-repeat;
        		background-size: 100% auto;
        		width: 200px;
        		height: 35px;
        		display: block;
        		float: left;
        		text-indent: -9999px;
        		color: $cumcblue;
        		position: absolute;
        		top: 50px;
        		}
    	}    
    }    

::selection {
	background: $cumcblue_highlight;
	}
    
    .ir:before { height: auto; color: white; }
    
    .globalheader {
		margin: 0;
		width: 100%;
		background: $cumcblue;
		float: left;
		overflow: visible;
		border-bottom: solid 1px white;
		-moz-box-shadow: 0px 1px 14px #999;
		-webkit-box-shadow: 0px 1px 14px #999;
		box-shadow: 0px 1px 14px #999;
		min-height: 1.5rem;
			nav {
				margin-bottom: -1px; float: none;
				margin: 0 auto;
				max-width: 1200px;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
		}
		}
    
    .siteheader {
    	background: $cumcblue_highlight url(../img/bg/neurons-2.jpg) no-repeat;
    	background-position: 0 0;
    	background-size: 100% auto;
    	border-bottom: 8px solid $cumcblue_highlight;
    	margin: 0 auto;
    	float: none;
    	padding: 3em 0 0 0;
    	min-height: 197px;
        .navwrapper {
            float: none;
            width: 85%;
            background: rgba(0,0,0,0.7);
            margin: 0 auto;
        }
        
nav {
            &.missionnav { background: none; width: 100% }
            &.orgnav { background: none; width: 45% }
            &.persistentnav {max-width: 100%;
            a:hover {
            background: rgba(255,255,255,0.2);
            }
            font-size: 1rem;
            background: none;
            padding-top: 1.5em;
                ul { margin: 8px 0 0 0;
                    li {
                        border-right: 1px dotted #bec1c7;
                        border-bottom: 1px dotted #bec1c7;
                        a { padding: 0.5em 0;
                            color: white;
                            background: none;
                            font-weight: 100;
                            &.active {
                            	background: rgba(255,255,255,0.1);
                            }
                        }
                    }
                }
            }
            ul { 
                li { 
                    a { 
                        
                    }
                }
            }
            
        }
        
        
    .utilitynav {
        
        width: 85%;
		float: none;
		margin: 0 auto;
        ul { float: right;
        	 margin-top: 1em;
        	 display: block;
        	 width: 30%;
            li {
                margin: 0 2.2% 0 0;
                padding: 0;
                width: 31%;
                float: left;
                a {
                    background: none;
                    color: white;
                    padding: .5em;
                    width: auto;
                    display: block;
					font-weight: 100;
					font-size: 0.938em;
					&:hover { background: rgba(255,255,255,0.2); }
                }
            }
        }   
    }
    nav.localnav {
        clear: both;
        margin: 0;
        padding: 0;
        margin: 0 auto;
        float: none;
        position: relative;
    }
    
    .slideout-subnav {
    	nav.localnav {
    	ul { 
    		background: white;
    		padding: 2em;
    		}
    	}	
    }
    
    .siteheader nav.localnav ul { background: red !important; }
    
    .breadcrumb {
        background: none;
		width: 85%;
		float: none;
		margin: 80px auto 0 auto;
		padding: 0;
		display: block;
		font-style: italic;
		color: black;
        ul { padding: 0;
            li {
                a {
                    padding: 0.9rem 1rem;
                    color: black;
                    &:hover, &:active { background: rgba(255, 255, 255, 0.7); color: black; }
                }
            }
        }
    }    
    }
    
    .breadcrumb ul li.active:after, .breadcrumb ul li.active-trail:after {
    	padding: 1.1rem .01rem;
		font-size: 0.7em;
				}
    
    
    .maincontent {
        margin: 0 auto;
        padding: 0;
        float: none;
        width: 85%;
        background: white;
        article {
            width: 63%;
            margin: 1em 0 0 0;
            padding: 0 1.25% 1.25% 0;
            float: left;
            background: transparent;
            h1:first-child { 
	}
        }
        sidebar {
            float: right;
            width: 31.5%;
            padding: 1.25%;
            color: black;
            min-width: 0px;
            background: #fff;
            * {min-width: 0;}
            a, h1, h2, h3, h4, h5, h6 p { color: black;}
            .abbreviated {
            	.resultscard {
            		border-bottom: 1px dotted $cumcblue_highlight;
            		width: 100%;
            		}
            	}
        }
        sidebar > *, .sidebar > * {
            border-top: 0;
            margin-bottom: 0.5em;
            padding: .8rem 5% 1.5rem 5%;
            float: left;
            clear: both;
            width: 90%;
            box-shadow: 0 0 56px rgba(0,0,0,0.1);
        }
    }
    .globalfooter {clear: both; margin-top: 2em;}
}

.news .news-index ul li .primary-category { color: black; }

a { color: $cumcblue_highlight;
	&.hover { color: white;
	          background: $cumcblue2_highlight !important;
             }
   }
   
p {
	max-width: 40em;
	}            

h1, h2, h3, h4, h5, h6 {
	color: black;
	text-transform: uppercase;
	line-height: 120%;
	}

h1 {
	font-size: 2.5em;
	font-weight: 100;
	}	             
	

blockquote {
	font-size: 1.6em;
	color: $cumcblue_highlight;
	width: 90%;
	padding: 5%;
	margin: 0;
	font-weight: 100;
	text-align: left;
	}
	
	blockquote:before, blockquote:after {
		font-size: 3em;
		margin: -0.25em 0 0 -0.7em;
		}

aside p {
	font-size: 1em;
	opacity: 0.9;
	}
	
	.image-wrapper .image-caption.bottom-right, .image-wrapper .image-caption.top-right, .image-wrapper .image-caption.top-left, .image-wrapper .image-caption.bottom-left {
		background: white;
		color: #555;
		opacity: 0.9;
		padding: 1em;
		a { color: $cumcblue_highlight; }
	}	

.image-wrapper .image-caption {
	padding: 1.8em;
	background: white;
	font-size: 0.75em;
	color: #555;
	a { color: $cumcblue_highlight; }
	}


.related-links {
	ul {
		li { border-bottom: none; }
		}
		}

.news {
	.news-index {
		ul {
			li { border-bottom: none; }
		}
	}
}			

.events .events-index dl dt {
	background: $cumcblue;
	padding: 1em 0.8em;
	color: white;
	text-align: center;
		.day {
			font-weight: 100;
			margin-bottom: -1px;
			display: block;
			}
	}

.abbreviated .resultscard .department-division { float: left; width: 60%; }

div.drawershow {
	background: white;
	box-shadow: 0 0 56px rgba(0,0,0,0.2);
	opacity: 1;
	color: black;
	position: absolute;
	top: 89px;
	left: 0;
	font-weight: bold;
	padding: 2em 1em;
	}
	
.slideout-subnav nav.localnav ul {
	background: white;
	padding: 9em 0 0 0;
	margin: 0;
	width: 300px;
	max-width: 300px;
	box-shadow: 0 0 56px rgba(0,0,0,0.3);
		li {
			width: 100%;
			a {
				padding: 1em 10%;
				width: 80%;
				border: 0;
				box-shadow: inset 0 -10px 33px rgba(0, 0, 0, 0.05);
				&:hover {
					background: $cumcblue_highlight;
					}
				}
			}
		form {
			position: absolute;
			top: 0;
			display: block;
			margin: 0.8em auto;
			padding: 1em 10% 1.2em 10%;
			width: 80%;
			border-bottom: 8px solid $cumcblue_highlight;
			input {
				margin: 1em 0 0 0;
				width: 92%;
				padding: 4%;
				border: 1px dotted $cumcblue_highlight;
			}
			.searchline2 {
				input { width: auto; }
				}
			}
	}	

.stickdiv {
	top: 0px !important;
	position: fixed !important;
	}	

}
