

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 test
 */



@import 'mixins.scss';
@import 'base.scss';
@import 'typography.scss';
@import 'layout.scss';
@import 'module.scss'; 
@import 'helpers.scss';
@import 'state.scss';

 

    /*
     * THESE STYLES ARE JUST FORMATTING FOR THE MOODBOARDS AND SHOULD BE REMOVED FOR ANY REAL WORLD APPLICATION
     */

body {margin: 0; padding: 0; }
body > section {margin: 0; float: left; clear: left; width: 100%;}
nav.basic + * {clear: both; float: left; margin-top: 1em;}
nav.basic .sidebar {width: auto; min-width: 0;}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */


/*
* Version 5
*/

.a6 {
	background: white /*url(../img/bg/image-04.png) no-repeat*/;
	background-size: 100% auto;
    font-size: 15px;
    color: #333;
    .logo-wrap {
    	display: block;
    	float: none;
    	margin: 0 auto;
    	width: 97%;
    	height: auto;
    	.logotype { 
        	margin: -47px 0 0 0;
    		width: 200px;
    		height: auto;
    		float: left;
    		background: transparent;
    		a {
    			background: url(../img/logos/CUMClogo.svg) no-repeat;
        		background-size: 100% auto;
        		width: 200px;
        		height: 31px;
        		display: block;
        		float: left;
        		text-indent: -9999px;
        		color: $cumcblue;
        		}
    	}    
    }    

::selection {
	background: $cumcblue_highlight;
	}
    
    .ir:before { height: auto; color: white; }
    
    .globalheader {
		margin: 0;
		width: 100%;
		background: $cumcblue;
		float: left;
		overflow: visible;
		border-bottom: solid 1px white;
		-moz-box-shadow: 0px 1px 14px #999;
		-webkit-box-shadow: 0px 1px 14px #999;
		box-shadow: 0px 1px 14px #999;
		min-height: 1.5rem;
			nav {
				margin-bottom: -1px; float: none;
				margin: 0 auto;
				max-width: 1200px;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
		}
	}
    
    .siteheader {
    	background: $cumcblue_darken;
    	margin: 0 auto;
    	float: none;
    	padding: 0 0 1em 0;
    	width: 100%;
    	.navwrapper {
            float: right;
            width: 100%;
            background: none;
            margin: 0 auto;
        }
        
nav {
            &.missionnav { background: none; width: auto; float: right; margin-right: 2em; }
            &.orgnav { background: none; width: auto; float: right; }
            &.persistentnav {max-width: 100%;
            a:hover {
            background: rgba(255,255,255,0.2);
            }
            font-size: 1rem;
            background: none;
                ul {
                	margin: 8px 0 0 0;
                	float: right;
                    li {
                    	padding: 0 0.5em;
                        a { padding: 0.5em 0.2em;
                            color: white;
                            background: none;
                            font-weight: 100;
                            font-size: 0.85em;
                            &.active {
                            	background: rgba(255,255,255,0.2);
                            }
                        }
                    }
                }
            }
            ul { 
                li { 
                    a { 
                        
                    }
                }
            }
            
        }
        
        
    .utilitynav {
        
        width: auto;
		float: right;
		margin: 0 auto;
		margin-right: 2em; 
		clear: none;
		&.internalnav { margin-right: 0; }
        ul { float: right;
        	 display: block;
        	 width: auto;
        	 min-width: 280px;
            li {
                margin: 0 2.2% 0 0;
                padding: 0;
                width: auto;
                float: right;
                a {
                    background: none;
                    color: white;
                    padding: .5em;
                    width: auto;
                    display: block;
					font-weight: 100;
					font-size: 0.85em;
					border: 0;
					&:hover { background: rgba(255,255,255,0.2); }
                }
            }
        }   
    }
    nav.localnav {
        clear: both;
        margin: 0;
        padding: 0;
        margin: 0 auto;
        float: none;
        position: relative;
    }
    
    .slideout-subnav {
    	nav.localnav {

    	}	
    }
    
    .siteheader nav.localnav ul { background: red !important; }
    
    .breadcrumb {
		width: 85%;
		float: none;
		margin: 2.2em;
		padding: 0;
		display: block;
		font-style: italic;
		color: black;
        ul {
        	padding: 0;
        	margin: 15px 0 0 58px;
        	background: $cumcpink_highlight;
            li {
                a {
                    padding: 0.5em;
                    color: white;
                    &:hover, &:active { background: rgba(255, 255, 255, 0.7); color: black; }
                }
            }
        }
    }    
    }
    
    .breadcrumb ul li.active:after, .breadcrumb ul li.active-trail:after {
    	padding: 0.9em .01rem;
		font-size: 0.7em;
		color: white;
		}
    
    
    .maincontent {
        margin: 0 auto;
        padding: 0;
        float: none;
        width: 85%;
        background: white;
        article {
            width: 48%;
			margin: 2.5em 0 0 24%;
            padding: 0 1.25% 1.25% 0;
            float: left;
            background: transparent;
            h1:first-child {
            	
	}
        }
        sidebar {
            float: right;
            width: 23%;
            padding: 1.25%;
            color: black;
            min-width: 0px;
            background: #fff;
            * {min-width: 0;}
            a, h1, h2, h3, h4, h5, h6 p { color: black;}
            .abbreviated {
            	.resultscard {
            		border-bottom: 1px dotted $cumcblue_highlight;
            		width: 100%;
            		}
            	}
        }
        sidebar > *, .sidebar > * {
        	background: #f7f7f7;
        	border-bottom: 4px solid $cumcgray_darken;
            border-top: 0;
            margin-bottom: 1em;
            padding: 2em 5% 1.5rem 5%;
            float: left;
            clear: both;
            width: 90%;
        }
    }
    .globalfooter {clear: both; margin-top: 2em;}
}

.news .news-index ul li .primary-category { color: black; }

a { color: $cumcblue_highlight;
	&.hover { color: white;
	          background: $cumcblue2_highlight !important;
             }
   }
   
p {
	max-width: 40em;
	}            

h1, h2, h3, h4, h5, h6 {
	color: black;
	text-transform: uppercase;
	line-height: 120%;
	}

h1 {
	font-size: 2.5em;
	font-weight: 100;
	}	             
	

blockquote {
	font-size: 1.6em;
	color: $cumcgreen;
	width: 90%;
	padding: 5%;
	margin: 0;
	font-weight: 700;
	text-align: left;
	}
	
	blockquote:before, blockquote:after {
		font-size: 3em;
		margin: -0.25em 0 0 -0.7em;
		}

aside p {
	font-size: 1em;
	opacity: 0.9;
	}
	
	.image-wrapper .image-caption.bottom-right, .image-wrapper .image-caption.top-right, .image-wrapper .image-caption.top-left, .image-wrapper .image-caption.bottom-left {
		background: white;
		color: #555;
		opacity: 0.9;
		padding: 1em;
		a { color: $cumcblue_highlight; }
	}	

.image-wrapper .image-caption {
	padding: 1.8em;
	background: white;
	font-size: 1em;
	color: #555;
	a { color: $cumcblue_highlight; }
	}


.related-links {
	ul {
		li { border-bottom: none; }
		}
		}

.news {
	.news-index {
		ul {
			li { border-bottom: none; }
		}
	}
}			

.events .events-index dl {
	dt {
	background: $cumcblue;
	padding: 0.4em 1em;
	margin-right: 1em;
	color: white;
	text-align:left;
	width: 50px;
	}
	dd { width: 64%; }
		.day {
			font-weight: 100;
			margin-bottom: -3px;
			display: block;
			}
	}
	
sidebar .faculty {
	position: absolute;
	left: 2%;
	border-left: 0 !important;
	background: white !important;
	width: 15% !important;
	.resultscard {
		background: #f7f7f7;
        border-bottom: 4px solid $cumcgray_darken !important;
        padding: 2em 5% 1.5rem 5%;
        }
	}	

.resultscard .profilelink {
	 .headshot {
	 	max-width: 95px;
	 	margin-right: 1em;
	 	}
	 }

.abbreviated .resultscard .department-division { float: left; width: 60%; }

div.drawershow {
	width: 58px;
	background: white;
	box-shadow: 0 0 56px rgba(0,0,0,0.2);
	opacity: 1;
	color: black;
	position: absolute;
	top: 45px;
	left: 0;
	font-weight: bold;
	padding: 0.5em 1em;
	right: 0;
	text-align: center;
	-webkit-transition: 0.2s all ease-in-out;
		-moz-transition: 0.2s all ease-in-out;
		transition: 0.2s all ease-in-out;
	&:hover {
		box-shadow: 0 0 56px rgba(0,0,0,0.35);
		-webkit-transition: 0.2s all ease-in-out;
		-moz-transition: 0.2s all ease-in-out;
		transition: 0.2s all ease-in-out;
		}
	}	
	
.slideout-subnav nav.localnav ul {
			top: 139px;
    		background: white;
    		padding: 0 40% 0 0;
			width: 60%;
			max-width: 60%;
    		height: auto;
			box-shadow: 0 0 56px rgba(0,0,0,0.3);
		li {
			display: table;
    		float: left;
    		width: 200px;
			clear: none;
			margin: 0;
			a {
				height: 50px;
				border-bottom: 1px solid #e8e8e8;
				padding: 1em 10%;
				width: 80%;
				&:hover {
					background: $cumcblue_highlight;
					}
				}
			}
		form {
			position: absolute;
			top: 0.5em;
			right: 5%;
			display: block;
			margin: 0.8em auto;
			padding: 0;
			width: 300px;
			clear: both;
			border-bottom: 1px solid #e8e8e8;
			input {
				margin: 1em 0 0 0;
				width: 300px;
				padding: 0.5em 1em;
				border: 1px dotted $cumcblue_highlight;
			}
			.searchline2 {
				input { width: auto; }
				}
			}
	}	

.stickdiv, .stickdiv-menu {
	top: 0px !important;
	position: fixed !important;
	}	

}
