

/* ==========================================================================
   Global Header
   ========================================================================== */


.globalheader {
    width: 100%;
    display: block;
    margin: 0;      
    padding: 0;  
    float: left;
}



/* ==========================================================================
   Site Header
   ========================================================================== */


.siteheader {
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    
}        


/* ==========================================================================
   Main Body
   ========================================================================== */

.maincontent {
    padding: 0 2.5%;
    width: 95%;
    float: left;
    margin-bottom: 2em;
    
}

    article { 
    width: 100%;
    
    overflow: hidden; 
     }
   

/* ==========================================================================
   Sidebar
   ========================================================================== */

sidebar, .sidebar {
    float: left;
    width: 100%;
    
}


/* ==========================================================================
   Site Footer
   ========================================================================== */


.sitefooter {
    width: 95%;
    padding: 0 2.5%;
    clear: both;
    
}
 


/* ==========================================================================
   Global Footer
   ========================================================================== */


.globalfooter {
    width: 95%;
    padding: 0 2.5%;
    clear: both;
    
}


/* ==========================================================================
   Clown Colors for testing layout
   ========================================================================== 

.globalheader {background: red;}
.siteheader {background: orange;}
.maincontent {background: yellow;}
  article {background: green;}
  sidebar {background: blue;}
.sitefooter {background: indigo;}
.globalfooter {background: violet;}
 
*/
