/* ==========================================================================
   Logo imagereplace
   ========================================================================== */

.logotype {
    background: url("../img/logos/CUMCLogo2c.svg") no-repeat;
    background-size: 90%;
    width: 100%;
    height: 2em;
    margin: 0;
    padding: 0;
    clear: both;
}


/* ==========================================================================
   Buttons and Starter Navigation
   ========================================================================== */

nav.basic {
    ul {margin: 0 0 2em 0; padding: 0; float: left;
        li { cursor: pointer; 
            margin: 0; 
            padding: .25em 2.5%; 
            float: left; 
            border: solid 1px $cumcgray; 
            margin: -1px 0 0 -1px;
            width: 95%;
            @include transition(.2s);
            }
        li.active, li:hover {background: $cumcgray; color: white;}    
    }
}



.button {display: inline-block; 
    padding: .25em 1em; 
    border: solid 3px; 
    margin: 1%; 
    cursor: pointer;
    font-weight: $bold;
    @include transition(.2s);
    &.solid {border: 0;
        color: white!important;
        background-color: $cumcgray;
    }
    &.solid.blue {
        background-color: $cumcblue;
        color: white;
    }
    &.solid.orange {
        background-color: $cumcorange;
    }
    &.solid.green {
        background-color: $cumcgreen;
    }
    &.solid.pink {
        background-color: $cumcpink;
    }
    &.solid.gray {
        background-color: $cumcgray;
    }
    &:hover {
        background-color: $cumcgray;
        border-color: $cumcgray;
        color: white;
    }
    &.active {
        background-color: $cumcgray_darken;
        border-color: $cumcgray_darken;
        color: white;
    }
    &.blue {
        background-color: white;
        color: $cumcblue;
    }
    &:hover.blue {
        background-color: $cumcblue;
        border-color: $cumcblue;
        color: white;
    }
    &.active.blue {
        background-color: $cumcblue_darken;
        border-color: $cumcblue_darken;
        color: white;
    }
    &.pink {
        background-color: white;
        color: $cumcpink;
    }
    &:hover.pink {
        background-color: $cumcpink;
        border-color: $cumcpink;
        color: white;
    }
    &.active.pink {
        background-color: $cumcpink_darken;
        border-color: $cumcpink_darken;
        color: white;
    }
    &.green {
        background-color: white;
        color: $cumcgreen_darken;
    }
    &:hover.green {
        background-color: $cumcgreen;
        border-color: $cumcgreen;
        color: white;
    }
    &.active.green {
        background-color: $cumcgreen_darken;
        border-color: $cumcgreen_darken;
        color: white;
    }
    &.orange {
        background-color: white;
        color: $cumcorange;
    }
    &:hover.orange {
        background-color: $cumcorange;
        border-color: $cumcorange;
        color: white;
    }
    &.active.orange {
        background-color: $cumcorange_darken;
        border-color: $cumcorange_darken;
        color: white;
    }
}









/* ==========================================================================
   Global Header
   ========================================================================== */

.globalheader {
    width: 100%;
    margin: 0;        
    font-size: .85rem;
    nav {
        margin: 0;
        width: 100%;
        background: $cumcblue;
        float: left;
        overflow: visible;
        border-bottom: solid 1px white;
        @include boxshadow;
        min-height: 1.5rem;
        .globalNavToggle {
            display: block;
            float: left;
            position: absolute;
            top: 0;
            margin: .25rem 1rem 0 1em;
            padding: 0;
            overflow: hidden;
            color: white; 
            width: 90%;
            white-space: nowrap;
            cursor: pointer;
            z-index: 1;
            font-family: $minion;
        }
        ul {
            float: left; 
            width: 100%;
            margin: 1.5rem 0 0 0;
            border: 0;
            padding: 0 0 0;
            background: $cumcblue;
            color: white; 
            z-index: 100;
            li { float: left;
                clear: left;
                color: white;
                float: left; 
                display: block; 
                padding: 0; margin: 0;
                font-family: $avenir;
                font-weight: $light;
                font-size: .85rem;
                width: 100%;
                a { 
                    color: white;
                    display: block;
                    padding: 0;
                    margin: 0;
                    text-decoration: none;
                    height: 1.25rem; 
                    overflow: hidden;
                    padding: .25rem 1rem;

                    &:hover {background: $cumcblue_highlight;}
            }
            }
        }
    }
}

/* ==========================================================================
   Site Header
   ========================================================================== */


.siteheader {
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    nav{
        display: block;
        float: left;
        font-size: .85rem;
        ul{
            float:left;
            margin:0;
            padding:0;
            list-style: none;
            li{
                display: block;
                float: left;
                width: 100%;
                a{
                    border: dotted 1px $cumcgray_highlight;
                    border-width: 0 0 1px 0;
                    display: block;
                    width: 90%;
                    padding: 2% 5%;
                    text-decoration: none;
                    
                    &.active {
                        color: $cumcblue2_highlight;
                    }
                    &:hover {background: $cumcorange_highlight;
                    color: white;
                    @include transition(.025s);
                    }
                }
                #navsearch { padding: 5%;
                    input[type="text"] {border: solid 1px $cumcgray; margin: .5em 0; padding: .25em; width: 95%;}
                }
            }
        }
    }
}

/* ==========================================================================
   Navigation Items
   ========================================================================== */

.utilitynav {
    font-size: .75rem;
    float: right;
    width: 100%;
   
    ul {
        float: right;
        width: 100%;

        clear: none;
        li {
            width: 33.3%;
            a {
                border: 0;
                padding: .25em 5%;
            &:hover {background: white; color: $cumcorange_highlight;}
            &.active {color: $cumcorange;}
            }
        }
    }
}            
.persistentnav {
    background: $cumcblue;
    clear: both;
    width: 100%;
    ul {
        width: 100%;
        li {clear:left;
            a { 
                color: white;
            }
        }
    }    
}   
.localnav {
    ul {
        li {
            a { padding: .25em 1em;
            &:hover {background: $cumcorange_highlight; 
                color: white;}
            &.active {background: $cumcgray_highlight;}
            }
        }
    }
}   

 .breadcrumb {
    float: left;
    display: inline;
    margin: 0 0 1.5% 0;
    clear: none;
    ul {
        width: auto;
        li {display: none;
            &.active, &.active-trail {
            display: block;
            float: left;
            clear: none;
            width: auto;
            position: relative;
            &:after {content:(">"); float: left; padding: .25rem;}
            &:hover > a{background: $cumcorange; color: white;}
            a {
                float: left;
                clear: none;
                border: 0;
                margin: 0;
                padding: .25rem .5rem;
                width: auto; 
            }
            ul {float: left;
                li {float: left;
                    clear: left;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    &:after {content: none;}
            }
            &:hover {
                @include boxshadow;
                display: block;
                position: absolute;
                z-index: 100;
                background: white;
                width: 200%;
                max-width: 200px;
                li{
                    float: left;
                    clear: left;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    a {
                        color: $cumcgray;
                        width: 92%;
                        padding: 2.5% 4%;
                        margin: 0;
                        line-height: 1.15em;
                        border: dotted 1px $cumcgray;
                        border-width: 0 0 1px 0;
                        &:hover {color: white;}
                    }
                    &.active,  {
                        a {background: $cumcorange; color: white;}
                    }
                    &.active-trail {
                        a {background: $cumcorange; color: white;}    
                        }
                    }
                }    
            }
        } 
        &.active-trail:hover {
            li {display: block; @include transition(.025s);}
        }
    }
    }
} 
div.drawertoggle {text-transform: uppercase;}
div.drawertoggle:first-child:before {content:("="); font-family: CUMCLogos; margin-right: .5em;}
div.drawershow {display: none;}
div.drawershow {
    background: $cumcblue; 
    display: block;
    cursor: pointer;
    float: left; 
    padding: .5em 1em;
    margin: 0;
    color: white;
    z-index: 900;

}
.slideout-subnav {
    nav.localnav{
        ul {display: none;
            width: 20%;
            min-width: 12rem;
            max-width: 200px;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(255,255,255, .9);
            z-index: 500;
            @include boxshadow;
            padding: 0 0 0 2.5%;
            float: left;
            li {
                width: 100%;
                display: block;
                padding: 0;
                margin: 0;
                float: left;
                a {
                    padding: .5em 5%;
                    width: 90%;
                    display: block;
                }                      
            }
        }   
    } 
}

a.active {
    background: $cumcblue2_highlight;
}

/* ==========================================================================
   Main Body Styles
   ========================================================================== */

.maincontent {
    padding: 0 2.5%;
    width: 95%;
    float: left;
    margin-bottom: 2em;
    p{font-family: $minion;}
}

.article-mini-module {
float: right;
clear: right;
width: 45%;
margin: 0 0 5% 5%; 
min-width: 200px;
}

/* ==========================================================================
   Body Image Module and Captions
   ========================================================================== */

.image-wrapper {
    float: right; 
    position: relative;
    width: 45%;
    max-height: 50%;
    margin: 0 0 5% 5%; 

    img {width: 100%;
        float: right;
    }
    .image-caption {
        float: left; 
        clear: both;
        background: rgb(255,255,255);  
        background: rgba(255,255,255,.8); 
        width: auto;
        padding: .5em;
        font-family: $minion;
        font-size: .85rem;
        &.bottom-right {bottom: 1em; right: 1em;  width: 50%; position: absolute;}
        &.bottom-left {bottom: 1em; left: 1em;  width: 50%; position: absolute;}
        &.top-right {top: 1em; right: 1em;  width: 50%; position: absolute;}
        &.top-left {top: 1em; left: 1em;  width: 50%; position: absolute;} 
        &.top-center {top: 1em; left: 1em; right: 1em; width: auto; position: absolute; }
        &.bottom-center {bottom: 1em; left: 1em; right: 1em; width: auto; position: absolute; }
     } 
    .photo-credit {font-size: .75rem; color: $cumcgray; margin-left: .5em;}
    a.photo-credit:hover {color: $cumcorange_highlight;}

}

.feature-image {width: 100%;
}


/* ==========================================================================
   Related links
   ========================================================================== */

.related-links { 
    h3{font-size: .85em;
        text-transform: uppercase;
        letter-spacing: .2em;    
    }
    ul {
        margin: 0; 
        padding: 0;
        li { border-bottom: dotted 1px $cumcblue2;
            padding: .25em 0; 
            font-size: .85rem; 
        }
        li.external a:after {font-family: CUMCLogos; font-size: 1.25em; font-weight: normal; color: $cumcgray; content: " »"; 
        }
    }
}

/* ==========================================================================
   Blockquote
   ========================================================================== */

blockquote {margin: 5% 10%; text-align: center; float: left; width: 35%; font-style: italic;  }
blockquote:before {content:"“"; font-size: 6em; float: left; margin: -.25em 0 0 -.5em }
blockquote:after{content:"”"; font-size: 6em; line-height: 0; float: right; position: relative; top: .36em; right: -.5em; }
blockquote p:before {content: "â€œ";}
blockquote p:first-child:before {content: "";}
blockquote p + p:last-child:after {content: "â€";}
blockquote p:last-child {margin-bottom: 1em;}
blockquote cite {font-style: italic; font-weight: 800;}

blockquote.article-mini-module {
width: 35%;
margin: 2.5% 7.5%; 
}

/* ==========================================================================
   Asides
   ========================================================================== */


aside {
    p{
    max-width: 26rem;
    font-size: .85rem;
    margin: 1em 0;
    } 
    h1 {font-size: 1.5rem;}
    h2 {font-size: 1.25rem;}
    h3 {font-size: 1rem;}
}


/* ==========================================================================
   Sidebars
   ========================================================================== */

sidebar, .sidebar { 
    font-size: .85rem;
    margin: 0;
    float: left;
    width: 100%;
    padding: 0;
    h1 {font-size: 1.5rem;}
    h2 {font-size: 1.25rem;}
    h3 {font-size: 1rem;}
    > * {
        border-top: solid .25rem $cumcgray; 
        padding: .5rem 5% 1.5rem 5%;
        clear: both;
    }
}

/* ==========================================================================
   News Module
   ========================================================================== */
.news {
    .news-index {
        margin: 0;
        ul { list-style: none;
            margin: 0;
            padding: 0;
            float: left;
            li {margin: 0;
                padding: .5em 0;
                border-bottom: solid 1px $cumcgray_highlight;
                img {max-width: 120px;
                    float: left;
                    margin-right: 2.5%;
                }
                h1 {font-size: 1.15rem; font-weight: $bold; margin: 0;}
                h2 {font-size: 1rem; margin: 0;}
                h3 {font-size: 1rem; font-weight: $bold; margin: 0;}
                .primary-category {font-size: .75em; text-transform: uppercase; margin: 0; font-weight: $bold; color: $cumcgray;}
                .datetime {font-size: .75em;}
                .byline {font-size: .55em; text-transform: uppercase; font-weight: $bold; color: $cumcgray;}
                p {font-size: .85rem; line-height: 1.25em; letter-spacing: -.03em;}
            }
        }
    }
}



/* ==========================================================================
   event Module
   ========================================================================== */
.button.addtocalendar {
padding: .5em; line-height: 1em; font-size: .5rem; text-transform: uppercase; border: 0; background: $lightblue; margin: 0;
&:hover {background: $cumcblue; color: white;}
}

.events {
    .events-index {
        margin: 0;
        dl { list-style: none;
            margin: 0;
            padding: 0;
            float: left;
            dt {float: left; 
                width: 95%;
                min-width: 13em;
                padding: .5em;
                color: $cumcblue;
                background: $lightblue;
                clear: both;
            }
            dd {margin: 0;
                padding: .5em 0;
                border-bottom: solid 1px $cumcgray_highlight;
                float: left;
                ul {float: left;
                    width: auto;
                    list-style: none;
                    margin: 0; 
                    padding: 0;
                    li {float: left;
                        clear: left;
                        margin: 0 0 1em 0; 
                        padding: 0;
                        img {max-width: 120px;
                            float: left;
                            margin: 0 2.5% 2.5% 0;
                        }
                        h1 {font-size: 1.15rem; font-weight: $bold; margin: 0; min-width: 50%;}
                        h2 {font-size: 1rem; font-weight: $bold; margin: 0; min-width: 50%;}
                        h3 {font-size: 1rem; margin: 0; min-width: 50%;}
                        .primary-category {font-size: .75em; text-transform: uppercase; margin: 0; font-weight: $bold; color: $cumcgray;}
                        .datetime {font-size: .75em;}
                        .byline {font-size: .55em; text-transform: uppercase; font-weight: $bold; color: $cumcgray;}
                        p {font-size: .85rem; 
                            line-height: 1.25em; 
                            letter-spacing: -.03em;
                        }
                    }
                }
            }
        }
    }
    .abbreviated { 
        p {display: none;}
    }
}

/* ==========================================================================
   Calendar Module
   ========================================================================== */
.calendar {
    hgroup {
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: 1em;
        * {text-align: center; line-height: 2rem; margin: 0 2rem;}
        a {
            &.prev:before {content: ('<');font-family: CUMCLogos; margin: 0 .5em;}
            &.next:after {content: ('>'); font-family: CUMCLogos; margin: 0 .5em;}
            &:hover {color: $cumcorange;}
        }
    }
    table {
        tr {
            th{display: none;
            }
            td{float: left; 
                clear: left;
                padding: 0; 
                margin: 0;
                width: 100%;
                &.today {background: $cumcorange_highlight;

                    span.calendardate {color: white; background: none; opacity: .25;}
                     ul:before {content:('TODAY');
                        display: block; 
                        color: $cumcblue;
                        margin: 0;
                        padding: .5em;
                        font-weight: bold;
                    }
                    li, dd {
                        padding: 2.5%;
                        a:hover {color: white;}
                        .eventtime {color: white;}
                    }
                }
                span.calendardate{ 
                    float: left; 
                    display: block; 
                    color: $cumcblue;
                    background: $lightblue;
                    width: 95%;
                    margin: 0;
                    padding: .5em;
                    font-weight: bold;
                    .full-day-month {}
                }
                ul, dl { 
                    float: left;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    float: left;
                    width: 70%;
                    li, dd {margin: 0;
                        padding: .25em 0;
                        font-size: .85rem;
                        img {display: none;
                        }
                        a:hover {color: orange;}
                        h1 {font-size: 1rem; font-weight: $bold; margin: 0; line-height: 1.15em;}
                        h2 {font-size: .85rem; margin: 0; line-height: 1.15em;}
                        h3 {font-size: .85rem; font-weight: $bold; margin: 0; line-height: 1.15em;}
                        .primary-category {display: none;}
                        .eventtime {color: $cumcorange;}
                        .byline {font-size: .55em; text-transform: uppercase; font-weight: $bold; color: $cumcgray;}
                        p {display: none;}
                    }
                }
            }
        }
    }
}

/* ==========================================================================
   Doctor Index Card
   ========================================================================== */
.faculty {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.resultscard {
    float: left;
    clear: left;
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: solid 1px $cumcgray_highlight;
    padding: 1% 0%;
    
    .profilelink {
        padding: 2px;
        float: right;
        max-width: 25%;
        margin: 0;
        .headshot {
        width: 100%;
        float: left;
        max-width: 118px;
        border: solid 1px $cumcgray_highlight;
        padding: 2.5%;
        }
        span {
            display: block;
            padding: .5em 0;
            text-align: center;
            clear: left;

        }
    }

    h1 { font-size: 1.25rem; margin-bottom: 0;
        span {font-size: .85em;}
    }    
    h2 {font-size: 1rem;
        margin: .75em 0 .5em 0;
        clear: left;
        span {font-weight: normal;}
    }
    section {
        float: left;
        margin-bottom: .75em;
        min-width: 180px;
        width: 70%;
        dl {margin: 0; 
            padding: 0;
            list-style: none;
            font-size: 1rem;
            line-height: 1.25em;
            dt {padding: 0;
                margin: .75em 0 .5em 0;

            }
            dd {padding: 0;
                margin: 0;}
            }
        }

        ul { float: left;
            list-style: none;
            margin: 0;
            padding: 0;
            li { float: left; 
                clear: left; 
                h3 { font-size: 1rem;
                }
            }
        } 

        .locations {
            span {display: block;}
        }   
    }
    .abbreviated .resultscard  {
        padding: 0;
        width: 20%;
        min-width: 300px;
        height: 200px;
        font-size: .85em;
        float: left;
        clear: none;
        .profilelink {margin-right: 5%; width: 25%;}
        h1 {font-size: 1.25em; }
        h2 {display: block; font-size: 1em;}
        dl {font-size: 1em;}
        dt {margin: 0;}
        dd {margin: 0 0 .5em 0;}
        .headshot {display: block; border: 0; padding: 0;}
        section {display: none; float: right; width: 68.5%; margin: 0; padding: 0; font-size: .85rem;}
        .department-division {display: block;}
        .availability {display: block;}
    }

sidebar .abbreviated .resultscard  {
    width: auto;
    height: auto;
}



/* ==========================================================================
   Global Footer
   ========================================================================== */


section.globalfooter {
    font-family: $avenir;
    background: $cumcgray;
    color: white;
        h3{
            cursor: pointer;
            color: white;
        }
        h3.active {color: $cumcorange;}
        a {
            font-size: .85rem;
            text-decoration: none;
            color: $cumcgray_darken;
            display: block;
            padding: .25rem;      
            clear: both;  
            color: white;
           
            &:hover, .ui-state-active a {
                background: $cumcblue2_highlight;
                color: white;
                @include transition(.2s);
            } 
        }

        div{
            float: left;
            width: 100%;
            padding: 0;
            margin: 0;
            position: relative;
            margin-bottom: 2rem;

            ul {
                margin: 1rem 0;
                padding: 0;
                float: left;
                width: 100%;
                li { 
                    list-style: none;
                    margin: 0;
                    padding: 0;            
                } 
               
           }
            h3 {
                font-size: 1rem;
            }   

        }

    
    ul.general_info {
        float: left;
        clear: both;
        width: 100%;
        padding-bottom: 2em;
        li {float: left;}
     } 
}
 






