

              


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */



/* ==========================================================================
   Buttons and Starter Navigation
   ========================================================================== */
nav ul li {cursor: pointer;}

nav.basic {
    ul {
        li { 
            width: auto;
            padding: .25em 1em;
            }
        
    }
}



/* ==========================================================================
   Global Header
   ========================================================================== */


.globalheader {


    nav {
        
        .globalNavToggle {
           float: left;
            position: relative;
            overflow: hidden;
            width: auto;
            text-align: right;
            cursor: pointer;
            padding: 0;


        }
        ul { float: left;
            width: auto;
            padding: 0;
            margin: 0;
            height: 1.5em;
            overflow: hidden;
           

            li { 
                clear: none;
                width: auto;
                padding: 0;
                margin: 0;
                a { 
                    margin: 0;
                   
                }
            }
        }
    }

}


/* ==========================================================================
   Site Header
   ========================================================================== */

.logotype {width: 33%;}

.siteheader {
    nav {
        &.utilitynav {
            ul {
                li { width: auto;
                    padding: .5em 5%;
                    a { white-space: nowrap;
                    &:hover {background: $cumcorange;}
                    }
                }
            }
        }
        &.persistentnav {
            width: 50%;
            max-width: 600px;
            padding: 0;
            margin: 0;
            float: left;
            clear: none;
            border: 0;
            ul {display: table;
                padding: 0; 
                margin: 0;
                li {
                    width: auto;
                    float: none;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    clear: none;
                    padding: 0;
                    margin: 0;
                    a {
                        border-width: 0;
                        display: block;
                        padding: .5em 0;
                        margin: 0;
                        width: 100%;
                        float: left;
                    }
                }
            }
        &.orgnav {
            background: $cumcblue;
            float: left;
        }
        &.missionnav {
            background: $cumcblue2;
            float: left;
            background: $cumcblue; /* Old browsers */
            background: -moz-linear-gradient(top,  $cumcblue 50%, $cumcblue2 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,$cumcblue), color-stop(100%,$cumcblue2)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  $cumcblue 50%,$cumcblue2 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  $cumcblue 50%,$cumcblue2 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  $cumcblue 50%,$cumcblue2 100%); /* IE10+ */
            background: linear-gradient(to bottom,  $cumcblue 50%,$cumcblue2 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cumcblue', endColorstr='$cumcblue2',GradientType=0 ); /* IE6-9 */

        }
        }
        &.localnav {
            float: left;
            margin-bottom: 1em;
            float: left;
            padding: 0 0 0 10%;
            ul { 
                width:100%;
                li {
                    a { 
                        border-width: 0 0 1px 0;
                    }
                }
            }
        }
    }
}


.vertical-subnav {
    .siteheader {
        .navwrapper {
            margin-bottom: 2rem;
        }
        nav.localnav{
            width: auto;
            padding: 0 2.5% 0 0;
            max-width: 200px;
            ul {
               /*  @include columns(1,auto,0,0); */
                float: left;
                width: 100%;                
                li {
                    width: 100%;
                    display: block;
                    padding: 0;
                    margin: 0;
                    float: left;
                    a {
                        padding: .5em 5%;
                        width: 90%;
                        display: block;
                    }                        
                }
            }
        }
         + * {
            width: 70%;
            float: left;
            clear: none;
            margin-top: 0;
        }    
    } 

}

aside, .aside {
    float: left;
    width: 20%;
    min-width: 320px;
}


/* ==========================================================================
    News
   ========================================================================== */
.news-index.lateral {
    ul{ border: 0;
        margin: 1rem 0 2rem 0;
        max-width: 100%; 
        overflow: hidden;

        li {
            float: left;
            width: 30%; 
            margin-right: 3.33%;
            border: 0;
            overlow: hidden;
        }
    }
}

/* ==========================================================================
    event
   ========================================================================== */
.events {
    .events-index {
        dl {
            dt {
                width: 10%;
                min-width: 3em;
                padding: 2.5%;
                margin-right: 2.5%;
                text-align: center;
                font-size: 1.5rem;
                text-transform: uppercase;
                span.date {display: block; font-size: 1.25rem; font-weight: bold;}
            }
            dd { float: left;
                width: 80%;
                ul { width: 100%;
                    li {
                        .eventtime {display: block;}
                        img {float: left;}
                    }
                }
            }
        }    
        &.lateral {
            dl{ 
                dt { max-width: 2em;
                    padding: .75em;

                }
                dd {
                    ul {
                        li {
                            width: 30%; float: left; clear: none; margin-left: 3%;
                        }
                    }
                }
            }
        }
        &.abbreviated {
            dl { display: block; width: 100%;
                dt {
                    font-size: 1rem;
                    span.date {font-size: inherit;}       

                }
                dd {width: 70%;} 
            }
            
        }
        &.abbreviated.lateral {
            dl {
                dt {
                    width: 5%;
                    min-widht: 3em;
                    font-size: 1em;
                }
            }
        }
        &.aside {
            dl {width: auto;}
            dt {
                width: 95%; 
                float: none; 
                display: block;
                padding: .25rem;
                font-size: 1rem;
                span.date {font-size: inherit; display: inline; margin-left: .5em;}       

            }
            dd {
                width: 100%;
            }
        }
    }
}    
.calendar {
    table {
        tr {display: table-row;
            th{display: table-cell;
                background: $cumcgray; 
                color: white;
                text-align: center;
                text-align: left;
                line-height: 1em;
                padding: .5em;
            }
            td{ float: none; 
                clear: none;
                width: 13.25%;
                height: 6rem;
                display: table-cell;
                border: solid 1px $cumcgray_highlight;
                padding: 0;
                position: relative;
                overflow: hidden;
                span.calendardate{ 
                    text-align: right;
                    width: 100%;
                    background: none;
                    display: block; 
                    font-size: 6rem;
                    line-height: 1em;
                    letter-spacing: -.15em;
                    color: $lightblue;
                    font-weight: bold;
                    background: none;
                    padding: 0;
                    margin: 0;
                    position: relative; 
                    right: .05em;
                    top: -.05em;
                    .full-day-month {display: none;}
                }
                ul {
                    position: relative; 
                    width: 100%;
                    z-index: 100;
                    top: -6rem;
                    margin-bottom: -5rem;
                    li {                    
                        margin: 5%;
                        width: 90%;
                        h1 {}
                        h2 {}
                        h3 {}
                        .primary-category {}
                        p {}
                    }    
                    &:first-child img { display: block;
                        position: absolute;
                        height: 100%;
                        width: auto;
                        z-index: 0;
                        opacity: .2;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
   Doctor Index Card
   ========================================================================== */
.resultscard {
    min-width: 0;
    h1 {font-size: 2rem;}
    .profilelink {width: 18%; max-width: 120px; margin-right: 2%; float: left;
    .headshot {max-width: 100%;}
    }
    section { float: left;
        width: 19%;
        margin-right: 2%;
    }
}


/* ==========================================================================
   Global Footer
   ========================================================================== */



.globalfooter.great-js-is-on {
    position: relative;
    background: $cumcgray;
    float: left;
    width: 95%;
    min-height: 15em;
    h3 {float: left;
        margin: 1em .5em;
        font-size: 1rem;
        text-align: center;
        &:hover {color: $cumcorange;}
    }
    .globalfooterbasics {
        clear: both;
        list-style: none;
        width: 70%;
        float: left;
    
        &.affiliations {
            width: 20%;
            list-style: none;
            float: right;
            clear: none;
            ul {
                li {
                    a {

                    }
                }
            }
        }
    }
    > div{
        position: absolute;
        background: $cumcgray;
        top: 3rem;
        left: 0;
        padding: 0 2.5%;
        width: 95%;
        border-top: solid 1px white;


        ul {   
            /* @include columns(5,auto,1em,0); */
            /*@include no-col-break()*/
        }
    }   
    }
    
}