

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 test
 */



@import 'mixins.scss';
@import 'base.scss';
@import 'typography.scss';
@import 'layout.scss';
@import 'module.scss'; 
@import 'helpers.scss';
@import 'state.scss';

 

    /*
     * THESE STYLES ARE JUST FORMATTING FOR THE MOODBOARDS AND SHOULD BE REMOVED FOR ANY REAL WORLD APPLICATION
     */

body > section {margin: 0; float: left; clear: left; width: 100%;}
nav.basic + * {clear: both; float: left; margin-top: 1em;}
nav.basic .aside {width: auto; min-width: 0;}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */


/*
* Version 5
*/

.version5 {
    background: url("../../img/science3.jpg") fixed; background-position: 0 0; background-size: 100%;
    background: #f0f0f0;
    .logotype { 
        margin-left: 2.5%;
        margin-bottom: 2rem;
    }
    .siteheader {
        .navwrapper {
            border-bottom: solid 1px $cumcblue;
            float: left;
            width: 100%;
            @include boxshadow;
        }
        nav { 
            &.missionnav {background: none; width: 55%}
            &.orgnav {background: none; width: 45%}
            &.persistentnav {max-width: 100%;
                ul {
                    li { border: solid 1px $cumcblue;
                        border-left: 0;
                        border-bottom: 0;
                        a {padding: 1.5em 0;
                            color: $cumcblue;
                            &.active {color: white;}
                        }
                    }
                }
            }
            ul { 
                li { 
                    a { 
                        
                    }
                }
            }
            
        }
        .utilitynav {
        
        width: auto;
        float: right;
        ul {
            li {
                
                padding: 1px;
                a {
                    background: rgba(255,255,255,.75);
                    padding: .5em;
                    width: auto;
                    display: block;

                }
            }
        }   
    }
    nav.localnav {
        clear: both;
        margin: 0;
        padding: 0 0 0 2.5%;
    
    }
    .breadcrumb {padding: 0; margin: 0;
        background: rgba(255,255,255,.9);
        ul {
            li {
                a {
                    padding: .5em 1em;
                }
            }
        }
    }    
    }
    .maincontent {
        float: left;
        margin: 0;
        margin: 0 2.5%;
        padding: 0;
        width: 95%;
        background: rgba(255,255,255,.9);
        article {
            width: 65%;
            margin-right: 1.25%;
            padding: 1.25%;
            float: left;

        }
        aside {
            
            float: right;
            width: 30%;
            min-width: 0px;
            background: $lightblue;
            * {min-width: 0;}
        }
        aside > *, .aside > * {
            border-top: 0;
            border-bottom: solid 0.25rem #f0f0f0;
            float: left;
            clear: both;
        }
    }
    .globalfooter {clear: both; margin-top: 2em;}


}


.column {}

}
