



/* ==========================================================================
   Swatches
   ========================================================================== */




section.colors {width: 100%; 
    ul {float: left; 
        clear: left; 
        width: 100%;
        .colorsample {float: left; height: 2em; width: 16.3%; margin: 1px 1px 0 0; overflow: hidden; text-indent: 2000px; }
        .cumcblue {background-color: $cumcblue;}
        .cumcgray {background-color: $cumcgray;}
        .cumcgreen {background-color: $cumcgreen;}
        .cumcpink {background-color: $cumcpink;}
        .cumcorange {background-color: $cumcorange;}
        .cumcblue2 {background-color: $cumcblue2;}
        .cumcblue_highlight {background-color: $cumcblue_highlight;}
        .cumcgray_highlight {background-color: $cumcgray_highlight;}
        .cumcgreen_highlight {background-color: $cumcgreen_highlight;}
        .cumcpink_highlight {background-color: $cumcpink_highlight;}
        .cumcorange_highlight {background-color: $cumcorange_highlight;}
        .cumcblue2_highlight {background-color: $cumcblue2_highlight;}
        .cumcblue_darken {background-color: $cumcblue_darken;}
        .cumcgray_darken {background-color: $cumcgray_darken;}
        .cumcgreen_darken {background-color: $cumcgreen_darken;}
        .cumcpink_darken {background-color: $cumcpink_darken;}
        .cumcorange_darken {background-color: $cumcorange_darken;}
        .cumcblue2_darken {background-color: $cumcblue2_darken;}
    }
.primary-colors li {height: 4em;}

}

/* ==========================================================================
   Basic Interface Stuff
   ========================================================================== */


a.active {
    background: $cumcblue2_highlight;
    color: white;
}

/* ==========================================================================
   Typography
   ========================================================================== */

article {
    > p:first-of-type {font-size: 1.25rem;}
    > p:first-of-type:first-letter {font-size: 1.5em; font-weight: $bold; letter-spacing: .05em;}
}