<!-- Global Header -->
       
        <section class="nav globalheader">
            <nav>
                <span class="globalNavToggle open">Columbia University Medical Center</span>
                <span class="globalNavToggle" >CUMC</span>
                <ul>
                    
                    <li><a href="">Home</a></li>
                    <li><a href="">Directory</a></li>
                    <li><a href="">Search</a></li>
                    <li><a href="">Maps and Directions</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            
        </section>
        <!-- End Global Header -->