 <nav class="utilitynav">
               <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="" class="active">News & Events</a></li>
                    <li><a href="">Maps & Directions</a></li>
                </ul>
            </nav>    
            <nav class="utilitynav internalnav">
                <ul>
                    <li><a href="" class=>Resources</a></li>
                    <li><a href="">How do I...?</a></li>
                    <li><a href="">Regulations</a></li>
                </ul>
            </nav>