<section class="nav globalfooter" id="accordion"> 
            <h3><strong>General Information</strong></h3>
                <div>          
                     <ul>     
                        <li><a target="_blank" href="http://www.columbia.edu/content/statement-public-access-accommodation.html">Accessibility at Columbia</a> </li>
                        <li><a href="">Security</a></li>
                        <li><a href="">Ethics and Compliance</a></li>
                        <li><a href="">HR</a></li>
                        <li><a href="">Sustainability</a></li>
                        <li><a href="">Emergency Information</a></li>
                        <li><a href="">Maps and Directions</a></li>
                        <li><a href="">Contact information</a></li>
                        <li><a href="">Giving</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Accessibility at Columbia</a></li>
                        <li><a href="">Comments</a></li>
                        <li><a href="">Social Media</a></li>
                    </ul>
                </div>
            <h3><strong>Research</strong></h3>
                <div>          
                    <ul>
                        
                        <li><a target="_blank" class="home" href="http://evpr.columbia.edu/">Office of the EVP for Research</a></li>
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/research/research-facilities">Research Facilities</a></li>
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/research/inventions-innovations">Inventions and Innovations</a></li>
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/research/research-administration">Research Administration</a></li>
                    </ul>
                    <strong>Sponsored Projects:</strong>
                    <ul>
                        
                        <li><a target="_blank" class="home" href="http://spa.columbia.edu/">Administration</a></li>
                        <li><a target="_blank" class="home" href="http://sponsoredprojectshandbook.columbia.edu/">Handbook</a></li>
                        <li><a target="_blank" title="Electronic Res.Admin(RASCAL)" class="home" href="https://www.rascal.columbia.edu/">Electronic Res. Admin(RASCAL)</a></li>
                        <li><a target="_blank" title="Reaserch Resources" class="home" href="http://www.cumc.columbia.edu/research/research-shared-facilities-name">Research Services &amp; Facilities (Cores)</a></li>
                    </ul>
                </div>
            <h3><strong>Education</strong></h3>
                <div>
                    <ul>
                        <li><a target="_blank" href="http://ps.columbia.edu/">College of Physicians and Surgeons</a></li>
                        <li><a target="_blank" href="http://dental.columbia.edu/">College of Dental Medicine</a></li>
                        <li><a target="_blank" href="http://www.mailman.columbia.edu/">Mailman School of Public Health</a></li>
                        <li><a target="_blank" href="http://www.nursing.columbia.edu/">School of Nursing</a></li>
                        <li><a target="_blank" href="http://sklad.cumc.columbia.edu/gsas/">Graduate School (Basic Science)</a></li>
                        <li><a href="http://www.cumc.columbia.edu/education/more_education">More About Education</a></li>
                    </ul>
                </div>
            <h3><strong>Patient Care</strong></h3>
                <div>
                    <ul>
                        
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/patient-care/findhealthcare">Find a Healthcare Provider</a></li>
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/patient-care/patient_resources">Patient Resources</a></li>
                        <li><a target="_blank" href="http://www.columbiaclinicaltrials.org/">Clinical Trials Office</a></li>
                        <li><a target="_blank" href="http://www.compliance.columbia.edu/hotline.html">Compliance</a></li>
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/hipaa/index.html">Privacy/HIPAA Information</a></li>
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/patient-care/hw_affiliates">Hospital Affiliates</a></li>

                    </ul>
                </div>
            <h3><strong>About CUMC</strong></h3>
                <div>
                    <ul>
                        
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/about/services-resources">Services &amp; Resources</a></li>
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/about/administration">Administration</a></li>
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/about/departments">A to Z Listing</a></li>
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/about/contact-us">Contact Us</a></li>
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/map">Maps &amp; Directions</a></li>
                        <li><a target="_blank" href="https://jobs.columbia.edu/">Jobs</a></li>
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/about/development-alumni">Development &amp; Alumni</a></li>
                        <li><a target="_blank" href="http://www.cumc.columbia.edu/about/donate">Donate</a></li>
                        <li><a target="_blank" href="http://eoaa.columbia.edu/employment-policies">Employment Policies and Procedures on Discrimination and Harassment</a></li>
                        <li><a target="_blank" href="http://eoaa.columbia.edu/student-policies">Student Polices on Discrimination and Harassment</a></li>
                        <li><a target="_blank" href="http://www.columbia.edu/cu/dpsa/index.html">Gender-based and Sexual Misconduct</a></li>
                    </ul>
                </div>
            <h3><strong>CUMC Newsroom</strong></h3>    
                <div>
                    <ul>
                        
                        <li><a target="_blank"href="http://www.cumc.columbia.edu/news-room/">News</a></li>
                        <li><a target="_blank"href="http://www.cumc.columbia.edu/news-room/category/news-releases/">Press Releases</a></li>
                        <li><a target="_blank"href="http://ps.columbia.edu/celebrates/">CUMC Celebrates</a></li>
                        <li><a target="_blank"href="http://www.cumc.columbia.edu/events">Events</a></li>
                    </ul>

                     
                    
                </div>
                <ul class="globalfooterbasics">
                    <li><span>General Information: 212 305-CUMC</span></li>
                    <li><a target="_blank" href="http://www.columbia.edu/help/copyright.html">&copy; 2014 Columbia University</a></li>
                    <li><a href="">Disclaimer</a></li>
                    <li><a href="">Sitemap</a></li>
                    <li><a href="">Contact Webmaster</a></li>
                </ul>
                <ul class="globalfooterbasics affiliations">    
                    <li><a href="">NewYork-Presbyterian (affiliation)</a></li>
                    <li><a href="">Columbia University (affiliation)</a></li>
                </ul>
        </section>