<!-- Site Header -->

        <section class="siteheader">

            <nav class="utilitynav">
               <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="" class="active">News & Events</a></li>
                    <li><a href="">Maps & Directions</a></li>
                </ul>
            </nav>    
            <nav class="utilitynav internalnav">
                <ul>
                    <li><a href="" class=>Resources</a></li>
                    <li><a href="">How do I...?</a></li>
                    <li><a href="">Regulations</a></li>
                </ul>
            </nav>

            <h1 class="logotype gray"><a href="index.html">Columbia University Medical Center</a></h1>

            <div class="navwrapper">
                <nav class="persistentnav missionnav">
                   <ul>
                        <li><a class="standardnav">Education</a></li>
                        <li><a class="verticalnav" >Research</a></li>
                        <li><a href="healthcareatcumc.html">Healtcare at CUMC</a></li>
                        <li><a href="" class="slideoutnav">Our Community</a></li>
                    </ul>
                </nav>
                <nav class="persistentnav orgnav">
                    <ul>
                        <li><a href="">Administrative Offices</a></li>
                        <li><a href="">Colleges</a></li>
                        <li><a href="">Directory</a></li>
                    </ul>
                </nav>
            </div>
            
            <nav class="breadcrumb">
                <ul>
                </ul>    
            </nav>    
        </section>

        <!-- End Site Header -->